<div class="pager" ng-show="pager.page_count > 1">
    <small style="margin:10px">Page {{ pager.page }} of {{ pager.page_count }}</small>
    <a ng-class="{disabled: !pager.hasPrev()}" ng-click='pager.pagePrev()' class="btn btn-default">Previous</a>
    <a ng-class="{disabled: !pager.hasNext()}" ng-click='pager.pageNext()' class="btn btn-default">Next</a>
</div>
