<div class="inventory-page">
    <h1 class="main-header" translate>Ready for collection</h1>
    <form class="filter-wrap">
        <fieldset>
            <legend translate>Filter items</legend>
            <div class="card bg-graylight">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label translate>Item ID #</label>
                                    <input type="text" class="form-control" placeholder="{{ 'Enter ID' | translate }}" ng-model="vm.searchParams.parcel__found_item" enter-submit="vm.search()" number-only>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label translate>Search keywords</label>
                                    <input type="text" class="form-control" placeholder="{{ 'Enter keywords' | translate }}" ng-model="vm.searchParams.search" enter-submit="vm.search()">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label translate>Filter by category</label>
                            <div ng-dropdown-multiselect=""
                                 ng-model="vm.selectedCategories"
                                 extra-settings="vm.multiselectSettings"
                                 options="vm.categories"
                                 events="vm.multiselectEvents"
                                 translation-texts="vm.multiselectTranslationTexts.categories">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label translate>Filter by item type</label>
                            <div ng-dropdown-multiselect=""
                                 ng-model="vm.selectedItemTypes"
                                 extra-settings="vm.multiselectSettings"
                                 options="vm.categoryItems"
                                 translation-texts="vm.multiselectTranslationTexts.itemTypes"
                                 ng-dropdown-multiselect-disabled="vm.selectedCategories.length === 0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label translate>From date</label>
                                    <div class="input-group">
                                        <input name="date" type="text" class="form-control input-md"
                                               uib-datepicker-popup="dd-MM-yyyy"
                                               ng-model="vm.dateObj.created__gte"
                                               is-open="vm.dateCreateStartOpen"
                                               show-weeks="false"
                                               ng-required="false"
                                               close-text="Close"
                                               autocomplete="off"
                                               show-button-bar="false"
                                               placeholder="{{ 'Select from date' | translate }}"
                                                />
                                        <div class="input-group-addon" ng-click="vm.dateCreateStartOpen=!vm.dateCreateStartOpen">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label translate>To date</label>
                                    <div class="input-group">
                                        <input name="date" type="text" class="form-control input-md"
                                               uib-datepicker-popup="dd-MM-yyyy"
                                               ng-model="vm.dateObj.created__lte"
                                               min-date = "vm.dateObj.created__gte"
                                               is-open="vm.dateCreateEndOpen"
                                               show-weeks="false"
                                               ng-required="false"
                                               close-text="Close"
                                               autocomplete="off"
                                               show-button-bar="false"
                                               placeholder="{{ 'Select until date' | translate }}"
                                                />
                                        <div class="input-group-addon" ng-click="vm.dateCreateEndOpen=!vm.dateCreateEndOpen">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>&nbsp;</label>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <button class="btn btn-secondary btn-block" ng-click="vm.clearSearch()"><i class="fa fa-close"></i>&nbsp;&nbsp; <span translate>Clear</span></button>
                                </div>
                                <div class="form-group col-xs-6">
                                    <button class="btn btn-primary btn-block" ng-click="vm.search()"><i class="fa fa-search"></i>&nbsp;&nbsp; <span translate>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="list-item-bar-header compact">
        <div class="row">
            <div class="col-sm-2" translate>Item ID</div>
            <div class="col-sm-3" translate>Item</div>
            <div class="col-sm-2" translate>Picked up by</div>
            <div class="col-sm-3" translate>Status</div>
            <div class="col-sm-2" translate>Date</div>
        </div>
    </div>
    <a ng-href="/hotel-dashboard/collection-ready/{{ item.id }}" class="list-item-bar compact no-animate" ng-repeat="item in vm.collectionItems.results">
        <span class="row">
            <span class="col-sm-2"><span class="mobile-label" translate>Item ID</span>      <span class="list-item"># {{ item.parcel.found_item.id }}</span></span>
            <span class="col-sm-3"><span class="mobile-label" translate>Item</span>         <span class="list-item">{{ item.parcel.found_item.category_name }}, {{ item.parcel.found_item.item_type_name }}, {{ item.parcel.found_item.description }}</span></span>
            <span class="col-sm-2"><span class="mobile-label" translate>Picked up by</span> <span class="list-item">{{ item.details.is_collection ? item.details.collector_name : 'Aramex couriers' }}</span></span>
            <span class="col-sm-3">
                <span class="mobile-label" translate>Status</span>
                <span class="list-item">
                    <span ng-if="item.details.is_collection" translate>Waiting for collection</span>
                    <span ng-if="!item.details.is_collection" translate>{{ item.details.transaction.is_paid ? 'Ready to be shipped' : 'Waiting for payment'  }}</span>
                </span>
            </span>
            <span class="col-sm-2"><span class="mobile-label" translate>Date</span><span class="list-item">{{ item.created | dateFormat }}</span></span>
        </span>
        <span class="arrow-right">
            <i class="icon-right-open"></i>
        </span>
    </a>
    <div ng-class="{'show':!vm.collectionItems.results.length}" class="hide list-item-bar compact" translate >No results found</div>
    <div class="pager-wrap" ng-show="vm.collectionItems.results.length" >
        <simple-pager resource="vm.collectionItems"></simple-pager>
    </div>
</div>
