<section class="banner bg-hotel-registration hotel-registration"
         cms-attr="{style: 'SignUpPage.background_image'}"
         data-tmpl="background: url('[style]') rgba(0, 0, 0, 0) no-repeat fixed center center / cover"
         data-default="/static/img/signup-bg.jpg">
    <div class="container-fluid padding-v w600" ng-switch="vm.step">
        <h1 class="text-center" translate cms="SignUpPage.header_text">Sign Up</h1>
        <div class="card">
            <div class="card-block card-fat">
                <form name="stepOne" ng-switch-when="1" novalidate>
                    <fieldset>
                        <legend class="text-primary" translate>Hotel details</legend>
                        <div class="form-group" show-errors>
                            <label><span translate>Domain name</span><span class="pop-over-icon"  popover-placement="auto right" popover-trigger="mouseenter"
                                      uib-popover="When entering your domain name be sure to exclude the www prefix e.g (returnhound.com). This is necessary in order to login with your Yammer account.">
                                    <i class="fa fa-question"></i>
                                </span></label>
                            <input name="stepOne-domain_name" class="form-control input-lg" type="text" placeholder="{{ 'Enter your hotel domain name(optional)' | translate }}" ng-model="vm.formData.stepOne.domain_name">
                        </div>
                        <div class="form-group" show-errors>
                            <label><span class="asterix">*</span> <span translate>Hotel name</span></label>
                            <input name="stepOne-name" class="form-control input-lg" type="text" placeholder="{{ 'Enter your hotel name' | translate }}" ng-model="vm.formData.stepOne.name" required>
                        </div>
                        <div class="form-group" show-errors>
                            <label><span translate>Number of rooms</span></label>
                            <input name="stepOne-number_of_rooms" ng-min="0" class="form-control input-lg" type="number" placeholder="{{ 'Enter number of rooms(optional)' | translate }}" ng-model="vm.formData.stepOne.number_of_rooms">
                            <span class="help-block" ng-show="stepOne.stepOne-number_of_rooms.$error.min && stepOne.stepOne-number_of_rooms.$touched">
                                Ensure this value is greater than or equal to 0.
                            </span>
                        </div>

                        <!-- shipping/aramex address fields -->
                        <shipping-address form="stepOne" model="vm.formData.stepOne.address"></shipping-address>

                    </fieldset>
                    <div class="middle-buttons">
                        <button type="button" class="center-block btn btn-primary btn-lg" ng-click="vm.setStep(2, stepOne)" translate>Next</button>
                    </div>
                </form>
                <form name="stepTwo" ng-switch-when="2">
                    <fieldset>
                        <legend class="text-primary" translate>Your details</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" show-errors>
                                    <label><span class="asterix">*</span> <span translate>First name</span></label>
                                    <input name="stepTwo-name" type="text" class="form-control input-lg" placeholder="{{ 'Enter your first name' | translate }}" ng-model="vm.formData.stepTwo.firstName" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" show-errors>
                                    <label><span class="asterix">*</span> <span translate>Last name</span></label>
                                    <input name="stepTwo-last-name" type="text" class="form-control input-lg" placeholder="{{ 'Enter your last name' | translate }}" ng-model="vm.formData.stepTwo.lastName" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" show-errors>
                                    <label><span class="asterix">*</span> <span translate>Contact number</span></label>
                                    <input name="stepTwo-contact" class="form-control input-lg" type="text" ng-intl-tel-input ng-model="vm.formData.stepTwo.contactNumber" placeholder="{{ 'Enter contact number' | translate }}" ng-required="true">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" show-errors>
                                    <label><span class="asterix">*</span> <span translate>Email address</span></label>
                                    <input name="email" type="text" class="form-control input-lg" ng-model="vm.formData.stepTwo.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="{{ 'Enter your email address' | translate }}" ensure-unique="email" required>
                                    <span class="help-block" ng-show="stepTwo.email.$error.pattern && stepTwo.email.$touched" translate>
                                        Please enter a valid email address.
                                    </span>
                                    <span class="help-block" ng-show="stepTwo.email.$error.is_unique && stepTwo.$submitted" translate>
                                        An account with this email address already exists.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate>How did you hear about us?</label>
                            <input type="text" class="form-control input-lg">
                        </div>
                        <div class="form-group text-center" ng-class="{'has-error':stepTwo.$submitted && !vm.formData.stepTwo.terms}">
                            <label>
                                <span class="custom-checkbox-styling">
                                    <input name="terms" type="checkbox" class="checkbox" ng-model="vm.formData.stepTwo.terms" required>
                                    <span class="custom-checkbox">
                                        <i class="icon-check"></i>
                                    </span>
                                </span>
                                <span class="label-text">
                                    <span class="asterix">*</span>
                                    <span translate>I agree to the</span> <a href="/terms-and-conditions" target="_blank" translate>terms & conditions</a>
                                </span>
                            </label>
                            <div class="help-block" ng-if="stepTwo.$submitted && !vm.formData.stepTwo.terms" translate>
                                Please accept the terms and conditions
                            </div>
                        </div>
                        <div class="form-group text-center" ng-class="{'has-error':stepTwo.$submitted && !vm.formData.stepTwo.recaptcha || stepTwo.recaptcha.$error.server}">
                            <div vc-recaptcha name="recaptcha" key="recaptchaKey" ng-model="vm.formData.stepTwo.recaptcha" class="recaptcha-block"></div>
                            <div class="help-block" ng-if="stepTwo.$submitted && !vm.formData.stepTwo.recaptcha || stepTwo.recaptcha.$error.server" translate>
                                Please make sure you pass the reCAPTCHA challenge
                            </div>
                        </div>
                    </fieldset>
                    <div class="middle-buttons">
                        <button type="button" class="btn btn-dark btn-lg" ng-click="vm.setStep(1)" translate>Back</button>
                        <button type="button" class="btn btn-primary btn-lg" ng-click="vm.createHotel(stepTwo)" translate>Next</button>
                    </div>
                </form>
                <div ng-switch-when="3" class="text-center" >
                    <div class="icon round xl text-primary"><i class="icon-check"></i></div>
                    <h3 class="text-primary" translate>Thank you for signing up with Return hound!</h3>
                    <br>
                    <p translate>A customer service consultant will contact you by telephone between 7:00am and
                        5:00 pm UTC+04:00 to confirm your company information provided. Afterwards
                        you will receive your log in credentials.
                    </p>
                    <br>
                    <div class="middle-buttons">
                        <a ng-href="/login" class="btn btn-lg btn-primary btn-logo-icon-right" translate>Go to my dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination">
            <li ng-class="{'active':vm.step==1}"></li>
            <li ng-class="{'active':vm.step==2}"></li>
            <li ng-class="{'active':vm.step==3}"></li>
        </ul>
    </div>
</section>
