<section class="bg-hotel bg-intro" >
    <div class="bg-image"
         cms-attr="{style: 'HotelZonePage.background_image'}"
         data-tmpl="background: url('[style]') rgba(0, 0, 0, 0) no-repeat center center / cover"
         data-default="/static/img/hotelzone-bg.jpg"></div>
    <div class="container-fluid table-wrap padding-v">
        <div class="center-cell">
            <h1 cms="HotelZonePage.main_header_text" translate>Redefining lost &amp; found for the global hotel industry</h1>
            <br>
            <p><a ng-href="/hotel-zone/register/step-1" class="btn btn-xl btn-primary" translate>Register Your Business</a></p>
            <p class="byline french-translation" translate cms="HotelZonePage.sub_header_text">It's FREE!</p>
        </div>
    </div>
    <div class="lost-banner">
        <div class="container-fluid">
            <div class="text-center">
                <h3 class="inline-block no-top-margin" translate cms="HotelZonePage.question">Have you lost something?</h3>&nbsp; &nbsp;
                <a ng-href="/report/step-1" class="btn btn-default btn-xl" translate>Get It Back!</a>
            </div>
        </div>
    </div>
</section>

<section class="lost-found"
         cms-attr="{style: 'HotelZonePage.lost_found_background_colour'}"
         data-default="#fff" data-tmpl="background: [style] none repeat scroll 0 0">
    <div class="container-fluid padding-v-extra text-center w960">
        <h1 translate cms="HotelZonePage.lost_found_header_text">Lost &amp; found &ndash; Without the fuss</h1>

        <img class="no-cost"
             cms-attr="{src: 'HotelZonePage.lost_found_no_cost_image'}"
             data-default="/static/img/no-cost.jpg" alt="No Cost">

        <h3 cms="HotelZonePage.lost_found_sub_header_text" translate>ReturnHound costs the hotel <strong>NOTHING</strong></h3>

        <p cms="HotelZonePage.lost_found_description" translate>Your guest will pay the courier fee required to return their lost item, which will be exactly
            the same rate they would be charged by going directly to the company. They also have the
            option to pay a USD 5 discretionary service charge, which we share between your team (USD 2),
            our sales teams (USD 2) and contributions to charitable causes through the RH Foundation (USD 1).</p>
    </div>
</section>

<section class="bg-automated"
         cms-attr="{style: 'HotelZonePage.process_background_image'}"
         data-tmpl="background: url('[style]') rgba(0, 0, 0, 0) no-repeat top center / cover"
         data-default="/static/img/automated-process-bg.jpg">
    <div class="container-fluid padding-v w960">
        <div class="v-center">
            <h3 translate cms="HotelZonePage.process_header_text">Automated process</h3>
            <p cms="HotelZonePage.process_description" translate>The ReturnHound system is complex, but let us worry about that. Your guests will breeze through our
                simple online form to register their lost item, and be automatically updated on our search and
                return, every step of the way. When we say we’re an end-to-end solution - we mean it. All we need
                from your team is a manual check of our match.</p>
            <a ng-href="/how-it-works" class="btn btn-white btn-xl" translate>Learn More</a>
        </div>
    </div>
    </div>
</section>

<section class="bg-primary watch-video"
         cms-attr="{style: 'HotelZonePage.video_background_colour'}"
         data-default="#027fba" data-tmpl="background: [style]">
    <div class="container-fluid padding-v-extra text-center w960">
        <h1 class="text-primary" translate cms="HotelZonePage.video_header_text">Watch the video</h1>
        <br>
        <div class="video-wrap">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315"
                        cms-attr="{src: 'HotelZonePage.video_link'}"
                        data-default="https://www.youtube.com/embed/Ejq02T6MpLI?rel=0&amp;showinfo=0"
                        frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="shadow1"
                 cms-attr="{style: 'HotelZonePage.video_shadow_colour'}"
                 data-default="#015c87" data-tmpl="background: [style] none repeat scroll 0 0"></div>
            <div class="shadow2"
                 cms-attr="{style: 'HotelZonePage.video_shadow_colour'}"
                 data-default="#015c87" data-tmpl="background: [style] none repeat scroll 0 0"></div>
        </div>
    </div>
</section>

<section class="hotel-testimonials testimonials"
         cms-attr="{style: 'HotelZonePage.testimonials_background_image'}"
         data-tmpl="background: url('[style]') rgba(0, 0, 0, 0) no-repeat center / cover"
         data-default="/static/img/hotel-testimonials-bg.jpg">
    <div class="container-fluid padding-v">
        <div ng-if="cms.data.HotelZonePage.testimonials" ng-repeat="testimonial in cms.data.HotelZonePage.testimonials">
            <blockquote class="text-center center-block">

                <h1><em>&quot;{{ testimonial.title }}&quot;</em></h1>
                <p>&quot;{{ testimonial.comment }}&quot;</p>
                <footer><cite title="Source Title">{{ testimonial.author }}</cite></footer>
            </blockquote>
            <div class="line"></div>
        </div>

        <div  ng-if="!cms.data.HotelZonePage.testimonials.length > 0">
            <blockquote class="text-center center-block">
                <h1><em>&quot;<span>A very inventive idea that hopefully will bring a ray of sunshine to the bleak world of Lost & Found</span>&quot;</em></h1>
                <p>&quot;<span>I travel frequently and often lose things along the way. After my recent experience with ReturnHound
                    I hope this becomes a hotel standard so that I always get my things back as efficiently</span>&quot;</p>
                <footer>Karim Jabar, <cite title="Source Title">SVP, Africa Development Bank</cite></footer>
            </blockquote>
            <div class="line"></div>
            <blockquote class="text-center center-block">
                <h1><em>&quot;<span>I love it.</span>&quot;</em></h1>
                <p>&quot;<span>It took 5 minutes of my time and my glasses were on their way back to me. I love it.</span>&quot;</p>
                <footer>Delphine Michel , <cite title="Source Title">Aix en Provence, France</cite></footer>
            </blockquote>
            <div class="line"></div>
            <blockquote class="text-center center-block">
                <h1><em>&quot;<span>This will change lost and found globally.</span>&quot;</em></h1>
                <p>&quot;<span>We are very excited to be partners and investors with ReturnHound.  This will change lost and found globally.</span>&quot;</p>
                <footer>Hussein Hachem, <cite title="Source Title">Chief Executive Officer, ARAMEX</cite></footer>
            </blockquote>
        </div>
    </div>
</section>

<section class="bg-primary"
         cms-attr="{style: 'HotelZonePage.get_started_background_colour'}"
         data-default="#027fba" data-tmpl="background: [style]">
    <div class="container-fluid padding-v-extra text-center w960">
        <h1 translate cms="HotelZonePage.get_started_header_text">Get started today</h1>
        <p class="text-larger" cms="HotelZonePage.get_started_description" translate>If you’re interested in making your lost &amp; found process a breeze, request a live demo and we’ll show you
            how ReturnHound can be the solution you’re looking for. If you understand how ReturnHound can be an
            asset to your company, you can sign up now, its free.</p>
        <br>
        <div class="middle-buttons">
            <a ng-href="/hotel-zone/request-a-demo" class="btn btn-white btn-xl" translate>Request a demo</a>
            <span class="btn-inbetween-text" translate>or</span>
            <a ng-href="/hotel-zone/register/step-1" class="btn btn-white btn-xl" translate>Sign Up</a>
        </div>
    </div>
</section>
