<ol class="breadcrumb">
    <li><a ng-href="/hotel-dashboard/inventory" translate>Found items</a></li>
    <li class="active" translate-comment="#{{ vm.foundItem.id }}: the Item ID number" translate>Item ID #{{ vm.foundItem.id }}</li>
</ol>
<h2 class="has-buttons-right" translate>Found item details</h2>
<div class="header-buttons-right">
    <button class="btn btn-primary-outline" onclick="window.history.go(-1)"><i class="fa fa-chevron-left"></i>&nbsp; <span translate>Back</span></button>
    <button class="btn btn-default" ng-click="vm.deleteFoundItem()" translate>Delete</button>
    <a class="btn btn-primary" ng-href="/hotel-dashboard/inventory/{{ vm.foundItem.id }}/edit" translate>Update</a>
</div>
<div class="clearfix"></div>

<div class="card bg-graylight">
    <div class="card-block">
        <h3 class="card-title">{{ vm.foundItem.category_name }} - {{ vm.foundItem.item_type_name }}
            <span ng-if="vm.foundItem.specification"> - {{ vm.foundItem.specification }}</span>
        </h3>
        <div class="row">
            <div class="col-sm-6">
                <p><strong translate>Description: </strong> {{ vm.foundItem.description }}</p>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Serial Number</strong></div>
                    <div class="col-xs-7">{{ vm.foundItem.serial_number ? vm.foundItem.serial_number : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Date logged</strong></div>
                    <div class="col-xs-7">{{ vm.foundItem.created | dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Date found</strong></div>
                    <div class="col-xs-7">{{ vm.foundItem.date | dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Dimensions (cm) </strong></div>
                    <div class="col-xs-7">
                        <span title="length">{{ vm.foundItem.length | number}} (l)</span> x
                        <span title="width">{{ vm.foundItem.width | number}} (w)</span> x
                        <span title="height">{{ vm.foundItem.height | number}} (h)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Weight</strong></div>
                    <div class="col-xs-7"> {{ vm.foundItem.weight | number}} kg</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item status</strong></div>
                    <div class="col-xs-7">{{ vm.foundItem.status ?  vm.foundItem.status.label : 'N/A'}}</div>
                </div>
                <div class="row" ng-if="vm.foundItem.status.name == 'ARCHIVED'">
                    <div class="col-xs-5"><strong translate>Status description</strong></div>
                    <div class="col-xs-7">{{ vm.foundItem.status_text ?  vm.foundItem.status_text : 'N/A'}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <br class="mobile-only">
                <h3 class="card-title text-gray" translate>Finding details</h3>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Area found</strong></div>
                    <div class="col-xs-7">{{ vm.foundItem.location }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Room Number</strong></div>
                    <div class="col-xs-7">{{ vm.foundItem.room_number ? vm.foundItem.room_number : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Found by</strong></div>
                    <div class="col-xs-7">{{ vm.foundItem.found_by }}</div>
                </div>
                <h3>
                    <span class="text-gray"><span translate>Currently stored at:</span> &nbsp;</span>
                    <span class="text-primary">{{ vm.foundItem.stored_at ? vm.foundItem.stored_at : 'N/A' }}</span>
                </h3>
            </div>
        </div>
        <div ng-if="vm.foundItem.images.length">
            <h3 class="text-primary" translate>Images</h3>
            <div class="report-images">
                <a href="{{ image.path }}" class="fancybox" rel="group{{ vm.foundItem.id }}" ng-repeat="image in vm.foundItem.images">
                    <img ng-src="{{ image.path }}" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>

<br>
<h3 ng-if="!vm.matchedItems.length" translate>No matches found yet.</h3>
<h3 ng-if="vm.matchedItems.length"><span class="text-gray" translate>Possible matches from</span> <span translate>reported lost items:</span></h3>

<div class="card bg-gray" ng-repeat="match in vm.matchedItems">

    <span class="anchor" id="compViewTop"></span>
    <div class="card animate-show no-bottom-margin" ng-show="match.showComparison">
        <span ng-click="match.showComparison = !match.showComparison" class="close-btn"><i class="fa fa-close"></i></span>
        <h3 class="card-block-title bg-graydark" translate>Comparison view </h3>
        <div class="card-block">
            <div class="item-comparison-view R-2-5-5">
                <div class="comparison-view-header">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2"></div>
                        <div class="col-xs-6 col-sm-5" translate>Found item details</div>
                        <div class="col-xs-6 col-sm-5" translate>Lost item details</div>
                    </div>
                </div>
                <div class="compared-items">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Item ID</div>
                        <div class="col-xs-6 col-sm-5"># {{ vm.foundItem.id }}</div>
                        <div class="col-xs-6 col-sm-5"># {{ match.comparedItem.pk }}</div>
                    </div>
                    <!--<h3>WHAT</h3>-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Category</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.foundItem.category_name }}</div>
                        <div class="col-xs-6 col-sm-5">{{ match.comparedItem.category }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Item type</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.foundItem.item_type_name }}</div>
                        <div class="col-xs-6 col-sm-5">{{ match.comparedItem.item_type }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Specified item type</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.foundItem.specification ? vm.foundItem.specification : 'N/A' }}</div>
                        <div class="col-xs-6 col-sm-5">{{ match.comparedItem.specification ? match.comparedItem.specification : 'N/A' }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Description</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.foundItem.description }}</div>
                        <div class="col-xs-6 col-sm-5">{{ match.comparedItem.description }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Serial number</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.foundItem.serial_number ? vm.foundItem.serial_number : 'N/A' }}</div>
                        <div class="col-xs-6 col-sm-5">{{ match.comparedItem.serial_number ? match.comparedItem.serial_number: 'N/A' }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Photos</div>
                        <div class="col-xs-6 col-sm-5">
                            <a ng-href="{{ image.path }}" ng-repeat="image in  vm.foundItem.images" class="fancybox" rel="group{{ vm.foundItem.id }}">
                                <img img-preload ng-src="{{ image.path }}" alt="" style="height: 100px;">
                            </a>
                            <p ng-if="!vm.foundItem.images.length">N/A</p>
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <a ng-href="{{ image }}" ng-repeat="image in  match.comparedItem.images" class="fancybox" rel="group{{ match.comparedItem.pk }}">
                                <img img-preload ng-src="{{ image }}" alt="" style="height: 100px;">
                            </a>
                            <p ng-if="!match.comparedItem.images.length">N/A</p>
                        </div>
                    </div>
                    <!--<h3>WHEN</h3>-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Dates</div>
                        <div class="col-xs-6 col-sm-5">
                            <div class="row">
                                <div class="col-sm-5"><strong translate>Item found on:</strong></div>
                                <div class="col-sm-7">{{ vm.foundItem.date | date: 'dd MMMM yyyy' }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"><strong translate>Item logged on:</strong></div>
                                <div class="col-sm-7">{{ vm.foundItem.created | date: 'dd MMMM yyyy' }}</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <div class="row">
                                <div class="col-sm-5"><strong translate>Item lost on:</strong></div>
                                <div class="col-sm-7">{{ match.comparedItem.date | date:'dd MMMM yyyy' }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"><strong translate>Item logged on:</strong></div>
                                <div class="col-sm-7">{{ match.comparedItem.created | date:'dd MMMM yyyy' }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"><strong translate>Arrival date:</strong></div>
                                <div class="col-sm-7">{{ match.comparedItem.arrival_date ? match.comparedItem.arrival_date: 'N/A' | date: 'dd MMMM yyyy'}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5"><strong translate>Departure date:</strong></div>
                                <div class="col-sm-7">{{ match.comparedItem.departure_date ? match.comparedItem.departure_date: 'N/A' | date: 'dd MMMM yyyy' }}</div>
                            </div>
                        </div>
                    </div>
                    <!--<h3>WHERE</h3>-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Area</div>
                        <div class="col-xs-6 col-sm-5">
                            <span><strong translate>Item found at:</strong></span>
                            {{ vm.foundItem.location ? vm.foundItem.location : 'N/A' }}
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <span><strong translate>Item last seen at:</strong></span>
                            {{ match.comparedItem.location ? match.comparedItem.location : 'N/A' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Room number</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.foundItem.room_number ? vm.foundItem.room_number : 'N/A'  }}</div>
                        <div class="col-xs-6 col-sm-5">{{ match.comparedItem.room_number ? match.comparedItem.room_number : 'N/A'  }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-block animate-show" ng-hide="match.showComparison">
        <h3 class="card-title">{{ match.category }} - {{ match.item_type }}
            <span ng-if="match.specification"> - {{ match.specification }}</span>
        </h3>
        <div class="row">
            <div class="col-sm-6">
                <p><strong translate>Description: </strong> {{ match.description || "No description provided" }}</p>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item ID</strong></div>
                    <div class="col-xs-7"># {{ match.pk }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Serial Number</strong></div>
                    <div class="col-xs-7">{{ match.serial_number ? match.serial_number : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Date logged</strong></div>
                    <div class="col-xs-7">{{ match.created| dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item lost on</strong></div>
                    <div class="col-xs-7">{{ match.date | dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item last seen at</strong></div>
                    <div class="col-xs-7">{{ match.location ? match.location : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Client's room number</strong></div>
                    <div class="col-xs-7">{{ match.room_number ? match.room_number : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item Status</strong></div>
                    <div class="col-xs-7">{{ match.status ? match.status.label : 'N/A' }}</div>
                </div>
                <div class="row" ng-if="match.status.name == 'ARCHIVED'">
                    <div class="col-xs-5"><strong translate>Status description</strong></div>
                    <div class="col-xs-7">{{ match.status_text ? match.status_text : 'N/A' }}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <br class="mobile-only">
                <h3 class="card-title text-gray" translate>Client's details</h3>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Name</strong></div>
                    <div class="col-xs-7">{{ match.name }} {{ match.last_name }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Contact number</strong></div>
                    <div class="col-xs-7">{{ match.contact_number }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Email</strong></div>
                    <div class="col-xs-7"><a href="mailto:{{ match.email }}">{{ match.email }}</a></div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Arrival date</strong></div>
                    <div class="col-xs-7">{{ match.arrival_date ? match.arrival_date : 'N/A' | dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Departure date</strong></div>
                    <div class="col-xs-7">{{ match.departure_date ? match.departure_date : 'N/A' | dateFormat }}</div>
                </div>
            </div>
        </div>
        <div ng-if="match.images.length">
            <h3 class="text-primary" translate>Images</h3>
            <div class="report-images">
                <a href="{{ image }}" ng-repeat="image in match.images" class="fancybox" rel="group{{ match.pk }}">
                    <img ng-src="{{ image }}" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="pull-sm-right center-btn-mobile">
            <button class="btn btn-dark btn-lg" ng-click="vm.compareItems(match); match.showComparison = !match.showComparison; vm.scrollTo('compViewTop');">
                <span ng-if="!match.showComparison" translate>View comparison mode</span>
                <span ng-if="match.showComparison" translate>Hide comparison mode</span>
            </button>
            <button ng-if="user.hotel.is_admin || user.hotel.is_supervisor" class="btn btn-primary btn-lg" ng-click="vm.selectFoundItemMatch(match)" translate>Select as match</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>




