<div class="log-item-page">
    <h1 class="main-header" translate>Log found item</h1>
    <form name="logItemForm" novalidate>
        <fieldset>
            <legend translate>What did you find?</legend>
            <div class="card bg-graylight sel-find">
                <div class="card-block">
                    <div class="row">
                        <div class="form-group col-sm-4" show-errors ng-class="{'has-error': logItemForm.category.$error.server}">
                            <label><span class="asterix">* </span><span translate>Select item category</span></label>
                            <select name="category" class="c-select form-control"
                                    ng-model="vm.formData.category"
                                    ng-change="vm.updateItemTypes(vm.formData.category.id)"
                                    ng-options="category.name for category in vm.categories.results track by category.id"
                                    required>
                                <option value='' translate>Select the item category</option>
                            </select>
                            <div ng-show="logItemForm.category.$error.server" class="help-block">
                                {{ logItemForm.category.serverError }}
                            </div>
                        </div>
                        <div class="form-group col-sm-4" show-errors ng-class="{'has-error': logItemForm.item_type.$error.server}">
                            <label><span class="asterix">* </span><span translate>Select the item</span></label>
                            <select name="item_type" class="c-select form-control"
                                    ng-disabled="!vm.formData.category"
                                    ng-model="vm.formData.categoryItem"
                                    ng-options="item.name for item in vm.categoryItems.results track by item.id"
                                    required>
                                <option value='' translate>Select the item category</option>
                            </select>
                            <div ng-show="logItemForm.item_type.$error.server" class="help-block">
                                {{ logItemForm.item_type.serverError }}
                            </div>
                        </div>
                        <div class="form-group col-sm-4" show-errors ng-if="vm.formData.categoryItem.name == 'Other' && vm.formData.category.name == 'Other'" ng-class="{'has-error': logItemForm.specification.$error.server}">
                            <label><span class="asterix">* </span><span translate>Please specify the item</span></label>
                            <input name="specification"
                                   type="text"
                                   class="form-control"
                                   placeholder=""
                                   ng-model="vm.formData.specification"
                                   ng-required="vm.formData.categoryItem.name == 'Other' && vm.formData.category.name == 'Other'">
                            <div ng-show="logItemForm.specification.$error.server" class="help-block">
                                {{ logItemForm.specification.serverError }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4" ng-class="{'has-error': logItemForm.serial_number.$error.server}">
                            <label translate>Serial / model number</label>
                            <input name="serial_number" type="text" class="form-control" placeholder="{{ 'Enter serial number' |translate }}" ng-model="vm.formData.serial">
                            <div ng-show="logItemForm.serial_number.$error.server" class="help-block">
                                {{ logItemForm.serial_number.serverError }}
                            </div>
                        </div>
                        <div class="form-group col-sm-8" show-errors ng-class="{'has-error': logItemForm.description.$error.server}">
                            <label><span class="asterix">* </span><span translate>Describe the item</span></label>
                            <input name="description" type="text" class="form-control" placeholder="{{ 'Example: Black cover with a crack on the right corner' |translate }}" ng-model="vm.formData.description" required>
                            <div ng-show="logItemForm.description.$error.server" class="help-block">
                                {{ logItemForm.description.serverError }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label translate>Upload photos</label>
                            <a class="btn btn-primary-outline btn-block"
                               type="file"
                               ngf-select="vm.imageUpload($files)"
                               accept="image/*"
                               ngf-multiple="true" translate>
                                Choose File</a>
                        </div>
                        <div class="col-sm-9">
                            <ul class="thumbnail-block">
                                <li ng-if="vm.formData.images" ng-repeat="image in vm.formData.images">
                                    <a href="{{ image.url }}" class="thumb-img fancybox" rel="group">
                                        <img ng-src="{{ image.url }}" alt="">
                                    </a>
                                    <div ng-click="vm.removeFoundItemImage($index)" class="close-thumb"><i class="icon-cancel-1"></i></div>
                                </li>
                                <li ng-if="file.progress !== 100 || file.error" ng-repeat="file in vm.files" ng-class="{'has-error': file.error}">
                                    <div ng-show="file.progress > 0" class="counter">{{file.progress}}%</div>
                                    <div ng-show="file.progress > 0" class="progress">
                                        <div ng-bind="file.progress + '%'" class="progress-bar" style="width: {{file.progress}}%;"></div>
                                    </div>
                                    <div ng-show="file.error" class="file-error"> {{ file.error }} </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend translate>When &amp; where did you find it?</legend>
                    <div class="card bg-graylight sel-when-where">
                        <div class="card-block">
                            <div class="row">
                                <div class="form-group col-sm-6" show-errors ng-class="{'has-error': logItemForm.date.$error.server || logItemForm.date.$error.date}">
                                    <label><span class="asterix">* </span><span translate>When was it found?</span></label>
                                    <div class="input-group">
                                        <input name="date" type="text" class="form-control" placeholder="dd-mm-yyyy"
                                               uib-datepicker-popup="dd-MM-yyyy"
                                               ng-model="vm.formData.date"
                                               is-open="vm.dateOpen"
                                               show-weeks="false"
                                               ng-required="true"
                                               close-text="Close"
                                               show-button-bar="false"
                                               autocomplete="off"
                                                />
                                        <div class="input-group-addon" ng-click="vm.dateOpen=!vm.dateOpen">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                    <div ng-show="logItemForm.date.$error.server" class="help-block">
                                        {{ logItemForm.date.serverError }}
                                    </div>
                                    <div ng-show="logItemForm.date.$error.date && logItemForm.date.$dirty && logItemForm.date.$touched" class="help-block">
                                        <span>Please check that the date is in the valid format 'dd-MM-yyyy'</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" show-errors ng-class="{'has-error': logItemForm.location.$error.server}">
                                    <label><span class="asterix">* </span><span translate>Where was it found?</span></label>
                                    <input name="location" type="text" class="form-control" placeholder="{{ 'Example: bathroom, lobby' |translate }}" ng-model="vm.formData.location" required>
                                    <div ng-show="logItemForm.location.$error.server" class="help-block">
                                        {{ logItemForm.location.serverError }}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" show-errors ng-class="{'has-error': logItemForm.found_by.$error.server}">
                                    <label><span class="asterix">* </span><span translate>Who found the item?</span></label>
                                    <input name="found_by" type="text" class="form-control" placeholder="{{ 'Name and surname' |translate }}" ng-model="vm.formData.founder" required>
                                    <div ng-show="logItemForm.found_by.$error.server" class="help-block">
                                        {{ logItemForm.found_by.serverError }}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" ng-class="{'has-error': logItemForm.room_number.$error.server}">
                                    <label translate>In which room?</label>
                                    <input name="room_number" type="text" class="form-control" placeholder="{{ 'Enter room number' |translate }}" ng-model="vm.formData.room">
                                    <div ng-show="logItemForm.room_number.$error.server" class="help-block">
                                        {{ logItemForm.room_number.serverError }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': logItemForm.stored_at.$error.server}">
                                <label translate>Where is the item currently stored?</label>
                                <input name="stored_at" type="text" class="form-control" placeholder="{{ 'Example: Reception, Manager&#8242;s office' |translate }}" ng-model="vm.formData.stored_at">
                                <div ng-show="logItemForm.stored_at.$error.server" class="help-block">
                                    {{ logItemForm.stored_at.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend translate>Owner details</legend>
                    <div class="card bg-graylight sel-owner">
                        <div class="card-block">
                            <div class="form-group">
                                <label translate>Do you know who this item belongs to?</label>
                                <div class="radio inline-radio">
                                    <label>
                                        <span class="custom-checkbox-styling">
                                            <input type="radio" ng-value="true" name="is_admin" ng-model="vm.hasOwnerDetails">
                                            <span class="custom-checkbox"><i class="icon-check"></i></span>
                                        </span>
                                        <span class="label-text" translate>Yes</span>
                                    </label>
                                </div>
                                <div class="radio inline-radio">
                                    <label>
                                        <span class="custom-checkbox-styling">
                                            <input type="radio" ng-value="false" name="is_admin" ng-model="vm.hasOwnerDetails">
                                            <span class="custom-checkbox"><i class="icon-check"></i></span>
                                        </span>
                                        <span class="label-text" translate>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row" ng-if="vm.hasOwnerDetails">
                                <div class="form-group col-sm-6" show-errors ng-class="{'has-error': logItemForm.owner_name.$error.server}">
                                    <label><span class="asterix">* </span><span translate>First name</span></label>
                                    <input name="owner_name" type="text" class="form-control" ng-model="vm.formData.owner_name" placeholder="{{ 'Owner&#8216;s first name' | translate }}" ng-required="vm.hasOwnerDetails">
                                    <div ng-show="logItemForm.owner_name.$error.server" class="help-block">
                                        {{ logItemForm.owner_name.serverError }}
                                    </div>
                                </div>

                                <div class="form-group col-sm-6" ng-class="{'has-error': logItemForm.owner_surname.$error.server}">
                                    <label translate>Last name</label>
                                    <input name="owner_surname" type="text" class="form-control" placeholder="{{ 'Owner&#8216;s last name' | translate }}" ng-model="vm.formData.owner_surname">
                                    <div ng-show="logItemForm.owner_surname.$error.server" class="help-block">
                                        {{ logItemForm.owner_surname.serverError }}
                                    </div>
                                </div>

                                <div class="form-group col-sm-6" show-errors ng-class="{'has-error': logItemForm.owner_contact_number.$error.server}">
                                    <label translate></span>Contact number</label>
                                    <input name="owner_contact_number" type="text" class="form-control" ng-intl-tel-input ng-model="vm.formData.owner_contact_number">
                                    <div ng-show="logItemForm.owner_contact_number.$error.server" class="help-block">
                                        {{ logItemForm.owner_contact_number.serverError }}
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 " show-errors ng-class="{'has-error': logItemForm.owner_email.$error.server}">
                                    <label><span class="asterix">* </span><span translate>Email address</span></label>
                                    <input name="owner_email" type="text" class="form-control" ng-model="vm.formData.owner_email" placeholder="{{ 'Owner&#8216;s email address' | translate }}" ng-required="vm.hasOwnerDetails">
                                    <div ng-show="logItemForm.owner_email.$error.server" class="help-block">
                                        {{ logItemForm.owner_email.serverError }}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                <label translate>Send email to owner?</label>
                                <div class="radio inline-radio">
                                    <label>
                                        <span class="custom-checkbox-styling">
                                            <input type="radio" ng-value="true" name="owner_send_email" ng-model="vm.formData.owner_send_email">
                                            <span class="custom-checkbox"><i class="icon-check"></i></span>
                                        </span>
                                        <span class="label-text">Yes</span>
                                    </label>
                                </div>
                                <div class="radio inline-radio">
                                    <label>
                                        <span class="custom-checkbox-styling">
                                            <input type="radio" ng-value="false" name="owner_send_email" ng-model="vm.formData.owner_send_email">
                                            <span class="custom-checkbox"><i class="icon-check"></i></span>
                                        </span>
                                        <span class="label-text">No</span>
                                    </label>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <fieldset>
            <legend translate>Item dimensions</legend>
            <div class="card bg-graylight sel-dimensions">
                <div class="card-block">
                    <div class="row row-compact-space-mobile">
                        <div class="form-group col-xs-6 col-sm-3" show-errors ng-class="{'has-error': logItemForm.length.$error.server}">
                            <label><span class="asterix">* </span><span translate>Length (cm)</span></label>
                            <input name="length" type="number" class="form-control" ng-model="vm.formData.length" min="0" max="100" placeholder="{{ 'Example: 15.5' | translate }}" required>
                                    <span class="help-block" ng-show="logItemForm.length.$invalid && logItemForm.length.$touched && logItemForm.length.$error.max">
                                        Value may not exceed 100cm
                                    </span>
                            <div ng-show="logItemForm.length.$error.server" class="help-block">
                                {{ logItemForm.length.serverError }}
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-sm-3" show-errors ng-class="{'has-error': logItemForm.width.$error.server}">
                            <label><span class="asterix">* </span><span translate>Width (cm)</span></label>
                            <input name="width" type="number" class="form-control" ng-model="vm.formData.width" min="0" max="100" placeholder="{{ 'Example: 15' |translate }}" required>
                                    <span class="help-block" ng-show="logItemForm.width.$invalid && logItemForm.width.$touched && logItemForm.width.$error.max">
                                        Value may not exceed 100cm
                                    </span>
                            <div ng-show="logItemForm.width.$error.server" class="help-block">
                                {{ logItemForm.width.serverError }}
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-sm-3" show-errors ng-class="{'has-error': logItemForm.height.$error.server}">
                            <label><span class="asterix">* </span><span translate>Height (cm)</span></label>
                            <input name="height" type="number" class="form-control" ng-model="vm.formData.height" min="0" max="100" placeholder="{{ 'Example: 10' | translate }}" required>
                                    <span class="help-block" ng-show="logItemForm.height.$invalid && logItemForm.height.$touched && logItemForm.height.$error.max">
                                        Value may not exceed 100cm
                                    </span>
                            <div ng-show="logItemForm.height.$error.server" class="help-block">
                                {{ logItemForm.height.serverError }}
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-sm-3" show-errors ng-class="{'has-error': logItemForm.weight.$error.server}">
                            <label><span class="asterix">* </span><span translate>Weight (kg)</span></label>
                            <input name="weight" type="number" class="form-control" ng-model="vm.formData.weight" min="0" max="100" placeholder="{{ 'Example: 1.7' | translate }}" required>
                                     <span class="help-block" ng-show="logItemForm.weight.$invalid && logItemForm.weight.$touched && logItemForm.weight.$error.max" translate>
                                        Value may not exceed 100kg
                                     </span>
                            <div ng-show="logItemForm.weight.$error.server" class="help-block">
                                {{ logItemForm.weight.serverError }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-buttons-right">
            <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="vm.logItem(logItemForm)" translate>Log item</button>
        </div>
    </form>
</div>
