<ol class="breadcrumb">
    <li><a ng-href="/hotel-dashboard/lost-items" translate>Lost items</a></li>
    <li class="active" translate-comment="#{{ vm.lostItem.id }}: the Item ID number" translate>Item ID #{{ vm.lostItem.id }}</li>
</ol>
<h2 class="has-buttons-right" translate>Lost item details</h2>
<div class="header-buttons-right">
    <button class="btn btn-primary-outline" onclick="window.history.go(-1)"><i class="fa fa-chevron-left"></i>&nbsp; Back</button>
</div>
<div class="clearfix"></div>

<div class="card bg-gray">
    <div class="card-block">
        <h3 class="card-title">{{ vm.lostItem.category.name }} - {{ vm.lostItem.item_type.name }}
            <span ng-if="vm.lostItem.specification"> - {{ vm.lostItem.specification }}</span>
        </h3>
        <div class="row">
            <div class="col-sm-6">
                <p><strong translate>Description: </strong>{{ vm.lostItem.description || "No description provided" }}</p>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Serial Number</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.serial_number ? vm.lostItem.serial_number : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Date logged</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.created | dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item lost on</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.date ? vm.lostItem.date : 'N/A' | dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item last seen at</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.location ? vm.lostItem.location : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Client's room Number</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.room_number ? vm.lostItem.room_number : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item status</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.status ? vm.lostItem.status.label : 'N/A' }}</div>
                </div>
                <div class="row" ng-if="vm.lostItem.status.name == 'ARCHIVED'">
                    <div class="col-xs-5"><strong translate>Item status</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.status_text ? vm.lostItem.status_text : 'N/A' }}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <br class="mobile-only">
                <h3 class="card-title text-gray" translate>Client's details</h3>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Name</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.created_by.first_name }} {{ vm.lostItem.created_by.last_name }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Contact number</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.created_by.contact_number }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5"><strong translate>Email</strong></div>
                    <div class="col-xs-12 col-sm-7"><a href="mailto:{{ vm.lostItem.created_by.email }}" class="ellip-field">{{ vm.lostItem.created_by.email }}</a>
                        <br class="mobile-only"><br class="mobile-only">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Arrival date</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.arrival_date ? vm.lostItem.arrival_date : 'N/A' | dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Departure date</strong></div>
                    <div class="col-xs-7">{{ vm.lostItem.departure_date ? vm.lostItem.departure_date : 'N/A' | dateFormat }}</div>
                </div>
            </div>
        </div>
        <div ng-if="vm.lostItem.images.length">
            <h3 class="text-primary">Images</h3>
            <div class="report-images">
                <a href="{{ image.path }}" ng-repeat="image in vm.lostItem.images" class="fancybox" rel="group{{ vm.lostItem.id }}">
                    <img ng-src="{{ image.path }}" alt=""/>
                </a>
            </div>
        </div>
    </div>
</div>

<br>
<h3 ng-if="!vm.matchedItems.length" translate>No matches found yet.</h3>

<h3 ng-if="vm.matchedItems.length"><span class="text-gray" translate>Possible matches from</span> <span translate>found items inventory:</span></h3>

<div class="card bg-graylight" ng-repeat="match in vm.matchedItems">

    <div class="card-block animate-show">
        <h3 class="card-title">{{ match.category }} - {{ match.item_type }}
            <span ng-if="match.specification"> - {{ match.specification }}</span>
        </h3>
        <div class="row">
            <div class="col-sm-6">
                <p><strong translate>Description: </strong>{{ match.description || "No description provided" }}</p>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item ID</strong></div>
                    <div class="col-xs-7"># {{ match.pk }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Serial Number</strong></div>
                    <div class="col-xs-7">{{ match.serial_number ? match.serial_number : 'N/A' }}</div>
                </div>

                <div class="row">
                    <div class="col-xs-5"><strong translate>Date logged</strong></div>
                    <div class="col-xs-7">{{ match.created| dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Date found</strong></div>
                    <div class="col-xs-7">{{ match.date| dateFormat }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item Status</strong></div>
                    <div class="col-xs-7">{{ match.status ? match.status.label : 'N/A' }}</div>
                </div>
                <div class="row" ng-if="match.status.name == 'ARCHIVED'">
                    <div class="col-xs-5"><strong translate>Item Status</strong></div>
                    <div class="col-xs-7">{{ match.status_text }}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <br class="mobile-only">
                <h3 class="card-title text-gray" translate>Finding details</h3>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Area found in</strong></div>
                    <div class="col-xs-7">{{ match.location ? match.location : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Found by</strong></div>
                    <div class="col-xs-7">{{ match.found_by }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Room number</strong></div>
                    <div class="col-xs-7">{{ match.room_number ? match.room_number : 'N/A' }}</div>
                </div>
            </div>
        </div>
        <div ng-if="match.images.length">
            <h3 class="text-primary" translate>Images</h3>
            <div class="report-images">
                <a href="{{ image }}" class="fancybox" rel="group{{ match.pk }}" ng-repeat="image in match.images">
                    <img ng-src="{{ image }}" alt="" />
                </a>
            </div>
        </div>
        <div class=" pull-right">
            <button class="btn btn-primary btn-lg" ng-click="vm.selectLostItemMatch(match)" translate>Select as match</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>




