<div class="lost-items-page">
    <h1 class="main-header" translate>Lost items</h1>
    <form class="filter-wrap">
        <fieldset>
            <legend translate>Filter items</legend>
            <div class="card bg-graylight">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label translate>Item ID #</label>
                                    <input type="text" class="form-control" placeholder="{{ 'Enter ID' |translate }}" ng-model="vm.searchParams.pk" enter-submit="vm.search()" number-only>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label translate>Search keywords</label>
                                    <input type="text" class="form-control" placeholder="{{ 'Enter keywords' |translate }}" ng-model="vm.searchParams.search" enter-submit="vm.search()">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label translate>Filter by category</label>
                            <div ng-dropdown-multiselect=""
                                 ng-model="vm.selectedCategories"
                                 extra-settings="vm.multiselectSettings"
                                 options="vm.categories"
                                 events="vm.multiselectEvents"
                                 translation-texts="vm.multiselectTranslationTexts.categories">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label translate>Filter by item type</label>
                            <div ng-dropdown-multiselect=""
                                 ng-model="vm.selectedItemTypes"
                                 extra-settings="vm.multiselectSettings"
                                 options="vm.categoryItems"
                                 translation-texts="vm.multiselectTranslationTexts.itemTypes"
                                 ng-dropdown-multiselect-disabled="vm.selectedCategories.length === 0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label translate>From date</label>
                                    <div class="input-group">
                                        <input name="date" type="text" class="form-control input-md"
                                               uib-datepicker-popup="dd-MM-yyyy"
                                               ng-model="vm.dateObj.created__gte"
                                               is-open="vm.dateCreateStartOpen"
                                               show-weeks="false"
                                               ng-required="false"
                                               close-text="Close"
                                               autocomplete="off"
                                               show-button-bar="false"
                                               placeholder="{{ 'Select from date' |translate }}"
                                                />
                                        <div class="input-group-addon" ng-click="vm.dateCreateStartOpen=!vm.dateCreateStartOpen">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label translate>To date</label>
                                    <div class="input-group">
                                        <input name="date" type="text" class="form-control input-md"
                                               uib-datepicker-popup="dd-MM-yyyy"
                                               ng-model="vm.dateObj.created__lte"
                                               min-date = "vm.dateObj.created__gte"
                                               is-open="vm.dateCreateEndOpen"
                                               show-weeks="false"
                                               ng-required="false"
                                               close-text="Close"
                                               autocomplete="off"
                                               show-button-bar="false"
                                               placeholder="{{ 'Select until date' |translate }}"
                                                />
                                        <div class="input-group-addon" ng-click="vm.dateCreateEndOpen=!vm.dateCreateEndOpen">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>&nbsp;</label>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <button class="btn btn-secondary btn-block" ng-click="vm.clearSearch()"><i class="fa fa-close"></i>&nbsp;&nbsp; <span translate>Clear</span></button>
                                </div>
                                <div class="form-group col-xs-6">
                                    <button class="btn btn-primary btn-block" ng-click="vm.search()"><i class="fa fa-search"></i>&nbsp;&nbsp; <span translate>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="row">
        <div class="col-sm-9 col-lg-10">
            <div class="row">
                <div class="form-group col-xs-6 col-sm-5">
                    <label>Mark selected item as</label>
                    <select name="status" class="c-select form-control"
                            ng-model="vm.itemStatus"
                            ng-options="status.label for status in vm.statuses track by status.value">
                        <option value='' translate>Select the item status</option>
                    </select>
                </div>

                <div class="form-group col-xs-6 col-sm-5" ng-if="vm.itemStatus.value">
                    <label><span class="asterix">* </span><span translate>Status description</span></label>
                    <input name="status_text" type="text" class="form-control" ng-model="vm.itemStatusText" placeholder="Example: Item destroyed" required>
                </div>

                <div class="form-group col-xs-12 col-sm-2">
                    <label class="hidden-xs">&nbsp;</label>
                    <button class="btn btn-primary btn-block" ng-click="vm.updateItemStatus()"><span translate>Save</span></button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-2">
            <div class="form-group">
                <label class="hidden-xs">&nbsp;</label>
                <button download="payment_report.csv" class="btn btn-primary-outline btn-block" ng-click="vm.exportCSV()">
                    <i class="fa fa-file-excel-o"></i>&nbsp;&nbsp; <span translate>Export CSV</span>
                </button>
            </div>
        </div>
    </div>

    <div class="list-item-bar-header compact">
        <div class="row text-uppercase text-primary">
            <div class="col-sm-1" translate></div>
            <div class="col-sm-1" translate>Item ID</div>
            <div class="col-sm-2" translate>Category</div>
            <div class="col-sm-2" translate>Type</div>
            <div class="col-sm-3" translate>Description</div>
            <div class="col-sm-1" translate>Matches</div>
            <div class="col-sm-2" translate>Date reported</div>
        </div>
    </div>
    <a ng-href="/hotel-dashboard/lost-items/{{ lostItem.id }}" class="list-item-bar compact  no-animate" ng-repeat="lostItem in vm.lostItems.results">

    <span class="row">
        <span class="col-sm-1">
            <span class="custom-checkbox-styling" align="center" ng-click="$event.stopPropagation()">
            <input type="checkbox" ng-click="vm.selectItem(lostItem.id)">
            <span class="custom-checkbox"><i class="icon-check"></i></span>
            </span>
        </span>


        <span class="col-sm-1"><span class="mobile-label" translate>Item ID</span>          <span class="list-item"># {{ lostItem.id }}</span></span>
        <span class="col-sm-2"><span class="mobile-label" translate>Category</span>         <span class="list-item">{{ lostItem.category.name }}</span></span>
        <span class="col-sm-2"><span class="mobile-label" translate>Type</span>             <span class="list-item">{{ lostItem.item_type.name }}</span></span>
        <span class="col-sm-3"><span class="mobile-label" translate>Description</span>      <span class="list-item">{{ lostItem.description }}</span></span>
        <span class="col-sm-1"><span class="mobile-label" translate>Matches</span>          <span class="list-item"><span class="badge">{{ lostItem.match_count }}</span></span></span>
        <span class="col-sm-2"><span class="mobile-label" translate>Date reported</span>    <span class="list-item">{{ lostItem.created | dateFormat }}</span></span>
    </span>
    <span class="arrow-right">
        <i class="icon-right-open"></i>
    </span>
    </a>
    <div ng-class="{'show':!vm.lostItems.results.length}" class="hide list-item-bar compact" translate >No results found</div>
    <div class="pager-wrap" ng-show="vm.lostItems.results.length">
        <simple-pager resource="vm.lostItems"></simple-pager>
    </div>
</div>

