<ol class="breadcrumb">
    <li><a ng-href="/hotel-dashboard/matched-items" translate>Matched items</a></li>
    <li class="active" translate-comment="#{{ vm.matchedItem.id }}: the Item ID number" translate>Item ID #{{ vm.matchedItem.id }}</li>
</ol>
<h2 class="has-buttons-right" translate>Matched item details</h2>
<div class="header-buttons-right">
    <button class="btn btn-primary-outline" onclick="window.history.go(-1)"><i class="fa fa-chevron-left"></i>&nbsp; <span translate>Back</span></button>
    <!-- TODO: implement functionality for these buttons -->
    <!-- Remove delete button until we get further clarity on if a matched item can be deleted
    <div class="disabled-feature">
        <button class="btn btn-default" ng-click="" translate>Delete match</button>
    </div>
    -->
</div>
<div class="clearfix"></div>

<div class="matched-item-detail-page">
    <!-- Status -->
    <div class="card">
        <h3  class="card-block-title" translate>Status</h3>
        <div class="card-block">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3 class="no-top-margin"><strong><span class="text-primary text-label" translate>Matched date:&nbsp; </span> {{ vm.matchedItem.created | date: 'dd MMMM yyyy' }}</strong></h3>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3 class="no-top-margin"><strong><span class="text-primary text-label" translate>Item stored at:&nbsp; </span>
                        {{ vm.matchedItem.found_item_object.stored_at ? vm.matchedItem.found_item_object.stored_at : 'N/A' }}
                    </strong>
                    </h3>
                </div>
            </div>

            <!-- IF STATUS PENDING CONFIRMATION -->
            <!-- TODO: Rename status_display "Pending" to "Pending confirmation from owner " -->
            <div class="row">
                <div class="col-xs-6 col-sm-3"><strong translate>Status:</strong></div>
                <div class="col-xs-6 col-sm-3">{{ vm.matchedItem.status_display | translate }}</div><!-- "Pending confirmation from owner", "Pending shipping & payment confirmation" -->
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3"><strong translate>Owner notified on:</strong></div>
                <div class="col-xs-6 col-sm-3">{{ vm.matchedItem.created | date: 'dd MMMM yyyy' }}</div>
            </div>

            <!-- IF STATUS PENDING SHIPPING / PAYMENT
            <div class="row">
                <div class="col-md-6">Status:</div>
                <div class="col-md-6">Pending shipping & payment confirmation</div>
            </div>
            <div class="row">
                <div class="col-md-6">Payment date:</div>
                <div class="col-md-6">01/010/0101</div>
            </div>-->
        </div>
    </div>

    <!-- Shipping & owner details -->
    <div class="row mh-detail-blocks">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title" translate>Shipping details</h3>
                    <div>{{ vm.address.line1 }}</div>
                    <div ng-if="vm.address.line2 ">{{ vm.address.line2 }}</div>
                    <div>{{ vm.address.country.name }}</div>
                    <div>{{ vm.address.region.name }}</div>
                    <div>{{ vm.address.city }}</div>
                    <div ng-if="vm.address.post_code">{{ vm.address.post_code }}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title" translate>Owner details</h3>
                    <div class="row">
                        <div class="col-md-6 m-col-label" translate>Full name</div>
                        <div class="col-md-6">{{ vm.matchedItem.lost_item_object.created_by.first_name || 'N/A' }} {{ vm.matchedItem.lost_item_object.created_by.last_name || 'N/A' }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 m-col-label" translate>Contact number</div>
                        <div class="col-md-6">{{ vm.matchedItem.lost_item_object.created_by.contact_number }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 m-col-label" translate>Email address</div>
                        <div class="col-md-6">{{ vm.matchedItem.lost_item_object.created_by.email }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <h3 class="card-block-title bg-graydark" translate>Comparison view</h3>
        <div class="card-block">
            <div class="item-comparison-view R-2-5-5">
                <div class="comparison-view-header">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2"></div>
                        <div class="col-xs-6 col-sm-5" translate>Lost item details</div>
                        <div class="col-xs-6 col-sm-5" translate>Found item details</div>
                    </div>
                </div>
                <div class="compared-items">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Item ID</div>
                        <div class="col-xs-6 col-sm-5">#{{ vm.matchedItem.lost_item_object.id }}</div>
                        <div class="col-xs-6 col-sm-5">#{{ vm.matchedItem.found_item_object.id }}</div>
                    </div>
                    <!--<h3>WHAT</h3>-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Category</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.lost_item_object.category.name }}</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.found_item_object.category_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Item type</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.lost_item_object.item_type.name }}</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.found_item_object.item_type_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Specified item type</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.foundItem.specification ? vm.foundItem.specification : 'N/A' }}</div>
                        <div class="col-xs-6 col-sm-5">{{ match.comparedItem.specification ? match.comparedItem.specification : 'N/A' }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Description</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.lost_item_object.description }}</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.found_item_object.description }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Serial number</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.lost_item_object.serial_number ? vm.matchedItem.lost_item_object.serial_number : 'N/A' }}</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.found_item_object.serial_number ? vm.matchedItem.found_item_object.serial_number: 'N/A' }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Photos</div>
                        <div class="col-xs-6 col-sm-5">
                            <a ng-href="{{ image.path }}" ng-repeat="image in  vm.matchedItem.lost_item_object.images" class="fancybox">
                                <img img-preload ng-src="{{ image.path }}" alt="" style="height: 100px;">
                            </a>
                            <p ng-if="!vm.matchedItem.lost_item_object.images">N/A</p>
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <a ng-href="{{ image.path }}" ng-repeat="image in  vm.matchedItem.found_item_object.images" class="fancybox">
                                <img img-preload ng-src="{{ image.path }}" alt="" style="height: 100px;">
                            </a>
                            <p ng-if="!vm.matchedItem.found_item_object.images">N/A</p>
                        </div>
                    </div>
                    <!--<h3>WHEN</h3>-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Dates</div>
                        <div class="col-xs-6 col-sm-5">
                            <div class="row table-row">
                                <div class="col-sm-5 m-col-label"><strong translate>Item lost on:</strong></div>
                                <div class="col-sm-7">{{ vm.matchedItem.lost_item_object.date | date:'dd MMMM yyyy' }}</div>
                            </div>
                            <div class="row table-row">
                                <div class="col-sm-5 m-col-label"><strong translate>Item logged on:</strong></div>
                                <div class="col-sm-7">{{ vm.matchedItem.lost_item_object.created | date:'dd MMMM yyyy' }}</div>
                            </div>
                            <div class="row table-row">
                                <div class="col-sm-5 m-col-label"><strong translate>Arrival date:</strong></div>
                                <div class="col-sm-7" ng-if="vm.matchedItem.lost_item_object.arrival_date">{{ vm.matchedItem.lost_item_object.arrival_date | date: 'dd MMMM yyyy'}}</div>
                                <div class="col-sm-7" ng-if="!vm.matchedItem.lost_item_object.arrival_date">N/A</div>
                            </div>
                            <div class="row table-row">
                                <div class="col-sm-5 m-col-label"><strong translate>Departure date:</strong></div>
                                <div class="col-sm-7" ng-if="vm.matchedItem.lost_item_object.departure_date">{{ vm.matchedItem.lost_item_object.departure_date | date: 'dd MMMM yyyy'}}</div>
                                <div class="col-sm-7" ng-if="!vm.matchedItem.lost_item_object.departure_date">N/A</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <div class="row table-row">
                                <div class="col-sm-5 m-col-label"><strong translate>Item found on:</strong></div>
                                <div class="col-sm-7">{{ vm.matchedItem.found_item_object.date | date: 'dd MMMM yyyy' }}</div>
                            </div>
                            <div class="row table-row">
                                <div class="col-sm-5 m-col-label"><strong translate>Item logged on:</strong></div>
                                <div class="col-sm-7">{{ vm.matchedItem.found_item_object.created | date: 'dd MMMM yyyy' }}</div>
                            </div>
                        </div>
                    </div>
                    <!--<h3>WHERE</h3>-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Area</div>
                        <div class="col-xs-6 col-sm-5">
                            <span ng-if="vm.matchedItem.lost_item_object.location"><strong translate>Item last seen at:</strong></span>
                            {{ vm.matchedItem.lost_item_object.location ? vm.matchedItem.lost_item_object.location : 'N/A' }}

                        </div>
                        <div class="col-xs-6 col-sm-5">
                            <span ng-if="vm.matchedItem.found_item_object.location"><strong translate>Item found at:</strong></span>
                            {{ vm.matchedItem.found_item_object.location ? vm.matchedItem.found_item_object.location : 'N/A' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 tcv-title" translate>Room number</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.lost_item_object.room_number ? vm.matchedItem.lost_item_object.room_number : 'N/A'  }}</div>
                        <div class="col-xs-6 col-sm-5">{{ vm.matchedItem.found_item_object.room_number ? vm.matchedItem.found_item_object.room_number : 'N/A'  }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
