<section class="banner bg-intro">
    <div class="container-fluid table-wrap padding-v">
        <div class="bg-image"
             cms-attr="{style: 'HomePage.background_image'}"
             data-tmpl="background: url('[style]') rgba(0, 0, 0, 0) no-repeat center center / cover"
             data-default="/static/img/clientzone-home-bg.jpg"></div>
        <div class="center-cell">
            <h1 translate cms="HomePage.main_header_text">We'll find your lost items</h1>
            <p class="byline" translate cms="HomePage.sub_header_text">and get them to your door!</p>
            <br>
            <p><a href="/report/step-1" class="btn btn-xl btn-bgintro-xl-icon btn-primary btn-logo-icon-right" translate>Report lost item</a></p>
        </div>
    </div>
</section>
<section class="banner how-it-works-banner"
         cms-attr="{style: 'HomePage.how_it_works_background_colour'}"
         data-default="#fff" data-tmpl="background: [style] none repeat scroll 0 0">
    <div class="container-fluid padding-v-extra text-center">
        <h1 translate cms="HomePage.how_it_works_header_text">How it works</h1>
        <h2 class="text-primary" cms="HomePage.how_it_works_sub_header_text" translate>3 easy steps!</h2>
        <br>
        <div class="row" ng-if="cms.data.HomePage.how_it_works_steps.length > 0">
            <div class="col-sm-4" ng-repeat="item in cms.data.HomePage.how_it_works_steps">
                <p><img src="{{ item.image }}" alt="1"></p>
                <p><span class="caps text-steps-1" translate>{{ item.main_text }}</span><br>
                    <span class="text-primary text-steps-2" translate>{{ item.info_text }}</span></p>
            </div>
			<div ng-if="$index == cms.data.HomePage.how_it_works_steps.length - 1" class="clearfix"></div>
        </div>

        <div class="row" ng-if="!cms.data.HomePage.how_it_works_steps.length > 0">
            <div class="col-sm-4">
                <p><img src="/static/img/dog-01.png" alt="1"></p>
                <p><span class="caps text-steps-1" translate>Report your lost item</span><br>
                    <span class="text-primary text-steps-2" translate>We'll track it down...</span></p>
            </div>
            <div class="col-sm-4">
                <p><img src="/static/img/dog-02.png" alt="2"></p>
                <p><span class="caps text-steps-1" translate>When a match is found</span><br>
                    <span class="text-primary text-steps-2" translate>We'll notify you.</span></p>
            </div>
            <div class="col-sm-4">
                <p><img src="/static/img/dog-03.png" alt="3"></p>
                <p><span class="caps text-steps-1" translate>Your item(s) are returned</span><br>
                    <span class="text-primary text-steps-2" translate>We'll deliver it to your door!</span></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="middle-buttons">
            <a ng-href="/how-it-works" class="btn btn-xl btn-primary" translate>Read more</a>
        </div>
    </div>
</section>
<section class="banner bg-primary watch-video"
         cms-attr="{style: 'HomePage.video_background_colour'}"
         data-default="#027fba" data-tmpl="background: [style]">
    <div class="container-fluid padding-v-extra text-center w960">
        <h1 class="text-primary" translate cms="HomePage.video_header_text">Watch The Video</h1>
        <br>
        <div class="video-wrap">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315"
                        cms-attr="{src: 'HomePage.video_link'}"
                        data-default="https://www.youtube.com/embed/bwZYFrj59Q4?rel=0&amp;showinfo=0"
                        frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="shadow1"
                 cms-attr="{style: 'HomePage.video_shadow_colour'}"
                 data-default="#015c87" data-tmpl="background: [style] none repeat scroll 0 0"></div>
            <div class="shadow2"
                 cms-attr="{style: 'HomePage.video_shadow_colour'}"
                 data-default="#015c87" data-tmpl="background: [style] none repeat scroll 0 0"></div>
        </div>
    </div>
</section>
<section class="banner press-release"
         cms-attr="{style: 'HomePage.press_background_colour'}"
         data-default="#fff" data-tmpl="background: [style] none repeat scroll 0 0">
    <div class="container-fluid padding-v-extra text-center">
        <h1 class="text-primary" translate cms="HomePage.press_header_text">What the press says</h1>
        <h2 translate cms="HomePage.press_info_text" class="french-translation">See what the press has to say. Check out some of our latest reviews &amp; featured articles.</h2>
        <blockquote class="text-center center-block">
            <h1>&quot;<span translate cms="HomePage.press_comment_text">"A start-up has solved the lost and found crisis"</span>&quot;</h1>

            <div ng-if="cms.data.HomePage.press_releases">
                <img ng-repeat="press_release in cms.data.HomePage.press_releases" src="{{ press_release.image }}" alt="logo" height="24">
            </div>

            <div ng-if="!cms.data.HomePage.press_releases.length > 0">
            <img src="/static/img/press_release/hotelier-logo.png" alt="Hoteliermiddleeast.com" height="24">
            <img src="/static/img/press_release/arabian-industry-logo.png" alt="Arabianindustry.com" height="25">
            <img src="/static/img/press_release/cne-logo.png" alt="Company News in Egypt" height="97">
            </div>
        </blockquote>
        <br>
        <p><a href="/press-releases" class="btn btn-primary btn-xl" translate>Check it out</a></p>
    </div>
</section>
<section class="banner testimonials"
         cms-attr="{style: 'HomePage.testimonials_background_image'}"
         data-tmpl="background: url('[style]') rgba(0, 0, 0, 0) no-repeat center / cover"
         data-default="/static/img/testimonials_bg.jpg">
    <div class="container-fluid padding-v-extra">
        <div ng-if="cms.data.HomePage.testimonials" ng-repeat="testimonial in cms.data.HomePage.testimonials">
            <blockquote  class="text-center center-block">
                <h1><em>&quot;{{ testimonial.title }}&quot;</em></h1>
                <p>&quot;{{ testimonial.comment }}&quot;</p>
                <footer><cite title="Source Title">{{ testimonial.author }}</cite></footer>
            </blockquote>
            <div class="line"></div>
        </div>
		<div ng-if="!cms.data.HomePage.testimonials.length > 0">
		    <blockquote class="text-center center-block">
		        <h1><em>&quot;<span>A very inventive idea that hopefully will bring a ray of sunshine to the bleak world of Lost & Found</span>&quot;</em></h1>
		        <p>&quot;<span>I travel frequently and often lose things along the way. After my recent experience with ReturnHound
		            I hope this becomes a hotel standard so that I always get my things back as efficiently</span>&quot;</p>
		        <footer>Karim Jabar, <cite title="Source Title">SVP, Africa Development Bank</cite></footer>
		    </blockquote>
		    <div class="line"></div>
		    <blockquote class="text-center center-block">
		        <h1><em>&quot;<span>I love it.</span>&quot;</em></h1>
		        <p>&quot;<span>It took 5 minutes of my time and my glasses were on their way back to me. I love it.</span>&quot;</p>
		        <footer>Delphine Michel, <cite title="Source Title">Aix en Provence, France</cite></footer>
		    </blockquote>

		    <div class="line"></div>
		    <blockquote class="text-center center-block">
		        <h1><em>&quot;<span>This will change lost and found globally.</span>&quot;</em></h1>
		        <p>&quot;<span>We are very excited to be partners and investors with ReturnHound.  This will change lost and found globally.&quot;</span></p>
		        <footer>Hussein Hachem, <cite title="Source Title">Chief Executive Officer, ARAMEX</cite></footer>
		    </blockquote>
		</div>
    </div>
</section>

<script>
      yam.getLoginStatus(
    function(response) {
      if(response.authResponse) {
        yam.platform.logout()
      }
    }
  );
</script>