<section class="error-pages page-404">
    <div class="container-fluid padding-v-extra w960 text-center">
        <p>oops...</p>
        <div class="supasize-text">
            <span class="text">404</span>
            <img src="/static/img/dog-02-alone.png" class="dog-img" alt="">
        </div>
        <p>Page can't be found</p>
        <p><a href="/" class="btn btn-xl btn-primary">Back home</a></p>
    </div>
</section>
