<section class="error-pages page-500">
    <div class="container-fluid padding-v-extra w960 text-center">
        <p>Server error</p>
        <div class="supasize-text">
            <span class="text">500</span>
            <img src="/static/img/dog-03-alone.png" class="dog-img" alt="">
        </div>
        <p>Something went wrong, please try again</p>
        <p><button onclick="window.history.go(-1)" class="btn btn-xl btn-primary">Go back</button></p>
    </div>
</section>
