<section class="contact-page"
         cms-attr="{style: 'ContactUsPage.background_colour'}"
         data-default="#fff" data-tmpl="background: [style]">
    <div class="container-fluid padding-v-extra">
        <h1 translate cms="ContactUsPage.header_text">We are waiting to assist you</h1>
        <p translate cms="ContactUsPage.header_info_text">Simply call, email, or use the form below to get in touch</p>
        <div class="row">
            <div class="col-sm-6 mobile-only">
                  <div class="contact-item">
                    <i class="fa fa-map-marker"></i>
                    <h3 translate cms="ContactUsPage.address_icon_text">Address</h3>
                     <p><span translate cms="ContactUsPage.address.line_1">9th Floor</span><br>
                        <span translate cms="ContactUsPage.address.line_2">Indigo Tower</span> - <span translate cms="ContactUsPage.address.line_3">Jumeirah Lake Towers</span><br>
                        <span translate cms="ContactUsPage.address.po_box">PO Box 9550</span><br>
                        <span translate cms="ContactUsPage.address.city">Dubai</span><br>
                        <span translate cms="ContactUsPage.address.country">UAE</span></p>
                </div>
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <h3 translate cms="ContactUsPage.phone_icon_text">Phone</h3>
                    <p cms="ContactUsPage.contact_number">+971 4 447 2535</p>
                </div>
                <div class="contact-item">
                    <i class="fa fa-envelope-o"></i>
                    <h3 translate cms="ContactUsPage.email_icon_text">Email</h3>
                    <a cms-attr="{href: 'ContactUsPage.email'}"
                          data-default="support@returnhound.com" data-tmpl="mailto:[href]"
                          target="_blank"><p cms="ContactUsPage.email">support@returnhound.com</p></a>
                </div>
            </div>
            <div class="col-sm-6">
                <form name="contactForm" novalidate>
                    <fieldset>
                        <legend translate cms="ContactUsPage.form_header_text">Leave a message</legend>
                        <div class="form-group" show-errors ng-class="{'has-error': contactForm.full_name.$error.server}">
                            <label class="sr-only" translate>Name *</label>
                            <input name="full_name" type="text" class="form-control input-lg" placeholder="{{ 'Your name(s)' | translate }}" ng-model="vm.formData.fullName" required>
                            <div ng-show="contactForm.full_name.$error.server" class="help-block">
                                {{ contactForm.full_name.serverError }}
                            </div>
                        </div>
                        <div class="form-group" show-errors ng-class="{'has-error': contactForm.email.$error.server}">
                            <label class="sr-only" translate>Email *</label>
                            <input name="email" type="email" class="form-control input-lg" placeholder="{{ 'Your email' | translate }}" ng-model="vm.formData.email" required>
                            <div ng-show="contactForm.email.$error.server" class="help-block">
                                {{ contactForm.email.serverError }}
                            </div>
                        </div>
                        <div class="form-group" show-errors ng-class="{'has-error': contactForm.contact_number.$error.server}">
                            <label class="sr-only" translate>Number *</label>
                            <input name="contact_number" type="text" class="form-control input-lg" placeholder="{{ 'Your contact number' | translate }}" ng-intl-tel-input ng-model="vm.formData.contactNumber" required>
                            <div ng-show="contactForm.contact_number.$error.server" class="help-block">
                                {{ contactForm.contact_number.serverError }}
                            </div>
                        </div>

                        <div class="form-group" show-errors ng-class="{'has-error': contactForm.message.$error.server}">
                            <label class="sr-only" translate>Message *</label>
                            <textarea name="message" class="form-control input-lg" placeholder="{{ 'Your message' | translate }}" ng-model="vm.formData.message" required></textarea>
                            <div ng-show="contactForm.message.$error.server" class="help-block">
                                {{ contactForm.message.serverError }}
                            </div>
                        </div>

                        <div class="form-group text-right sel-captcha" ng-class="{'has-error': contactForm.$submitted && !vm.formData.recaptcha || contactForm.recaptcha.$error.server}">
                            <div vc-recaptcha name="recaptcha" key="recaptchaKey" ng-model="vm.formData.recaptcha" on-success="vm.setCaptchaFieldValidity(contactForm, true)" on-expire="vm.setCaptchaFieldValidity(contactForm, false)" class="recaptcha-block"></div>
                            <div class="help-block" ng-if="contactForm.$submitted && !vm.formData.recaptcha || contactForm.recaptcha.$error.server" translate>
                                Please make sure you pass the reCAPTCHA challenge
                            </div>
                        </div>
                        <div class="form-buttons-right">
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.sendMail(contactForm)" translate>Send message</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-6 desktop-only">
                <br><br>
                <div class="contact-item">
                    <i class="fa fa-map-marker"></i>
                    <h3 translate cms="ContactUsPage.address_icon_text">Address</h3>
                     <p><span translate cms="ContactUsPage.address.line_1">9th Floor</span><br>
                        <span translate cms="ContactUsPage.address.line_2">Indigo Tower</span> - <span translate cms="ContactUsPage.address.line_3">Jumeirah Lake Towers</span><br>
                        <span translate cms="ContactUsPage.address.po_box">PO Box 9550</span><br>
                        <span translate cms="ContactUsPage.address.city">Dubai</span><br> <span translate cms="ContactUsPage.address.country">UAE</span></p>
                </div>
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <h3 translate cms="ContactUsPage.phone_icon_text">Phone</h3>
                    <a cms-attr="{href: 'ContactUsPage.contact_number'}"
                          data-default="+97144472535" data-tmpl="tel:[href]"
                          ><p cms="ContactUsPage.contact_number">+971 4 447 2535</p></a>
                </div>
                <div class="contact-item">
                    <i class="fa fa-envelope-o"></i>
                    <h3 translate cms="ContactUsPage.email_icon_text">Email</h3>
                    <a cms-attr="{href: 'ContactUsPage.email'}"
                          data-default="support@returnhound.com" data-tmpl="mailto:[href]"
                          target="_blank"><p cms="ContactUsPage.email">support@returnhound.com</p></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
