<section class="faq"
         cms-attr="{style: 'FaqPage.background_colour'}"
         data-default="#fff" data-tmpl="background: [style] none repeat scroll 0 0">
    <div class="container-fluid padding-v w960">
        <h1 class="text-center" cms="FaqPage.header_text" translate>Frequently Asked Questions</h1>
        <uib-accordion close-others="true">
            <uib-accordion-group ng-repeat="item in cms.data.FaqPage.faq">
                <uib-accordion-heading>
                    {{ item.question }}
                </uib-accordion-heading>
                {{ item.answer }}
            </uib-accordion-group>

            <div ng-if="!cms.data.FaqPage.faq.length > 0">
                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>What hardware do we need?</span>
                    </uib-accordion-heading>
                    <span translate>Any internet enabled device with a web browser. (Mobile/Tablet/PC)</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                       <span translate>Do we need to purchase any software or hardware?</span>
                    </uib-accordion-heading>
                        <span translate>ReturnHound is cloud-based; there is no software to download, you do not need to make any purchases, as we are free to the hotel.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>Do you need to connect with our internal system?</span>
                    </uib-accordion-heading>
                        <span translate>We do not need to connect with your internal system, we do however offer to build you a custom link for lost and found on your website.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>How much does ReturnHound cost us?</span>
                    </uib-accordion-heading>
                        <span translate>ReturnHound is free to the hotel. There is no set up, training or processing costs to use ReturnHound.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>Is it true you send our staff money for using the system?</span>
                    </uib-accordion-heading>
                        <span translate>Yes!!! To encourage efficiency your staff are eligible for the ReturnHound rewards programme.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>What is the Discretionary Service Fee?</span>
                    </uib-accordion-heading>
                        <span translate>We charge a 5 USD discretionary service fee, which we share with the hotel our sales teams and contribute to charitable causes through the RH Foundation. It is split up as USD 2 for the hotel lost and found team, USD 2 for the sales team and USD 1 to the RH foundation.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>Do you mark up the Courier Fee?</span>
                    </uib-accordion-heading>
                        <span translate>No. Your customer pays the same courier fee as they would if they called the courier company directly.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>What is the contract term?</span>
                    </uib-accordion-heading>
                        <span translate>There is no contract term or minimum monthly volume required.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>How does our customer know we have their property?</span>
                    </uib-accordion-heading>
                        <span translate>After they log their lost item into the system and it is matched, customers are notified via email immediately.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>Is the system secure?</span>
                    </uib-accordion-heading>
                        <span translate>All credit card transactions are secure using the latest SSL technology. We provide password protection to our users and the site has passed world class security penetration test.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>Does ReturnHound keep Credit Card Details?</span>
                    </uib-accordion-heading>
                        <span translate>No, we are a PCI/DSS compliant solution.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>What about packaging?</span>
                    </uib-accordion-heading>
                        <span translate>The local courier company who ReturnHound contracts with will provide all the packaging.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>What if my item is damaged during shipping?</span>
                    </uib-accordion-heading>
                        <span translate>All items are insured to a value of USD100. If your declared value is over USD100 you may purchase additional insurance through the courier company.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>What does the customer pay?</span>
                    </uib-accordion-heading>
                        <span translate>Customers are charged for the shipping and handling charges plus a USD 5 discretionary service fee.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>Can the Customer refuse to pay this discretionary fee?</span>
                    </uib-accordion-heading>
                        <span translate>The customer always has the ability to opt out of paying the discretionary service fee.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <span translate>How does the customer know where they are in the process?</span>
                    </uib-accordion-heading>
                        <span translate>ReturnHound automatically emails notifications during the entire process. Email notices include: receipt of an item reported missing, verification the item was found, the tracking number when the item is shipped and a follow up email post delivery to gauge satisfaction and reiterate the hotels high service levels.</span>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                       <span translate>How do we contact ReturnHound regarding a package we cannot trace?</span>
                    </uib-accordion-heading>
                       <span translate>Please send an email to <a href="mailto:support@returnhound.com" target="_blank">support@returnhound.com</a> with details of your package and customer id.</span>
                </uib-accordion-group>
            </div>
        </uib-accordion>
    </div>
</section>
