<div class="how-it-works-page" >
    <section ng-repeat="item in cms.data.HowItWorksPage.how_it_works" style="background: {{ item.background_color|default: '#fff' }} none repeat scroll 0 0;">
        <div class="container-fluid padding-v-extra w960">
            <h1 ng-if="$index==0" translate cms="HowItWorksPage.header_text">A step-by-step guide to our time, money and hassle-saving service - that costs the hotel NOTHING</h1>
            <br>

            <div class="row" ng-if="$index % 2 == 0">
                <div class="col-sm-6 text-center mobile-only">
                    <img src="{{item.image }}" alt="" style="max-width: 384px;">
                </div>
                <div class="col-sm-6 content">
                    <div ng-repeat="step in item.steps">
                        <div class="heading" translate>{{ step.header_text}}</div>
                        <p translate>{{ step.content }}</p>
                    </div>
                </div>
                <div class="col-sm-6 text-center desktop-only">
                    <img src="{{item.image }}" alt="" style="max-width: 384px;">
                </div>
            </div>

            <div class="row" ng-if="$index % 2 == 1">
                <div class="col-sm-5 text-center">
                    <img src="{{item.image }}" alt="" style="max-width: 220px;">
                </div>
                <div class="col-sm-7 content">
                    <div ng-repeat="step in item.steps">
                        <div class="heading" translate>{{ step.header_text}}</div>
                        <p translate>{{ step.content }}</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div ng-if="!cms.data.HowItWorksPage.how_it_works.length > 0">
        <section>
            <div class="container-fluid padding-v-extra w960">
                <h1 translate>A step-by-step guide to our time, money and hassle-saving service - that costs the hotel NOTHING</h1>
                <br>
                <div class="row">
                    <div class="col-sm-6 text-center mobile-only">
                        <img src="/static/img/dog-02-alone.png" alt="" style="max-width: 384px;">
                    </div>
                    <div class="col-sm-6 content">
                        <div class="heading" translate>1. LOSING IT</div>
                        <p translate>Left behind items are discovered by your team
                            and logged into the ReturnHound system.</p>

                        <div class="heading" translate>2. HELP WANTED</div>
                        <p translate>Distraught customer contacts hotel to seek out
                            a lost item, where staff can provide them with a
                            ReturnHound web link – and immediate reassurance.</p>
                    </div>
                    <div class="col-sm-6 text-center desktop-only">
                        <img src="/static/img/dog-02-alone.png" alt="" style="max-width: 384px;">
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-primary">
            <div class="container-fluid padding-v-extra w960">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <img src="/static/img/dog-03-alone.png" alt="" style="max-width: 220px;">
                    </div>
                    <div class="col-sm-7 content">
                        <div class="heading" translate>3. THE SCENT</div>
                        <p translate>Customer clicks through to your company branded web
                            page, where they enter key information about their lost item,
                            circumstances of its loss and preferred shipping address.</p>

                        <div class="heading" translate>4. GIVE THE DOG A BONE</div>
                        <p translate>ReturnHound then sets to work matching logged items to
                            the lost descriptions, and alerts the property of a pairing.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-lightblue">
            <div class="container-fluid padding-v-extra w960">
                <div class="row">
                    <div class="col-sm-5 text-center mobile-only">
                        <img src="/static/img/dog-01-alone.png" alt="" style="max-width: 290px;">
                    </div>
                    <div class="col-sm-7 content">
                        <div class="heading" translate>5. FOUND &amp; BOUND</div>
                        <p translate>Following a manual check of the pairing, the customer
                            is informed that their item has been found, and the
                            return process begins. Courier is contacted by the
                            ReturnHound software and shipping gets taken care of.</p>

                        <div class="heading" translate>6. THE REUNION</div>
                        <p translate>Customer receives their item in record time, delighted
                            with how YOU have handled their experience. No fuss.
                            No drama. No waiting.</p>
                    </div>
                    <div class="col-sm-5 text-center desktop-only">
                        <img src="/static/img/dog-01-alone.png" alt="" style="max-width: 290px;">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="bg-gray"
             cms-attr="{style: 'HowItWorksPage.footer_background_color'}"
             data-default="#cbcbcb" data-tmpl="background: [style] none repeat scroll 0 0">
        <div class="container-fluid padding-v-extra text-center w960">
            <h2 translate cms="HowItWorksPage.footer_text">For more information and to get ReturnHound working for you right away, contact info@returnhound.com</h2>
        </div>
    </section>
</div>
