<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{ modal_title }}</h4>
</div>

<div class="modal-body">
    <p>
        When goods are not shipped domestically (within your country) or within a single customs union,
        you may be liable to pay any inbound duties and taxes which your local customs authority deems appropriate.
        What is payable, if anything, depends on where the goods are sent from, the type of goods,
        their transactional value and the weight of the package.
    </p>
    <form ng-show="!data.isCollection" name="itemValueForm" novalidate>
        <fieldset>
            <div class="row">
                <div class="form-group col-md-4" show-errors ng-class="{'has-error': (itemValueForm.item_value_currency.$touched && itemValueForm.item_value_currency.$invalid) || (data.showRequired && itemValueForm.item_value_currency.$invalid)}">
                    <label><span class="asterix">* </span>Currency</label>
                    <select name="item_value_currency" class="form-control"
                            ng-model="data.matchedItem.item_value_currency"
                            ng-options="currency.name for currency in data.currencies track by currency.value"
                            required>
                        <option value='' translate>Select currency</option>
                    </select>
                    <div ng-show="data.showRequired && itemValueForm.item_value_currency.$invalid" class="help-block">
                        Please select a currency.
                    </div>
                </div>
                <div class="form-group col-md-8" ng-class="{'has-error': (itemValueForm.item_value.$touched && itemValueForm.item_value.$invalid) || (data.showRequired && itemValueForm.item_value.$invalid)}">
                    <label><span class="asterix">* </span><span translate>Item Value
                        <span class="pop-over-icon"  popover-placement="auto {{isArabic ? 'left' : 'right'}}" popover-trigger="mouseenter"
                            uib-popover="Please enter the value for the items being shipped: Please note this amount is for customs valuation and insurance purpose.">
                            <i class="fa fa-question"></i>
                        </span></span></label>
                    <input name="item_value" type="number" ng-model="data.matchedItem.item_value" class="form-control" required>
                    <div ng-show="data.showRequired && itemValueForm.item_value.$invalid" class="help-block">
                        Please specify the value of your item.
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()" translate>Cancel</button>
    <button class="btn btn-primary" ng-click="itemValueForm.$valid ? $close(true): data.showRequired=true" translate>OK</button>
</div>
