<h1 class="text-primary" translate>Account Settings</h1>

<div class="row account-settings">
    <div class="col-md-4">
        <a class="anchor" id="userForm"></a>
        <h3 class="sel-details"><span translate>My Details</span>
            <a href="" class="edit-btn" ng-class="{'active': vm.isFormActive(userForm)}"
               ng-click="vm.doEdit(userForm, vm.userProfile)">
                <i class="fa fa-pencil"></i>
            </a>
        </h3>
        <form name="userForm" novalidate>
            <div class="card bg-graylight" ng-class="{'flash-border': vm.isFormActive(userForm)}">
                <div class="card-block">
                    <p><label translate>Email Address</label><br>
                        {{ user.email }}
                        <span>
                            <a class="pull-right" href=""
                               ng-click="vm.doEdit(changePasswordForm)" translate>Change password</a>
                        </span>
                    </p>
                    <fieldset>
                        <div class="form-group" show-errors ng-class="{'has-error': userForm.first_name.$error.server}">
                            <label class="" translate>First name</label>
                            <input name="first_name" class="form-control"
                                   type="text"
                                   ng-model="vm.userProfile.first_name"
                                   ng-disabled="!vm.isFormActive(userForm)"
                                   ng-class="{'flash-border': vm.isFormActive(userForm)}"
                                   required>
                            <div ng-show="userForm.first_name.$error.server" class="help-block">
                                {{ userForm.first_name.serverError }}
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': userForm.last_name.$error.server}">
                            <label class="" translate>Last name</label>
                            <input name="last_name" class="form-control"
                                   type="text"
                                   ng-model="vm.userProfile.last_name"
                                   ng-disabled="!vm.isFormActive(userForm)"
                                   ng-class="{'flash-border': vm.isFormActive(userForm)}">
                            <div ng-show="userForm.last_name.$error.server" class="help-block">
                                {{ userForm.last_name.serverError }}
                            </div>
                        </div>
                        <div class="form-group" show-errors ng-class="{'has-error': userForm.contact_number.$error.server}">
                            <label class="" translate>Contact number</label>
                            <input name="contact_number" class="form-control" type="text"
                                   ng-intl-tel-input
                                   ng-model="vm.userProfile.contact_number"
                                   ng-disabled="!vm.isFormActive(userForm)"
                                   ng-class="{'flash-border': vm.isFormActive(userForm)}">
                            <div ng-show="userForm.contact_number.$error.server" class="help-block">
                                {{ userForm.contact_number.serverError }}
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-buttons-right half-btn-mobile" ng-show="vm.isFormActive(userForm)">
                        <button class="btn btn-default" ng-click="vm.cancelEdit(userForm)" translate>Cancel</button>
                        <button class="btn btn-primary" ng-click="vm.updateUserDetails(userForm)" translate>Update</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
    <a class="anchor" id="changePasswordForm"></a>
    <div class="col-md-4" ng-show="vm.isFormActive(changePasswordForm)">
        <h3 translate>Change password</h3>
        <form name="changePasswordForm" novalidate>
            <div class="card bg-graylight" ng-class="{'flash-border': vm.isFormActive(changePasswordForm)}">
                <div class="card-block">
                    <fieldset>
                        <div class="form-group" show-errors ng-class="{'has-error': changePasswordForm.old_password.$error.server}">
                            <label><span class="asterix">*</span> <span translate>Current password</span></label>
                            <input name="old_password" type="password" class="form-control" ng-model="vm.passwordData.old_password" enter-submit="vm.changePassword(changePasswordForm)" required>
                            <span ng-show="changePasswordForm.old_password.$error.server" class="help-block">
                                {{ changePasswordForm.old_password.serverError }}
                            </span>
                        </div>
                        <div class="form-group" show-errors ng-class="{'has-error': changePasswordForm.new_password1.$error.server}">
                            <label><span class="asterix">*</span> <span translate>New password<span class="pop-over-icon"  popover-placement="auto right" popover-trigger="mouseenter"
                                      uib-popover="Your password must be a minimum of 9 characters, and consists of at least one uppercase character, one number and one unique special character(punctuation character)">
                                      <i class="fa fa-question"></i>
                                      </span></span></label>
                            <input name="new_password1" type="password" class="form-control" ng-model="vm.passwordData.new_password1" enter-submit="vm.changePassword(changePasswordForm)" required>
                            <span ng-show="changePasswordForm.new_password1.$error.server" class="help-block">
                                {{ changePasswordForm.new_password1.serverError }}
                            </span>
                        </div>
                        <div class="form-group" show-errors ng-class="{'has-error': changePasswordForm.new_password2.$error.server}">
                            <label><span class="asterix">*</span> <span translate>Confirm new password</span></label>
                            <input name="new_password2" type="password" class="form-control" ng-model="vm.passwordData.new_password2" enter-submit="vm.changePassword(changePasswordForm)" required>
                            <span ng-show="changePasswordForm.new_password2.$error.server" class="help-block">
                                {{ changePasswordForm.new_password2.serverError }}
                            </span>
                        </div>
                        <div class="form-buttons-right half-btn-mobile">
                            <button class="btn btn-default" ng-click="vm.cancelEdit(changePasswordForm)" translate>Cancel</button>
                            <button class="btn btn-primary" ng-click="vm.changePassword(changePasswordForm)" translate>Save</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-8"
         ng-class="{'col-md-4': vm.isFormActive(changePasswordForm)}"><!-- change width when all forms shown  -->
        <a class="anchor" id="addressForm"></a>
        <h3 class="sel-delivery-address"><span translate>My delivery address</span>
            <a class="edit-btn"
               ng-class="{'active': vm.isFormActive(addressForm)}"
               ng-click="vm.doEdit(addressForm, vm.userProfile.address)">
                <i class="fa fa-pencil"></i>
            </a>
        </h3>
        <form name="addressForm" novalidate autocomplete="off">
            <div class="card bg-graylight" ng-class="{'flash-border': vm.isFormActive(addressForm)}">
                <div class="card-block">
                    <fieldset>
                        <shipping-address form="addressForm"
                                          model="vm.userProfile.address"
                                          edit-mode="vm.activeForm.addressForm">
                                          <!-- when `edit-mode` is truthy the inputs are enabled -->
                        </shipping-address>
                    </fieldset>
                    <div class="form-buttons-right half-btn-mobile" ng-show="vm.isFormActive(addressForm)">
                        <button class="btn btn-default" ng-click="vm.cancelEdit(addressForm)" translate>Cancel</button>
                        <button class="btn btn-primary" ng-click="vm.updateAddress(addressForm)" translate>Update</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
