<h1 class="text-primary" translate>Item history</h1>
<h3 class="text-uppercase pull-left" translate-comment="#{{ vm.historyItem.parcel.lost_item }}: the Item ID number" translate>Item ID #{{ vm.historyItem.parcel.lost_item }}</h3>
<div class="my-report-btns pull-right">
    <button class="btn btn-primary btn-lg text-uppercase" type="button" onclick="window.history.go(-1)" translate>back</button>
</div>
<div class="clearfix"></div>
<ul class="report-status-nav">
    <li class="done"><span class="item" translate>Processed</span><span class="rounded-arrow"></span>
    </li>
    <li class="done"><span class="item" translate>Found</span><span class="rounded-arrow"></span>
    </li>
    <li class="done"><span class="item" translate>Shipping confirmation</span><span class="rounded-arrow"></span>
    </li>
    <!-- TODO: fix heading tag wording thing -->
    <li class="done">
        <span class="item" translate>{{ !vm.historyItem.shipment_details.is_collection ? 'Payment' : 'Collecting' }}</span>
        <span class="rounded-arrow"></span>
    </li>
    <!-- TODO: fix heading tag wording thing -->
    <li class="active">
        <span class="item" translate>{{ !vm.historyItem.shipment_details.is_collection ? 'Shipped' : 'Collected' }}</span>
        <span class="rounded-arrow "></span>
    </li>
</ul>

<h2 class="text-primary" translate>Your item has been collected. </h2>
<div class="row">
    <div class="col-md-6">
        <h3 class="text-primary" translate>Collector's details:</h3>
        <p>{{ vm.historyItem.parcel.shipment_details.collector_name }}<br>
            <span translate>Email:</span> {{ vm.historyItem.parcel.shipment_details.collector_email }}<br>
            <span translate>Contact number:</span> {{ vm.historyItem.parcel.shipment_details.collector_contact_number }}
        </p>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card bg-graylight">
            <div class="card-block">
                <h3 class="card-title" translate>Report Details</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5"><strong translate>Item  ID</strong></div>
                            <div class="col-md-7"># {{ vm.historyItem.parcel.lost_item }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong translate>Lost date</strong></div>
                            <div class="col-md-7">{{ vm.historyItem.parcel.lost_item_object.date| date:'d MMMM y'}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong translate>Category</strong></div>
                            <div class="col-md-7">{{ vm.historyItem.parcel.lost_item_object.item_category }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong translate>Item type</strong></div>
                            <div class="col-md-7">{{ vm.historyItem.parcel.lost_item_object.item_type_display }}</div>
                        </div>
                        <div class="row" ng-if="vm.historyItem.parcel.lost_item_object.specification">
                            <div class="col-md-5"><strong translate>Specified item</strong></div>
                            <div class="col-md-7">{{ vm.historyItem.parcel.lost_item_object.specification }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong translate>Item description</strong></div>
                            <div class="col-md-7">{{ vm.historyItem.parcel.lost_item_object.description }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong translate>Item last seen</strong></div>
                            <div class="col-md-7">{{ vm.historyItem.parcel.lost_item_object.location ? vm.historyItem.parcel.lost_item_object.location : 'N/A' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong translate>Room Number</strong></div>
                            <div class="col-md-7">{{ vm.historyItem.parcel.lost_item_object.room_number ? vm.historyItem.parcel.lost_item_object.room_number : 'N/A' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong translate>Serial number</strong></div>
                            <div class="col-md-7">{{ vm.historyItem.parcel.lost_item_object.serial_number ? m.historyItem.parcel.lost_item_object.serial_number : 'N/A' }}</div>
                        </div>
                        <br>
                        <!-- TODO: not being returned / update tags-->
                        <div class="row">
                            <div class="col-md-5"><strong translate>Hotel</strong></div>
                            <div class="col-md-7">{{ vm.item.hotel_object.name }}</div>
                        </div>
                        <!-- TODO: not being returned / update tags-->
                        <div class="row">
                            <div class="col-md-5"><strong translate>Arrival date</strong></div>
                            <div class="col-md-7">{{ vm.item.arrival_date ? vm.item.arrival_date : 'N/A' | date:'d MMMM y'}}</div>
                        </div>
                        <!-- TODO: not being returned / update tags-->
                        <div class="row">
                            <div class="col-md-5"><strong translate>Departure date</strong></div>
                            <div class="col-md-7">{{ vm.item.departure_date ? vm.item.departure_date : 'N/A'| date:'d MMMM y'}}</div>
                        </div>
                        <div ng-if="vm.historyItem.parcel.lost_item_object.images.length">
                            <h3 class="text-primary" translate>Photos</h3>
                            <div class="report-images">
                                <a href="{{ image.path }}" ng-repeat="image in vm.historyItem.parcel.lost_item_object.images" class="fancybox" rel="group">
                                    <img ng-src="{{ image.path }}" img-preload alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-graylight">
            <div class="card-block">
                <h3 class="card-title" translate>Report Activity</h3>
                <div class="row">
                    <div class="col-md-4"><strong translate>Time stamp</strong></div>
                    <div class="col-md-4"><strong translate>Action</strong></div>
                    <div class="col-md-4"><strong translate>By</strong></div>
                </div>
                <!-- TODO: not being returned / update tags-->
                <div class="row" ng-repeat="notification in vm.item.notifications">
                    <div class="col-md-4">{{ notification.timestamp|timesince }}</div>
                    <div class="col-md-4">{{ notification.verb }}</div>
                    <div class="col-md-4">{{ notification.sent_by }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
