<section class="banner bg-wizard report-lost-item">
    <div class="container-fluid padding-v w960">
        <h1 translate>Thank you for confirming your item</h1>
        <p class="text-larger w600" translate>In order for us to get your item back to you, we will need your delivery address to continue to the next step.</p>
        <br>
        <div class="card">
            <div class="report-steps">
                <div class="active tab-links link-1">
                    <span class="desktop-only" translate>Your delivery address</span>
                    <span class="mobile-only">4</span>
                </div>
                <img src="/static/img/bob@2x.png" class="report-logo" alt="">
            </div>
            <div class="card-block card-fat">
                <form name="addressForm" novalidate>
                    <fieldset>
                        <legend><span translate>Please fill in your delivery address</span></legend>
                        <div class="message-box animate-show" ng-show="addressForm.$serverErrors">
                            <div class="alert alert-danger" role="alert" ng-repeat="err in addressForm.$serverErrors.non_field_errors">
                                <i class="fa fa-bolt"></i> {{ err }}
                            </div>
                        </div>
                        <!-- shipping/aramex address fields -->
                        <shipping-address form="addressForm" model="vm.address"></shipping-address>
                    </fieldset>
                    <div class="middle-buttons">
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.createAddress(addressForm)" translate>Done, take me to the next step</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
