<h1 class="text-primary" translate>My Reports</h1>
<h3 class="arabic-h3 text-uppercase pull-left" translate-comment="#{{ vm.item.id }}: the Item ID number" translate>Item ID #{{ vm.item.id }}</h3>
<div class="my-report-btns pull-right" ng-class="{'pull-up': (vm.matchedItem && vm.matchedItem.status_display == 'Accepted')}">
    <a class="btn btn-primary-outline btn-lg" type="button" ng-href="/dashboard/my-reports" translate>Back</a>
    <button class="btn btn-dark btn-lg hide" type="button" ng-click="vm.deleteItem()"
            ng-class="{'show-inline': (!vm.matchedItem && vm.matchedItem.status_display !== 'Accepted')}" translate>Cancel Report</button>
    <a class="btn btn-primary btn-lg hide" type="button" ng-href="/dashboard/my-reports/{{ vm.item.id }}/edit"
       ng-class="{'show-inline': (!vm.matchedItem && vm.matchedItem.status_display !== 'Accepted')}" translate>Edit Report</a>
</div>


<div class="clearfix"></div>
<ul class="report-status-nav">
    <li ng-class="{'active': !vm.matchedItem, 'done': vm.matchedItem}">
        <span class="rounded-arrow-for-arabic" ng-if="isArabic"></span><span class="item" translate>Processed</span><span class="rounded-arrow" ng-if="!isArabic"></span>
    </li>
    <li ng-class="{'active': vm.matchedItem && vm.matchedItem.status_display === 'Pending', 'done': vm.matchedItem && vm.matchedItem.status_display === 'Accepted'}">
        <span class="rounded-arrow-for-arabic" ng-if="isArabic"></span><span class="item" translate>Found</span><span class="rounded-arrow" ng-if="!isArabic"></span>
    </li>
    <li ng-class="{'active': vm.shipping, 'done': vm.shipment}">
        <span class="rounded-arrow-for-arabic" ng-if="isArabic"></span><span class="item" translate>Shipping confirmation</span><span class="rounded-arrow" ng-if="!isArabic"></span>
    </li>
    <li ng-class="{'active': vm.shipment && !vm.shipment.details.is_complete, 'done': vm.shipment && (vm.shipment.details.is_complete || (vm.shipment.transaction && vm.shipment.transaction.is_paid))}">
        <span class="rounded-arrow-for-arabic" ng-if="isArabic"></span><span class="item">{{ (vm.shipment && !vm.shipment.details.is_collection) ? 'Payment' : 'Collecting' | translate }}</span>
        <span class="rounded-arrow" ng-if="!isArabic"></span>
    </li>
    <li ng-class="{'active': vm.shipment && (vm.shipment.details.is_complete || (vm.shipment.transaction && vm.shipment.transaction.is_paid))}">
        <span class="rounded-arrow-for-arabic" ng-if="isArabic"></span><span class="item">{{ (vm.shipment && !vm.shipment.details.is_collection) ? 'Shipping' : 'Collected' | translate }}</span>
        <span class="rounded-arrow" ng-if="!isArabic"></span>
    </li>
</ul>

<!-- Processed item title -->
<h2 class="text-primary" ng-if="!vm.matchedItem" translate>Your report has been processed.</h2>

<!-- Found item title -->
<div ng-if="vm.matchedItem && vm.matchedItem.status_display === 'Pending'">
    <h2 class="text-primary" translate>Good news! We have found a match.</h2>
    <h3 translate>Please have a look below, and confirm if this is your item.</h3>

    <!-- Found item details -->
    <div class="card bg-graylight">
        <div class="card-block">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Item ID</strong></div>
                                <div class="col-xs-7"># {{ vm.matchedItem.found_item.id }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Date Found</strong></div>
                                <div class="col-xs-7">{{ vm.matchedItem.found_item.date| date:'d MMMM y'}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Category</strong></div>
                                <div class="col-xs-7">{{ vm.matchedItem.found_item.category_name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Item type</strong></div>
                                <div class="col-xs-7">{{ vm.matchedItem.found_item.item_type_name }}</div>
                            </div>
                            <div class="row" ng-if="vm.matchedItem.found_item.specification">
                                <div class="col-xs-5"><strong translate>Item specification</strong></div>
                                <div class="col-xs-7">{{ vm.matchedItem.found_item.specification }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Description</strong></div>
                                <div class="col-xs-7">{{ vm.matchedItem.found_item.description ? vm.matchedItem.found_item.description : 'N/A' }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Serial Number</strong></div>
                                <div class="col-xs-7">{{ vm.matchedItem.found_item.serial_number ? vm.matchedItem.found_item.serial_number : 'N/A' }}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Found By</strong></div>
                                <div class="col-xs-7">{{ vm.matchedItem.found_item.found_by }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Room Number</strong></div>
                                <div class="col-xs-7">{{ vm.matchedItem.found_item.room_number ? vm.matchedItem.found_item.room_number : 'N/A' }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Dimensions (cm) </strong></div>
                                <div class="col-xs-7">
                                    <span title="length">{{ vm.matchedItem.found_item.length | number}} (l)</span> x
                                    <span title="width">{{ vm.matchedItem.found_item.width | number}} (w)</span> x
                                    <span title="height">{{ vm.matchedItem.found_item.height | number}} (h)</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong translate>Weight</strong></div>
                                <div class="col-xs-7"> {{ vm.matchedItem.found_item.weight | number}} kg</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="report-images text-md-right">
                        <a href="{{ image.path }}" class="fancybox" rel="group" ng-repeat="image in vm.matchedItem.found_item.images">
                            <img ng-src="{{ image.path }}" img-preload class="fade" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-buttons-right center-btn-mobile">
        <button class="btn btn-default btn-lg" ng-click="vm.giveFeedback(3)" translate>Wrong item</button>
        <button class="btn btn-primary btn-lg" ng-click="vm.giveFeedback(1)" translate>This is mine</button>
    </div>
    <div class="clear"></div>
</div>

<!-- Shipping details / Ship item title -->
<div ng-if="vm.matchedItem.status_display === 'Accepted' && !vm.matchedItem.shipment_status && !vm.shipment">
    <h3 class="text-primary" translate>Please confirm your shipping instructions for your item:
        <span class="text-gray">
            {{ vm.item.category.name }}, {{ vm.item.item_type.name }}
            <span ng-if="vm.item.specification">, {{ vm.item.specification }}</span>
        </span>
    </h3>
    <br>
    <div class="card bg-graylight">
        <div class="card-block">
            <h3 class="card-title" translate>Shipping Details</h3>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <strong translate>Cost estimate</strong>
                </div>
                <div class="col-sm-6 col-md-9">
                    <h3 class="no-v-margin" ng-if="!vm.shipping.shipping_rate.has_error">
                        {{ vm.shipping.shipping_rate.currency }} {{ vm.shipping.shipping_rate.amount| currency: "" :2 }}
                    </h3>
                    <div ng-if="vm.shipping.shipping_rate.has_error">
                        <div class="alert-inline alert-danger" ng-repeat="error in vm.shipping.shipping_rate.errors">
                            <i class="fa fa-bolt"></i>
                            <!-- FIXME: aramex error handling -->
                            <div ng-if="error.Code != 'ERR61'">
                                <strong>{{ error.Code }}&nbsp;</strong> {{ error.Message }}
                            </div>
                            <div ng-if="error.Code == 'ERR61'">
                                Unsupported shipping location. We can not ship to your address.
                            </div>
                        </div>
                        <button class="btn btn-default btn-danger" ng-click="vm.getShippingRate(vm.matchedItem.id)">
                            <i class="fa fa-refresh"></i>&nbsp;
                            <span translate>Retry shipping rate request</span>
                        </button><br>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <strong translate>Delivery Address</strong>
                </div>
                <div class="col-sm-6 col-md-9">
                    <p>{{ user.first_name }} {{ user.last_name }}<br>
                        {{ user.address.line1 }}<br>
                        {{ user.address.line2 }}<br>
                        {{ user.address.country.name }}, {{ user.address.region.name }}, {{ user.address.city }}<br>
                        {{ user.address.post_code }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <strong translate>Parcel Details</strong>
                </div>
                <div class="col-sm-6 col-md-9">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td style="width: 160px;"><strong>Estimated size: </strong></td>
                            <td>{{ vm.matchedItem.found_item.length }}cm x
                                {{ vm.matchedItem.found_item.width }}cm x
                                {{ vm.matchedItem.found_item.height }}cm
                            </td>
                        </tr>
                        <tr>
                            <td><strong translate>Weight: </strong></td>
                            <td>{{ vm.matchedItem.found_item.weight }} kg</td>
                        </tr>
                        <tr ng-if="!vm.shipping.shipping_rate.has_error">
                            <td style="width: 160px;"><strong translate>Shipping type: </strong></td>
                            <td>{{ vm.shipping.shipping_rate.shipping_type }} ({{ vm.shipping.shipping_rate.shipping_group }})</td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="form-buttons-right center-btn-mobile">
        <button class="btn btn-default btn-lg" ng-click="vm.processShipment(true)" translate>I'll send someone to collect</button>
        <button class="btn btn-primary btn-lg" ng-if="!vm.shipping.shipping_rate.has_error" ng-click="vm.processShipment(false)" translate>Proceed to payment</button>
    </div>

    <div class="clear"></div>
</div>

<!-- Collectors details -->
<div ng-if="vm.shipment && vm.shipment.details.is_collection">
    <h2 class="text-primary" translate>You have requested for your item to be collected. </h2>

    <div class="row">
        <div class="col-sm-6">
            <h3 class="text-primary" translate>Collector's details:</h3>
            <p>{{ vm.shipment.details.collector_name }}<br>
                Email: {{ vm.shipment.details.collector_email }}<br>
                Contact number: {{ vm.shipment.details.collector_contact_number }}
            </p>
            <button class="btn btn-default btn-lg btn-block-mobile" ng-click="vm.cancelShipment()" translate>Cancel collection</button>
        </div>
        <div class="col-sm-6">
            <h3 class="text-primary" translate>Hotel address to collect from:</h3>
            <h3 class="no-v-margin">{{ vm.item.hotel.name }}</h3>
            <p>
                {{ vm.item.hotel.address.line1 }}<br>
                {{ vm.item.hotel.address.line2 }}<br>
                {{ vm.item.hotel.address.city }}<br>
                {{ vm.item.hotel.address.country.name }}<br>
                {{ vm.item.hotel.address.region.name }}<br>
                {{ vm.item.hotel.address.post_code }}
            </p>
        </div>
    </div>
</div>

<!-- payment page details -->
<div ng-if="!vm.shipping && vm.shipment && !vm.shipment.details.is_collection && (vm.shipment.transaction && !vm.shipment.transaction.is_paid)">
    <br class="desktop-only">
    <div class="row">
        <div class="col-sm-3 text-center desktop-only">
            <picture>
                <source srcset="/static/img/cards-dog.png" media="(max-width: 767px)">
                <img src="/static/img/cards-dog_@2x.png" alt="" style="width: 100%; max-width: 420px;"/>
            </picture>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <h2 class="text-primary caps no-top-margin" translate>Proceed to secure payment</h2>
                    <p class="text-primary text-larger" translate>You are about to be redirected to our secure payment page</p>
                    <div class="radio" ng-if="!vm.redirect">
                        <label>
                            <span class="custom-checkbox-styling">
                                <input type="radio" ng-model="vm.shipment.transaction.service_charge" ng-value="vm.serviceCharge">
                                <span class="custom-checkbox"><i class="icon-check"></i></span>
                            </span>
                            <span class="label-text" translate>I would like to pay a {{ vm.serviceChargePercentage }}% discretionary service charge
                                <span class="pop-over-icon"  popover-placement="auto {{isArabic ? 'left' : 'right'}}" popover-trigger="mouseenter"
                                      uib-popover="{{ vm.serviceChargePercentage }}% of the charged amount. Some call it a tip, others call it a reward. It's up to you, but it helps us reunite lost items and their owners.">
                                    <i class="fa fa-question"></i>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="radio" ng-if="!vm.redirect">
                        <label>
                            <span class="custom-checkbox-styling">
                                <input type="radio" ng-model="vm.shipment.transaction.service_charge" ng-value="0">
                                <span class="custom-checkbox"><i class="icon-check"></i></span>
                            </span>
                            <span class="label-text" translate>No thanks, maybe next time</span>
                        </label>
                    </div>
                    <br>
                    <p class="text-primary text-larger" translate>Shipments are covered for loss or damage up to a maximum of USD 100, or the declared value of the shipment which ever is lower.</p>

                    <div class="radio" ng-if="!vm.redirect">
                        <label>
                            <span class="custom-checkbox-styling">
                                <input type="radio" ng-model="vm.shipment.transaction.insurance_fee" ng-value="vm.insuranceFee">
                                <span class="custom-checkbox"><i class="icon-check"></i></span>
                            </span>
                            <span class="label-text" translate>I AGREE to a {{ vm.insuranceChargePercentage }}% fee of the shipments value for the insurance.
                                The shipment will be insured for a maximum of USD 10,000.</span>
                        </label>
                    </div>
                    <div class="radio" ng-if="!vm.redirect">
                        <label>
                            <span class="custom-checkbox-styling">
                                <input type="radio" ng-model="vm.shipment.transaction.insurance_fee" ng-value="0">
                                <span class="custom-checkbox"><i class="icon-check"></i></span>
                            </span>
                            <span class="label-text" translate>I do NOT wish to have additional insurance and am aware of the fact that the
                                shipments are covered for loss or damage up to a maximum value of USD 100 or the declared value of the shipment, whichever is lower.</span>
                        </label>
                    </div>
                    <p>Click <a href="https://www.aramex.com/shield/tc" target="_blank">here</a> for Shipment insurance Terms and Conditions.</p>
                    <br>
                </div>


                <div class="col-md-12 col-lg-6">
                    <div class="card">
                        <h3 class="card-block-title compact" translate>Shipping order summary</h3>
                        <div class="card-block">
                            <table class="table order-summary-table" border="0" cellpadding="0" cellspacing="0">
                                <thead>
                                <tr>
                                    <th translate>Item</th>
                                    <th class="amount" translate>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ vm.item.category.name }}, {{ vm.item.item_type.name }},
                                        <span ng-if=" vm.item.specification">{{ vm.item.specification }}, </span>
                                        {{ vm.item.description }}
                                    </td>
                                    <td style="width: 150px">{{ vm.shipment.transaction.charged_amount|currency: ''  }} {{ vm.shipment.transaction.currency }}</td>
                                </tr>
                                <tr>
                                    <td translate>Service charge</td>
                                    <td>{{ vm.shipment.transaction.service_charge|currency: ''  }} {{ vm.shipment.transaction.currency }}</td>
                                </tr>
                                <tr ng-if="vm.shipment.transaction.insurance_fee > 0.00">
                                    <td translate>Insurance Charged</td>
                                    <td>{{ vm.shipment.transaction.insurance_fee|currency: ''  }} {{ vm.shipment.transaction.currency }}</td>
                                </tr>
                                <tr ng-if="vm.shipment.transaction.insurance_fee == 0.00">
                                    <td translate>Insurance Declined</td>
                                    <td>{{ vm.shipment.transaction.insurance_fee|currency: ''  }} {{ vm.shipment.transaction.currency }}</td>
                                </tr>
                                <tr class="total">
                                    <td><strong translate>Total</strong></td>
                                    <td><strong>{{ vm.amountPaid()|currency: '' }} {{ vm.shipment.transaction.currency }}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- terms and conditions -->
                    <div class="row" ng-if="!vm.redirect">
                        <div class="terms-block">
                            <label translate>
                                <span class="custom-checkbox-styling">
                                    <input name="terms" type="checkbox" class="checkbox" ng-model="vm.terms"  required>
                                    <span class="custom-checkbox">
                                        <i class="icon-check"></i>
                                    </span>
                                </span>
                                <span class="label-text">
                                    <span class="asterix">*</span>
                                    <span translate>I agree to the <a href="/terms-and-conditions" target="_blank">terms &amp; conditions</a></span>
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="card-payments row" >
                        <div class="col-xs-9">
                            <span translate>We accept payments online using Visa and MasterCard credit/debit card in AED.</span>
                        </div>
                        <div class="col-xs-3 text-right">
                            <img src="/static/img/master-card.png" width="40" alt="master card">
                            <img src="/static/img/visa-card.png" width="40" alt="visa">
                        </div>
                    </div>
                    <div class="form-buttons-right center-btn-mobile">
                        <div class="middle-buttons reversed-desktop-behaviour" ng-if="!vm.redirect">
                            <button ng-disabled="!vm.terms || vm.isBusy()" ng-click="vm.confirmPayment()"
                               class="btn btn-primary btn-lg "><span translate>Pay now</span> &nbsp;
                                <i class="fa fa-chevron-right"></i>
                            </button>
                            <button class="btn  btn-primary-outline btn-lg" ng-click="vm.cancelShipment()">Cancel</button>
                        </div>
                        <div class="middle-buttons reversed-desktop-behaviour" ng-if="(vm.paypal == 'True') && !vm.redirect">
                            <button ng-disabled="vm.isBusy()" ng-click="vm.redirectPayPal()"> <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" /></button>
                            <button class="btn btn-primary-outline btn-lg" ng-click="vm.cancelShipment()" translate>Cancel</button>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- shipping page details -->
<div ng-if="vm.shipment && !vm.shipment.details.is_collection && (vm.shipment.transaction && vm.shipment.transaction.is_paid)">
    <h3 class="text-primary" translate>Track your parcel's shipment status. </h3>
    <br><br>
    <div class="row">
        <div class="col-sm-6">
            <div class="text-center">
                <img src="/static/img/aramex_logo_slogan.png" alt="Aramex Delivery Unlimited" height="85">
                <br class="mobile-only"><br class="mobile-only">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-gray">
                <div class="card-block card-fat">
                    <h3 class="no-v-margin"><span translate>Tracking number:</span>
                        <span class="text-primary">{{ vm.shipment.details.tracking_number ? vm.shipment.details.tracking_number : 'N/A'  }}</span>
                    </h3>
                    <h3 class="no-v-margin"><span translate>Status:</span>
                        <span class="text-primary">
                            <span ng-if="!vm.shipment.details.is_complete" translate>Awaiting shipment</span>
                            <span ng-if="vm.shipment.details.is_complete" translate>Parcel shipped</span>
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="tracking-checks">
                <div class="icon-wrap icon1" ng-class="{'confirmed': vm.shipment.transaction.is_paid }">
                    <span class="icon round lg">
                        <i class="fa fa-credit-card"></i>
                    </span>
                    <span class="title" translate>Payment confirmed</span>
                    <span class="date-stamp">{{ vm.shipment.transaction.payment_date | date:'d MMMM y, h:mm a' }}</span>
                </div>

                <div class="icon-wrap icon2" ng-class="{'confirmed': vm.shipment.details.is_complete}">
                    <span class="icon round lg">
                        <i class="fa fa-truck"></i>
                    </span>
                    <span class="title">
                        <span ng-if="!vm.shipment.details.is_complete" translate>Awaiting shipment</span>
                        <span ng-if="vm.shipment.details.is_complete" translate>Parcel shipped</span>
                    </span>
                    <span class="date-stamp" ng-if="vm.shipment.details.collected_date">
                        {{ vm.shipment.details.collected_date | date:'d MMMM y, h:mm a' }}
                    </span>
                </div>
                <div class="line"></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-graylight">
                <div class="card-block">
                    <h3 class="card-title" translate>Delivery address</h3>
                    <p>{{ vm.shipment.delivery_address.line1 }}<br>
                        {{ vm.shipment.delivery_address.line2 }}<br>
                        {{ vm.shipment.delivery_address.country.name }},
                        {{ vm.shipment.delivery_address.region.name }},
                        {{ vm.shipment.delivery_address.city }}<br>
                        {{ vm.shipment.delivery_address.post_code }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Reported item details -->
<br><br>
<div class="row" ng-if="(vm.shipment && vm.shipment.details.is_collection) || vm.matchedItem.status_display !== 'Pending' && !vm.matchedItem.shipment_status || vm.matchedItem && vm.matchedItem.status_display === 'Pending'">
    <div class="col-sm-6">
        <div class="card bg-graylight">
            <div class="card-block">
                <h3 class="card-title" translate>Report Details</h3>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item  ID</strong></div>
                    <div class="col-xs-7"># {{ vm.item.id }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Date Lost</strong></div>
                    <div class="col-xs-7">{{ vm.item.date| date:'d MMMM y'}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Category</strong></div>
                    <div class="col-xs-7">{{ vm.item.category.name }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item type</strong></div>
                    <div class="col-xs-7">{{ vm.item.item_type.name }}</div>
                </div>
                <div class="row" ng-if="vm.item.specification">
                    <div class="col-xs-5"><strong translate>Specified item type</strong></div>
                    <div class="col-xs-7">{{ vm.item.specification }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item description</strong></div>
                    <div class="col-xs-7">{{ vm.item.description }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Item last seen</strong></div>
                    <div class="col-xs-7">{{ vm.item.location ? vm.item.location : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Room Number</strong></div>
                    <div class="col-xs-7">{{ vm.item.room_number ? vm.item.room_number : 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Serial number</strong></div>
                    <div class="col-xs-7">{{ vm.item.serial_number ? vm.item.serial_number : 'N/A' }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Hotel</strong></div>
                    <div class="col-xs-7">{{ vm.item.hotel.name }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><strong translate>Arrival date</strong></div>
                    <div class="col-xs-7">{{ vm.item.arrival_date ? vm.item.arrival_date : 'N/A' | date:'d MMMM y'}}</div>
                </div>
                <div class="row" >
                    <div class="col-xs-5"><strong translate>Departure date</strong></div>
                    <div class="col-xs-7">{{ vm.item.departure_date ? vm.item.departure_date : 'N/A'| date:'d MMMM y'}}</div>
                </div>
                <div ng-if="vm.item.images.length">
                    <h3 class="text-primary" translate>Photos</h3>
                    <div class="report-images">
                        <a href="{{ image.path }}" ng-repeat="image in vm.item.images" class="fancybox" rel="group">
                            <img ng-src="{{ image.path }}" img-preload alt="">
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-graylight">
            <div class="card-block">
                <h3 class="card-title" translate>Report Activity</h3>
                <div class="row">
                    <div class="col-xs-4"><strong translate>Time stamp</strong></div>
                    <div class="col-xs-4"><strong translate>Action</strong></div>
                    <div class="col-xs-4"><strong translate>By</strong></div>
                </div>
                <div class="row" ng-repeat="notification in vm.item.notifications">
                    <div class="col-xs-4">{{ notification.timestamp|timesince }}</div>
                    <div class="col-xs-4">{{ notification.verb }}</div>
                    <div class="col-xs-4">{{ notification.sent_by }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

