<h1 class="text-primary" translate>My Reports</h1>
<h2 class="text-uppercase pull-left" translate-comment="#{{ vm.itemId }}: the Item ID number" translate>Item ID #{{ vm.itemId }}</h2>
<div class="my-report-btns pull-right pull-up">
    <a class="btn btn-primary-outline btn-lg text-uppercase" type="button" ng-href="dashboard/my-reports" translate>Back</a>
</div>
<div class="clearfix"></div>
<ul class="report-status-nav">
    <li class="done">
        <span class="item" translate>Processed</span><span class="rounded-arrow"></span>
    </li>
    <li class="done">
        <span class="item" translate>Found</span><span class="rounded-arrow"></span>
    </li>
    <li class="done">
        <span class="item" translate>Shipping confirmation</span><span class="rounded-arrow"></span>
    </li>
    <li class="active">
        <span class="item" translate>Payment</span>
        <span class="rounded-arrow"></span>
    </li>
    <li>
        <span class="item" translate>Shipping</span>
        <span class="rounded-arrow "></span>
    </li>
</ul>
<div class="container">
    <div class="text-center">
        <span class="icon lg round icon-success">
            <i class="fa fa-check"></i>
        </span>
        <h2 class="text-success" translate>Payment Successful</h2><br>
        <p class="text-larger">
            <strong translate>Transaction status:</strong> {{ vm.transaction.transaction_status.order.status.text }}<br>
            <strong translate>Reference:</strong> {{ vm.transaction.transaction_status.order.transaction.ref }}
        </p>
        <br>
        <a ng-href="dashboard/my-reports/{{ vm.itemId }}" class="btn btn-primary btn-lg" translate>Done</a>
    </div>
</div>
