{% extends 'email_base.html' %}
{% load static rh_tags %}
{% block content %}
<div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: arial, helvetica;">
    <strong>Hi {{ user.first_name }},</strong>
</div>
<p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: arial, helvetica;">
    {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
        {% render_context email_obj.body_text user=user hotel=hotel uid=uid token=token %}
    {% else %}
    A request to reset your password has been made. If you receive this, but have not
    requested to reset your password, please ignore this email.
    {% endif %}
</p>
<p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: arial, helvetica;">
    If you did make this request, please click the following link to reset your password:
</p>
<div style="background-color: #f0f0f0; text-align: center; padding: 15px 0 10px 0;">
    <a href="{{ protocol }}{{ domain }}/password-reset-confirm/{{ uid }}/{{ token }}" target="_blank"><img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_reset_password.png' %}"></a>
</div>
{% endblock %}
