<section class="banner bg-login"
         cms-attr="{style: 'LogInPage.background_image'}"
         data-tmpl="background: url('[style]') rgba(0, 0, 0, 0) no-repeat fixed center center / cover"
         data-default="/static/img/login-bg.jpg">
    <div class="container-fluid padding-v">
        <h1 class="text-center" translate cms="LogInPage.header_text">Please log in</h1>
        <br>
        <div class="card w400 center-block">
            <div class="card-block card-fat">
                <div class="message-box animate-show" ng-show="vm.defaults.errors.non_field_errors">
                    <div class="alert alert-danger" role="alert" ng-repeat="err in vm.defaults.errors.non_field_errors">
                        <i class="fa fa-bolt"></i> {{ err }}
                    </div>
                </div>
                <form method="post">
                    <fieldset>
                        <div class="form-group" ng-class="{'has-error': vm.defaults.errors.email}">
                            <label translate>Email address *</label>
                            <input name="email" type="email" class="form-control input-lg" ng-model="vm.defaults.email" autocomplete="email" autofocus="autofocus">
                            <span class="help-block" ng-if="vm.defaults.errors.email" translate>This field is required.</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': vm.defaults.errors.password}">
                            <label translate>Password *</label>
                            <input name="password" type="password" class="form-control input-lg" ng-model="vm.defaults.password" enter-submit="vm.doLogin()" autocomplete="password">
                            <span class="help-block" ng-if="vm.defaults.errors.password" translate>This field is required.</span>
                        </div>
                        <div class="text-center">
                            <p><a ng-href="/forgot-password" translate>forgot your password?</a></p>
                            <div class="checkbox text-center">
                                 <label>
                                    <span class="custom-checkbox-styling">
                                        <input name="rememberme" type="checkbox" class="checkbox" ng-model="vm.defaults.rememberMe" value="">
                                        <span class="custom-checkbox">
                                            <i class="icon-check"></i>
                                        </span>
                                    </span>
                                    <span class="label-text" translate>Remember me</span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="middle-buttons">
                        <button type="submit" ng-click="vm.doLogin()" class="btn btn-primary btn-lg center-block" translate>Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <span id="yammer-login"></span>
  <script>
  try{
      yam.connect.loginButton('#yammer-login', function (resp) {
      if (resp.authResponse) {
          data = {'access_token': resp.access_token.token, 'user_id': resp.access_token.user_id}
          angular.element(document.getElementById('yammer-login')).scope().vm.doYammerLogin(data);
      }
    });
  } catch (e) {console.log(e)}
  </script>

</section>
