{% extends 'email_base.html' %}
{% load static rh_tags %}

{% block hotel_logo %}{% endblock %}


{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Hi {{ user.first_name }},</strong></div>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
            {% render_context email_obj.body_text user=user hotel=hotel hotel_user=hotel_user %}
        {% else %}
        Your ReturnHound account permissions for <strong>{{ hotel_user.employer.name }}</strong> has been updated.
        {% endif %}
    </p>

    <p style="font-family: 'Arial', Helvetica, sans-serif; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 14px;">
        <strong>You have been given the following permissions:</strong>
    </p>

    <ul style="font-family: 'Arial', Helvetica, sans-serif; line-height: 20px; margin: 15px auto; font-size: 14px;">
        <li>Log found items</li>
        {% if hotel_user.is_admin %}<li>Create more users</li>{% endif %}
        <li>Update your details</li>
        {% if hotel_user.is_admin or hotel_user.is_supervisor %}<li>Match items</li>{% endif %}
    </ul>

    <p style="font-family: 'Arial', Helvetica, sans-serif; font-size: 14px; "><strong>Please login to view these permissions.</strong></p>

    <p style="text-align: center; margin-top: 30px;">
        <a href="{{ protocol }}{{ domain }}/login" target="_blank" style="text-decoration: none; ">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn-login.png' %}" height="60" alt="Log in to view details" style="border: none; height: 60px; width: auto; ">
        </a>
    </p>
{% endblock %}
