{% extends 'email_base.html' %}
{% load static rh_tags %}

{% block hotel_logo %}{% endblock %}

{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Hi {{ found_item.hotel.name }},</strong></div>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
            {% render_context email_obj.body_text user=lost_item.created_by hotel=hotel lost_item=lost_item found_item=found_item shipping=shipping %}
        {% else %}
            <strong>Awesome!</strong>
            We have been notified by <strong>{{ lost_item.created_by.first_name }}</strong>
            {% if shipping.is_collection %}
                that he/she would like someone to collect their lost item on their behalf.
            {% else %}
                that he/she would like their item delivered to their door.
            {% endif %}
        {% endif %}
    </p>
    <table cellspacing="0" border="0" width="100%" style="font-family: 'Arial', Helvetica, sans-serif; font-size: 14px; color: {% get_style email_obj 'body_text_colour' '#373737'  %};">
        {% if not shipping.is_collection %}
            <tr>
                <td style="border-bottom: 1px solid #bbb; padding-top: 10px;  vertical-align: top; width: 150px; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    <strong>Delivery Address</strong>
                </td>
                <td style="border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    <strong>{{ lost_item.created_by.first_name }}</strong>,<br>
                    {% include "emails/_address.html" with addr=shipping.get_delivery_address %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td style="border-bottom: 1px solid #bbb; padding-top: 10px; vertical-align: top; width: 150px; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    <strong>Collector details</strong>
                </td>
                <td style="border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    Name: <strong>{{ shipping.collector_name }}</strong><br>
                    Email: <strong>{{ shipping.collector_email }}</strong><br>
                    Contact number: <strong>{{ shipping.collector_contact_number }}</strong>
                </td>
            </tr>
        {% endif %}
    </table>
    <p style="font-family: 'Arial', Helvetica, sans-serif; font-size: 14px; text-align: center; margin-top: 30px; ">
        Any queries? We are always available to assist. <br>
        <br>
        <a href="{{ protocol }}{{ domain }}/contact-us" target="_blank" style="text-decoration: none;">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_contact.png' %}" alt="Contact us" height="60" style="border: none; height: 60px; width: auto; ">
        </a>
    </p>
{% endblock %}
