{% extends 'email_base.html' %}
{% load static rh_tags %}

{% block hotel_logo %}{% endblock %}

{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Hi {{ lost_item.created_by.first_name }},</strong></div>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and email_obj.body_text %}
            {% render_context email_obj.body_text user=lost_item.created_by hotel=hotel lost_item=lost_item %}
        {% else %}
        We would like to remind you that an item matching your reported lost item has been found at <strong>{{ lost_item.hotel.name }}</strong>.
        Please <a href="{{ protocol }}{{ domain }}/login" style="color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %};">log in to your ReturnHound account</a> to confirm that the found item found is yours.
        {% endif %}
    </p>
    <table cellspacing="0" border="0" width="100%" style="font-family: 'Arial', Helvetica, sans-serif; font-size: 14px; {% get_style email_obj 'body_text_colour' '#373737'  %};">
        <tr>
            <td colspan="2" style="padding: 10px 0; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-family: 'Arial', Helvetica, sans-serif; font-size: 16px;">
                <strong>Item Details</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 150px; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                <strong>Item ID</strong>
            </td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                # {{ lost_item.id }}
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                <strong>Hotel</strong>
            </td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                {% include 'emails/_hotel_name_location.html' with hotel=lost_item.hotel %}
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                <strong>Item</strong>
            </td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                {{ lost_item.category.name }}, {{ lost_item.item_type.name }}, {% if lost_item.specification %}{{ lost_item.specification }},{% endif %}
                {{ lost_item.description }}
            </td>
        </tr>
    </table>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        <strong>{{ lost_item.hotel.name }}</strong> Will hold this item for 30 days.
    </p>
    <p style="text-align: center; margin-top: 30px;">
        <a href="{{ protocol }}{{ domain }}/login" target="_blank" style="text-decoration: none;">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_view_item.png' %}" height="60" style="border: none; height: 60px; width: auto;" alt="View matched item">
        </a>
    </p>
{% endblock %}
