{% extends 'email_base.html' %}
{% load static rh_tags %}

{% block hotel_logo %}{% endblock %}

{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Dear {{ hotel.name }}</strong></div>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
            {% render_context email_obj.body_text user=item.created_by hotel=hotel %}
        {% else %}
        A new report has been received. Please refer to the below details of the lost item.
        {% endif %}
    </p>
    <table cellspacing="0" border="0" width="100%" style="margin: 0 auto 30px auto; color: {% get_style email_obj 'body_text_colour' '#000'  %}">
        <tr>
            <td colspan="2" style="padding: 10px 0; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 16px;">
                <strong>Report Details</strong>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 180px; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"><strong>Item ID</strong></td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"> # {{ item.id }}</td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"><strong>Hotel</strong></td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0;">
                {% include 'emails/_hotel_name_location.html' with hotel=item.hotel %}
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"><strong>Lost item</strong></td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                {{ item.category.name }}, {{ item.item_type.name }}, {% if item.specification %}{{ item.specification }},{% endif %} {{ item.description }}
            </td>
        </tr>
        {% if item.serial_number %}
            <tr>
                <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Serial number</strong></td>
                <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0;">{{ item.serial_number }}</td>
            </tr>
        {% endif %}
        {% if item.arrival_date and item.departure_date %}
            <tr>
                <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    <strong>Accommodation dates</strong>
                </td>
                <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    {{ item.arrival_date }} - {{ item.departure_date }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                <strong>Date lost</strong>
            </td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                {{ item.date }}
            </td>
        </tr>
        {% if item.room_number %}
            <tr>
                <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    <strong>Room number</strong>
                </td>
                <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    {{ item.room_number }}
                </td>
            </tr>
        {% endif %}
        {% if item.last_location %}
            <tr>
                <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    <strong>Last seen</strong>
                </td>
                <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                    {{ item.location }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2" style="padding: 30px 0 10px 0; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 16px;">
                <strong>Client Details</strong>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                <strong>Full name</strong>
            </td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                {{ item.created_by.first_name }} {{ item.created_by.last_name }}
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                <strong>Contact number</strong>
            </td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                {{ item.created_by.contact_number }}
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                <strong>Email address</strong>
            </td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                {{ item.created_by.email }}
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">
                <strong>Delivery address</strong>
            </td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0;">
                {% include "emails/_address.html" with addr=item.created_by.address %}
            </td>
        </tr>
    </table>
    <p style="text-align: center;">
        <a href="{{ protocol }}{{ domain }}/login" target="_blank" style="text-decoration: none; ">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_view_report.png' %}" height="60" alt="View this report" style="border: none; height: 60px; width: auto; ">
        </a>
    </p>

{% endblock %}
