{% extends 'email_base.html' %}
{% load static rh_tags %}

{% block hotel_logo %}{% endblock %}


{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Hi {{ user.first_name }},</strong></div>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and email_obj.body_text %}
            {% render_context email_obj.body_text user=user hotel=hotel %}
        {% else %}
        Welcome to your <strong>ReturnHound</strong> account.
        {% endif %}
    </p>
    {% if email_obj and email_obj.body_text %}
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; line-height: 18px;">
        <strong>{{ hotel.name }}</strong> has added you as
        {% if hotel_user.is_admin and not hotel_user.is_supervisor %}
            an admin
        {% elif hotel_user.is_supervisor and not hotel_user.is_admin %}
            a supervisor
        {% else %}
            a
        {% endif %}
        user to their account.
    </p>
    {% endif %}

    <p style="font-family: 'Arial', Helvetica, sans-serif; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 14px;">
        <strong>You have been given the following permissions:</strong>
    </p>
    <ul style="margin: 15px auto;">
        <li style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; line-height: 20px; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">Log found items</li>
        {% if hotel_user.is_admin %}<li>Create more users</li>{% endif %}
        <li style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; line-height: 20px; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">Update your details</li>
        {% if hotel_user.is_admin or hotel_user.is_supervisor %}<li>Match items</li>{% endif %}
    </ul>
    <p style="color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 14px; line-height: 18px;  font-family: 'Arial', Helvetica, sans-serif;">
        <strong>Please log in using the below log in credentials for your account:</strong>
    </p>
    <table cellpadding="0" cellspacing="0" border="0" style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        <tr>
            <td style="padding: 0 20px 5px 0">Email address:</td>
            <td><strong>{{ user.email }}</strong></td>
        </tr>
        <tr>
            <td style="padding: 0 20px 5px 0">Temporary password: </td>
            <td><strong>{{ password }}</strong></td>
        </tr>
    </table>
    <p style="text-align: center; margin-top: 30px;">
        <a href="{{ protocol }}{{ domain }}/login" target="_blank" style="text-decoration: none">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn-login.png' %}" height="60" alt="Log in to view details" style="border: none; height: 60px; width: auto; ">
        </a>
    </p>
{% endblock %}
