{% extends 'email_base.html' %}
{% load static rh_tags %}
{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 18px; text-align: center; font-family: 'Arial', Helvetica, sans-serif; margin-bottom: 15px;"><strong>NEW DEMO REQUEST</strong></div>
    <div style="{% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Hi ReturnHound,</strong></div>
    <p style="{% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
            {% render_context email_obj.body_text email=email hotel=hotel_name demo_date=demo_date demo_time=demo_time %}
        {% else %}
        You've got a new demo request.
        {% endif %}
    </p>
    <table cellspacing="0" border="0" width="100%" style="font-family: 'Arial', Helvetica, sans-serif; font-size: 14px; {% get_style email_obj 'body_text_colour' '#373737'  %}; ">
        <tr>
            <td colspan="2" style="padding-top: 10px; padding-bottom: 10px;color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-family: 'Arial', Helvetica, sans-serif; font-size: 16px;"><strong>Details</strong></td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 150px; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"><strong>From</strong></td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">{{ full_name }}</td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"><strong>Email</strong></td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">{{ email }}</td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"><strong>Number</strong></td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">{{ contact_number }}</td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"><strong>Hotel</strong></td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">{{ hotel_name }}</td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"><strong>Preferred date:</strong></td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">{% if demo_date %}{{ demo_date|date:"l, j N Y" }} {% else %} N/A {% endif  %}</td>
        </tr>
        <tr>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;"><strong>Preferred time:</strong></td>
            <td style="vertical-align: top; border-bottom: 1px solid #bbb; padding: 10px 0; font-family: 'Arial', Helvetica, sans-serif; font-size: 14px;">{% if demo_time %} {{ demo_time }}{% else %} N/A {% endif  %}</td>
        </tr>
    </table>

    <p style="text-align: center; margin-top: 30px;">
        <a href="mailto:{{ email }}?Subject=ReturnHound" target="_blank" style="text-decoration: none; ">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_reply.png' %}" height="60" style="border: none; height: 60px; width: auto; ">
        </a>
    </p>

{% endblock %}
