{% extends 'email_base.html' %}
{% load static rh_tags %}

{% block hotel_logo %}{% endblock %}

{% block content %}
    <div style="{% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px;font-family: 'Arial', Helvetica, sans-serif;">
        <strong>Dear {{ client.first_name }},</strong>
    </div>

    <p style="{% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px;font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
            {% render_context email_obj.body_text client=client hotel=hotel lost_item=item %}
        {% else %}
        Thank you for using <strong>ReturnHound</strong>. Please find confirmation of your report below:
        {% endif %}
    </p>
    <table cellspacing="0" border="0" width="100%" style="margin: 0 auto 30px auto;">
        <tr>
            <td colspan="2" style="font-family: 'Arial', Helvetica, sans-serif; padding: 10px 0; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 16px;"><strong>Your Report Details</strong></td>
        </tr>
        <tr>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; width: 180px; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Item ID</strong></td>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;"># {{ item.id }} </td>
        </tr>
        <tr>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0; vertical-align: top"><strong>Hotel</strong></td>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;">
                {% include 'emails/_hotel_name_location.html' with hotel=item.hotel %}
            </td>
        </tr>
        <tr>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0; vertical-align: top"><strong>Lost item</strong></td>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;">
                {{ item.category.name }}, {{ item.item_type.name }}, {% if item.specification %}{{ item.specification }},{% endif %} {{ item.description }}
            </td>
        </tr>
        {% if item.serial_number %}
            <tr>
                <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Serial number</strong></td>
                <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;">
                    {{ item.serial_number }}
                </td>
            </tr>
        {% endif %}
        {% if item.arrival_date and item.departure_date %}
            <tr>
                <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Accommodation dates</strong></td>
                <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;">{{ item.arrival_date }} - {{ item.departure_date }}</td>
            </tr>
        {% endif %}
        <tr>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Date lost</strong></td>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;">{{ item.date }}</td>
        </tr>
        {% if item.room_number %}
            <tr>
                <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Room number</strong></td>
                <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;">{{ item.room_number }}</td>
            </tr>
        {% endif %}
        {% if item.location %}
            <tr>
                <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Last seen</strong></td>
                <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;">{{ item.location }}</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2" style="font-family: 'Arial', Helvetica, sans-serif; padding: 30px 0 10px 0; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 16px;"><strong>Your Details</strong></td>
        </tr>
        <tr>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Full name</strong></td>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;"> {{ client.first_name }} {{ client.last_name }}</td>
        </tr>
        <tr>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Contact number</strong></td>
            <td style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-bottom: 1px solid #bbb; padding: 10px 0;">{{ client.contact_number }}</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0;font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Email address</strong></td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0;font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">{{ client.email }}</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0;font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Delivery address</strong></td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
                {% include "emails/_address.html" with addr=client.address %}
            </td>
        </tr>
    </table>

    <p style="text-align: center;">
        <a href="{{ protocol }}{{ domain }}/login" target="_blank" style="text-decoration: none; ">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn-login.png' %}" height="60" alt="Log in to view details" style="border: none; height: 60px; width: auto; ">
        </a>
    </p>

{% endblock %}
