{% extends 'email_base.html' %}
{% load static rh_tags %}

{% block hotel_logo %}{% endblock %}

{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Dear {{ lost_item.created_by.first_name }},</strong></div>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
            {% render_context email_obj.body_text user=lost_item.created_by hotel=hotel lost_item=lost_item %}
        {% else %}
        Thank you for arranging collection of your lost item.
        {% endif %}
    </p>
    <table cellspacing="0" border="0" width="100%" style="font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; color: {% get_style email_obj 'body_text_colour' '#373737'  %}; ">
        <tr>
            <td colspan="2" style="padding: 10px 0; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 16px;"><strong>Item Details</strong></td>
        </tr>
        <tr>
            <td style="width: 180px; border-bottom: 1px solid #bbb; padding: 10px 0;"><strong>Collection date</strong></td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0;">{{ shipping.collected_date|date:"l j N Y" }}</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0; vertical-align: top"><strong>Hotel</strong></td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0;">
                {% include 'emails/_hotel_name_location.html' with hotel=lost_item.hotel %}
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0; vertical-align: top"><strong>Lost item</strong></td>
            <td style="border-bottom: 1px solid #bbb; padding: 10px 0;">
                {{ lost_item.category.name }}, {{ lost_item.item_type.name }}, {% if lost_item.specification %}{{ lost_item.specification }},{% endif %} {{ lost_item.description }}
            </td>
        </tr>
    </table>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; line-height:18px; font-family: 'Arial', Helvetica, sans-serif;">
        We'd love to know your thoughts on the <strong>ReturnHound</strong> experience. Please feel free to contact us directly or via our social media platforms below.
    </p>
    <p style="text-align: center; margin-top: 30px;">
        <a href="{{ protocol }}{{ domain }}/contact-us" target="_blank" style="text-decoration: none; ">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_contact.png' %}" height="60" style="border: none; height: 60px; width: auto; " alt="contact us">
        </a>
    </p>
{% endblock %}
