{% extends 'email_base.html' %}
{% load static rh_tags %}

{% block hotel_logo %}{% endblock %}

{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;"><strong>Dear Admin,</strong></div>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
            {% render_context email_obj.body_text user=user hotel=hotel %}
        {% else %}
        Please be informed that a new hotel user has signed up for an account:
        {% endif %}
    </p>
    <table cellpadding="0" cellspacing="0" border="0" style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        <tr>
            <td style="padding: 0 20px 5px 0">Hotel name:</td>
            <td><strong>{{ hotel.name }}</strong></td>
        </tr>
        <tr>
            <td style="padding: 0 20px 5px 0;">Email:</td>
            <td><strong>{{ user.email }}</strong></td>
        </tr>
        <tr>
            <td style="padding: 0 20px 5px 0;">Password:</td>
            <td><strong>{{ password }}</strong></td>
        </tr>
    </table>

    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif; border-top: 1px solid #999; padding-top: 10px; margin-top: 30px;">
        Yours sincerely,<br>
        <strong>ReturnBot</strong>
    </p>
{% endblock %}
