{% extends 'email_base.html' %}
{% load static rh_tags %}
{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;">
        <strong>Dear {{ user.first_name }},</strong>
    </div>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; line-height: 18px; font-family: 'Arial', Helvetica, sans-serif;">
        Welcome to ReturnHound.
    </p>
    <p style="color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
            {% render_context email_obj.body_text user=user hotel=hotel %}
        {% else %}
        We'll help you find your lost items!
        {% endif %}
    </p>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; line-height: 18px;  font-family: 'Arial', Helvetica, sans-serif;">
        We have created a temporary password for your ReturnHound account.  Please use the below information to stay updated with our search.
    </p>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; line-height: 18px;  font-family: 'Arial', Helvetica, sans-serif;">
        <strong>Your account details:</strong>
    </p>
    <table cellpadding="0" cellspacing="0" border="0" style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px; font-family: 'Arial', Helvetica, sans-serif;">
        <tr>
            <td style="padding: 0 20px 5px 0">Email address:</td>
            <td><strong>{{ user.email }}</strong></td>
        </tr>
        <tr>
            <td style="padding: 0 20px 5px 0">Temporary password: </td>
            <td><strong>{{ password }}</strong></td>
        </tr>
    </table>
    <br>
    <p style="text-align: center;">
        <a href="{{ protocol }}{{ domain }}/login" target="_blank" style="text-decoration: none; ">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn-login.png' %}" alt="Log in to view details" height="60" style="border: none; height: 60px; width: auto;">
        </a>
    </p>
    <br>

    <img src="{{ protocol }}{{ domain }}{% static 'email-img/welcome_banner.jpg' %}"
         alt="Welcome to Returnhound. You're on the road to getting your lost items returned to you." width="600" style="display: block; border: 0;">

    <p style="text-align: center; font-size: 30px; color: {% get_style email_obj 'body_text_colour' '#373737'  %}; margin: 30px auto; font-family: 'Arial', Helvetica, sans-serif;"><strong>This is how it works</strong></p>

    <table border="0" cellpadding="0" cellspacing="0" width="100%" style=" font-family: 'Arial', Helvetica, sans-serif;">
        <tr>
            <td style="padding: 20px;">
                <img src="{{ protocol }}{{ domain }}{% static 'email-img/dog-01.png' %}" alt="Step 1" width="200" style="display: block; border: 0;">
            </td>
            <td style="padding: 20px;">
                <div style="font-size: 18px; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %};"><strong>Report your lost item</strong></div>
                <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; line-height: 18px; font-size: 14px; margin-bottom: 20px;">Fill in our incredibly simple online form, and ReturnHound is on the scent. We search through thousands of items within our complex
                    systems to match lost with found, quickly.</p>
                <a href="{{ protocol }}{{ domain }}/report/step-1" target="_blank" style="text-decoration: none; ">
                    <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_report.png' %}" alt="Report a lost item" height="60" style="display: block;  height: 60px; width: auto; border: 0;">
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <img src="{{ protocol }}{{ domain }}{% static 'email-img/dog-02.png' %}" alt="Step 2" width="200" style="display: block; border: 0;">
            </td>
            <td style="padding: 20px;">
                <div style="font-size: 18px; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %};"><strong>Lost item is matched</strong></div>
                <p style="line-height: 18px; font-size: 14px; color: {% get_style email_obj 'body_text_colour' '#373737'  %}; margin-bottom: 20px;">
                    Once we've tracked down your item, we'll automatically notify you that the panic is over, and plan the reunion.
                </p>
                <a href="{{ protocol }}{{ domain }}/dashboard/my-reports" target="_blank" style="text-decoration: none; ">
                    <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_match.png' %}" alt="Check For A Match" height="60" style="display: block; height: 60px; width: auto; border: 0;">
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <img src="{{ protocol }}{{ domain }}{% static 'email-img/dog-03.png' %}" alt="Step 3" width="200" style="display: block; border: 0;">
            </td>
            <td style="padding: 20px;">
                <div style="font-size: 18px; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %};"><strong>Lost items are returned</strong></div>
                <p style="line-height: 18px; font-size: 14px; color: {% get_style email_obj 'body_text_colour' '#373737'  %}; margin-bottom: 20px;">
                    We'll arrange swift, secure and seamless shipping to your preferred locations with one of our approved couriers.
                </p>
                <a href="{{ protocol }}{{ domain }}/dashboard/settings" target="_blank" style="text-decoration: none; ">
                    <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_address.png' %}" alt="Update Delivery Address" height="60" style="display: height: 60px; width: auto; block; border: 0;">
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
