{% extends 'email_base.html' %}
{% load static rh_tags %}

{% block hotel_logo %}{% endblock %}


{% block content %}
    <div style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 18px; font-family: 'Arial', Helvetica, sans-serif;">
        <strong>Hi {{ user.first_name }},</strong>
    </div>
    <p style="color: {% get_style email_obj 'body_text_colour' '#373737'  %}; font-size: 14px;  line-height: 18px; font-family: 'Arial', Helvetica, sans-serif;">
        {% if email_obj and not email_obj.is_base_style and email_obj.body_text %}
            {% render_context email_obj.body_text user=user hotel=hotel %}
        {% else %}
        Welcome to your Returnhound account for <strong>{{ hotel.name }}</strong>.
        <br>
        <br>
        A customer service consultant will contact you by telephone between 7:00am and 5:00 pm UTC+04:00 to confirm your
        company information provided. Afterwards you will receive your log in credentials.
        {% endif %}
    </p>

    <br>
    <img src="{{ protocol }}{{ domain }}{% static 'email-img/hotel_banner.jpg' %}"
         alt="The Global hotel industry lost and found solution" width="600" style="display: block; border: 0;">

    <p style="text-align: center; font-size: 30px; color: {% get_style email_obj 'body_text_colour' '#373737'  %}; margin: 30px auto; font-family: 'Arial', Helvetica, sans-serif;">
        <strong>Lost &amp; found just got easier</strong>
    </p>

    <p style="text-align: center;">
        <img src="{{ protocol }}{{ domain }}{% static 'email-img/no-cost.jpg' %}" alt="No Cost" width="400" style="border: 0;">
    </p>
    <br>

    <div style="font-size: 20px; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; text-align: center"><strong>Lost &amp; Found - Without the fuss</strong></div>
    <p style="font-family: 'Arial', Helvetica, sans-serif;  text-align: center; font-size: 14px;  line-height: 18px; color: {% get_style email_obj 'body_text_colour' '#373737'  %};">
        ReturnHound costs the hotel <strong>NOTHING</strong><br>
        Your guest will pay the courier fee required to return their lost item, which will be
        exactly the same rate they would be charged by going directly to the company.
    </p>


    <div style="font-size: 20px; color: {% get_style email_obj 'body_text_colour_2' '#027fba'  %}; text-align: center; margin-top: 30px;"><strong>Automated Process</strong></div>
    <p style="font-family: 'Arial', Helvetica, sans-serif; text-align: center;  font-size: 14px;  line-height: 18px; margin-bottom: 20px; color: {% get_style email_obj 'body_text_colour' '#373737'  %};">
        The ReturnHound system is complex, but let us worry about that. Your guests will breeze
        through our simple online form to register their lost item, and be automatically
        updated on our search and return, every step of the way. When we say we're an
        end-to-end solution - we mean it. All we need from your team is a manual check
        of our match.
    </p>
    <p style="text-align: center;margin-top: 40px;">
        <a href="{{ protocol }}{{ domain }}/how-it-works" target="_blank" style="text-decoration: none;">
            <img src="{{ protocol }}{{ domain }}{% static 'email-img/btn_learn_more_blue.png' %}" alt="Learn more" height="60" style="border: 0; height: 60px; width: auto;">
        </a>
    </p>
{% endblock %}
