
.icon-check:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-quote-left-alt:before { content: '\e802'; } /* '' */
.icon-quote-right-alt:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-cancel-1:before { content: '\e806'; } /* '' */
.icon-fax:before { content: '\e807'; } /* '' */
.icon-mail-alt:before { content: '\e808'; } /* '' */