{% extends 'admin/change_form.html' %}
{% load i18n admin_urls admin_static admin_modify %}

{% block submit_buttons_bottom %}

<div class="submit-row">
    <input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
    <input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />
    <input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />
    {% if original.pk %}
    <input type="button" value="{% trans 'Preview' %}" onclick="window.open('{% url 'admin:email_preview' original.pk %}', '{{ original.pk }}{{ original.template.name }}')" />
    {% endif %}
</div>
{% endblock %}
