<ul class="nav navbar-nav navbar-right">
    <li><a ng-href="/report/step-1" class="{% if tab == 'report' %}active{% endif %}" data-toggle="collapse" data-target=".navbar-collapse.in" cms="Header.report_lost_item_link_text" translate>{% verbatim %} Report lost item {% endverbatim %}</a></li>
    <li ng-hide="user.authenticated"><a ng-href="/login" class="{% if tab == 'report' %}active{% endif %}" data-toggle="collapse" data-target=".navbar-collapse.in" cms="Header.login_link_text" translate>{% verbatim %} Log In {% endverbatim %}</a></li>
    <li ng-hide="!user.authenticated"><a href="" ng-click="doLogout()" data-toggle="collapse" data-target=".navbar-collapse.in" translate>Logout</a></li>
    <li ng-show="user.authenticated && user.is_hotel_user"><a ng-href="/hotel-dashboard/log-item" data-toggle="collapse" data-target=".navbar-collapse.in" translate>Dashboard</a></li>
    <li ng-show="user.authenticated && !user.is_hotel_user"><a ng-href="/dashboard/my-reports" data-toggle="collapse" data-target=".navbar-collapse.in" translate>Dashboard</a></li>
    <li ng-hide="user.authenticated"><a ng-href="/hotel-zone" class="nav-btn" data-toggle="collapse" data-target=".navbar-collapse.in" cms="Header.hotel_zone_link_text" translate>{% verbatim %} Hotel Zone {% endverbatim %}</a></li>
    <li>
        {% verbatim %}
            <div uib-dropdown is-open="status.isopen">
                <div class="nav-btn" uib-dropdown-toggle>
                    <span class="flag">
                        <span class="{{ selectedLanguage }}"></span>
                    </span>
                    <span class="mobile-inline-only"><span translate>Select Language</span> &nbsp;&nbsp;</span>
                    <span class="caret"></span>
                </div>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" class="flag-dropdown">
                    <li ng-repeat="language in languages" role="menuitem">
                        <a href="" ng-click="changeLanguage(language.key)" data-toggle="collapse" data-target=".navbar-collapse.in" >
                            <span class="flag">
                                <span class="{{ language.key }}"></span>
                            </span> {{ language.name }}
                            <i ng-show="selectedLanguage === language.key" class="icon-check"></i>
                        </a>
                    </li>
                </ul>
            </div>
        {% endverbatim %}
    </li>
    <!--
    <li><a class="{% if tab == 'overview' %}active{% endif %}">Overview</a></li>
    <li><a class="{% if tab == 'support' %}active{% endif %}">Support</a></li>
    -->
</ul>
