<!DOCTYPE html>
<html dir="ltr" lang="en">

{% load static pipeline %}
<style>
    @media print {
        h4.invoice-header { color: #027fba !important; -webkit-print-color-adjust: exact;}
        table.table-striped tbody > tr:nth-child(odd) { background-color: #eaeaea !important; -webkit-print-color-adjust: exact;}
        td.total-amount { color: #027fba !important; -webkit-print-color-adjust: exact;}
    }
    @page  {
        size: A4 portrait;
        margin: 20pt;
    }
    table.table-striped tbody > tr:nth-child(odd) { background-color: #eaeaea;}
</style>
<head>
    <meta charset="UTF-8">
    <title>{{ object.tracking_number }} Invoice</title>
    {% stylesheet 'returnhound_bootstrap' %}
</head>


<body>
<table cellpadding="0" cellspacing="0" border="0" style="height: 47pt; width: 100%;">
    <tbody>
    <tr>
        <td colspan="2" width="100%" style="padding: 20px; border-bottom: 1px solid #027fba;">
            <h4 class="invoice-header" style="text-align: right; color: #027fba;">Invoice</h4>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%">
            <h2 style="text-align: center;">{{ object.hotel|title }}</h2>
        </td>
    </tr>
    <tr>
        <td width="50%" style="padding: 0 25px; width: 50%;">
            <h3 style="border-bottom: 1px solid #cbcbcb; line-height: 65px;">Consignee</h3>
        </td>
        <td width="50%" style="padding: 0 25px; width: 50%;">
            <h3 style="border-bottom: 1px solid #cbcbcb; line-height: 65px;">Misc</h3>

        </td>
    </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody>
    <tr>
        <td width="50%" style="padding: 0 25px; vertical-align: top; width: 50%;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                {% with object.shipment.get_delivery_address as address %}
                    <tr>
                        <td width="35%" style="width: 35%; vertical-align: top;"><strong>Company</strong></td>
                        <td width="65%" style="width: 65%; vertical-align: top;">{{ object.company|title }}</td>
                    </tr>
                    <tr>
                        <td width="35%" style="width: 35%; vertical-align: top;"><strong>Attention</strong></td>
                        <td width="65%" style="width: 65%; vertical-align: top;">{{ object.attention|title }}</td>
                    </tr>
                    <tr>
                        <td width="35%" style="width: 35%; vertical-align: top;"><strong>Address</strong></td>
                        <td width="65%" style="width: 65%; vertical-align: top;">{{ address.line1 }}{% if address.line2 %}, {{ address.line2 }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td width="35%" style="width: 35%; vertical-align: top;"><strong>City</strong></td>
                        <td width="65%" style="width: 65%; vertical-align: top;">{{ address.city }}</td>
                    </tr>
                    <tr>
                        <td width="35%" style="width: 35%; vertical-align: top;"><strong>Country</strong></td>
                        <td width="65%" style="width: 65%; vertical-align: top;">{{ address.country.name }}</td>
                    </tr>
                    <tr>
                        <td width="35%" style="width: 35%; vertical-align: top;"><strong>Phone</strong></td>
                        <td width="65%" style="width: 65%; vertical-align: top;">{{ object.contact_number }}</td>
                    </tr>
                {% endwith %}
            </table>
        </td>
        <td style="padding: 0 25px; vertical-align: top; width: 50%;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="60%" style="width: 60%; vertical-align: top;"><strong>Date</strong></td>
                    <td width="40%" style="width: 40%; vertical-align: top;">{{ object.created|date }}</td>
                </tr>
                <tr>
                    <td width="60%" style="width: 60%; vertical-align: top;"><strong>Rep</strong></td>
                    <td width="40%" style="width: 40%; vertical-align: top;">{{ object.rep }}</td>
                </tr>
                <tr>
                    <td width="60%" style="width: 60%; vertical-align: top;"><strong>Tracking Number</strong></td>
                    <td width="40%" style="width: 40%; vertical-align: top;">{{ object.tracking_number }}</td>
                </tr>
                <tr>
                    <td width="60%" style="width: 60%; vertical-align: top;"><strong>FOB</strong></td>
                    <td width="40%" style="width: 40%; vertical-align: top;">{{ object.fob }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 0 25px;">
            <table class="table-striped" cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin: 40px 0;">
                <thead>
                <tr style="border-bottom: 2px solid #ddd;">
                    <th style="padding: 5px;"><strong>Qty</strong></th>
                    <th style="padding: 5px;"><strong>Description</strong></th>
                    <th style="padding: 5px;"><strong>Item Currency</strong></th>
                    <th style="padding: 5px;"><strong>Item Value</strong></th>
                    <th style="text-align: right; padding: 5px;"><strong>Total</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for item in object.items.all %}
                        <td style="padding: 5px;">{{ item.quantity }}</td>
                        <td style="padding: 5px;">{{ item.name }} {{ item.description }}</td>
                        <td style="padding: 5px;">{{ item.item_value_currency }}</td>
                        <td style="padding: 5px;">{{ item.price }}</td>
                        <td style="padding: 5px;" class="text-right">{{ item.total }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="padding: 0 25px; text-align: right;">
            <table class="total" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                <tr>
                    <td width="80%" style="padding: 5px; width: 80%;"><strong>Sub Total:</strong></td>
                    <td width="20%" style="padding: 5px; width: 20%;">{{ object.sub_total }}</td>
                </tr>
                <tr>
                    <td width="80%" style="padding: 5px; width: 80%;"><strong>Shipping:</strong></td>
                    <td width="20%" style="padding: 5px; width: 20%;">{{ object.shipping_price }}</td>
                </tr>
                <tr>
                    <td width="80%" style="padding: 5px; width: 80%;"><strong>Tax Rate(s):</strong></td>
                    <td width="20%" style="padding: 5px; width: 20%;">{{ object.tax_rate|default:'0.00' }} %</td>
                </tr>
                <tr>
                    <td width="80%" class="total-amount" style="padding: 5px; width: 80%; color: #027fba !important;"><strong>Total:</strong></td>
                    <td width="20%" class="total-amount" style="padding: 5px; width: 20%; color: #027fba; !important;"><strong>{{ object.total }}</strong></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="padding: 0 25px;">
            <div style="width: 300px; height: 100px; float: right; padding: 5px; margin-top: 20px; border: 1px solid #dddddd;">
                <strong>Stamp &amp; Sign:</strong>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
