<style>
    .help-block.error {color: red}
</style>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group" show-errors>
            <label><span class="asterix">*</span> <span translate>Address line 1</span></label>
            <input name="line1" type="text" class="form-control input-lg"
                   placeholder="{{ 'Street / building name & number' | translate }}"
                   ng-disabled="vm.inputDisabled"
                   ng-model="model.line1"
                   ng-model-options="{updateOn: 'blur'}"
                   required>
            <ng-messages for="form.line1.$error" role="alert" ng-show="form.$submitted">
                <span ng-message when="required" class="help-block error">This is required</span>
            </ng-messages>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group" show-errors>
            <label translate>Address line 2</label>
            <input name="line2" type="text" class="form-control input-lg"
                   placeholder="{{ 'Suburb, town' | translate }}"
                   ng-disabled="vm.inputDisabled"
                   ng-model="model.line2"
                   ng-model-options="{updateOn: 'blur'}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group" show-errors>
            <label><span class="asterix">*</span> <span translate>Country</span></label>
            <select name="country" class="form-control input-lg"
                    ng-model="model.country"
                    ng-disabled="vm.inputDisabled"
                    ng-options="c.name for c in vm.countries track by c.id"
                    required>
                <option value='' translate>Select Country</option>
            </select>
            <ng-messages for="form.country.$error" role="alert" ng-show="form.$submitted">
                <div ng-message when="required" class="help-block error">This is required</div>
            </ng-messages>
        </div>
    </div>
    <div class="col-sm-6" ng-if="model.country && vm.regions.length">
        <div class="form-group" show-errors>
            <label><span class="asterix">*</span> <span translate>State</span></label>
            <select name="region" class="form-control input-lg"
                    ng-disabled="!model.country || vm.inputDisabled"
                    ng-model="model.region"
                    ng-options="r.name for r in vm.regions track by r.id"
                    ng-required="model.country.state_required">
                <option value='' translate>Select State</option>
            </select>
            <ng-messages for="form.region.$error" role="alert" ng-show="form.$submitted">
                <div ng-message when="required" class="help-block error">This is required</div>
            </ng-messages>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group" show-errors>
            <label><span class="asterix">*</span> <span translate>City</span></label>
            <input name="city" type="text" class="form-control input-lg"
                   placeholder="{{ 'Start typing your city name' | translate }}"
                   uib-typeahead="c.name for c in vm.searchCities($viewValue)"
                   data-typeahead-loading="vm.loading.cities"
                   data-typeahead-editable="true"
                   data-typeahead-min-length="2"
                   data-typeahead-wait-ms="500"
                   ng-disabled="vm.inputDisabled"
                   ng-model="model.city"
                   required>

            <ng-messages for="form.city.$error" role="alert" ng-show="form.$submitted">
                <span ng-message when="required" class="help-block error">This is required</span>
                <!-- When we have a flat structure (address field exists on the form) -->
                <span ng-message when="server" class="help-block error">{{ form.city.serverError }}</span>
            </ng-messages>

            <span ng-repeat="error in form.$serverErrors.address.city"
                  class="help-block error">{{error}}</span>

            <div class="field-loader" ng-show="vm.loading.cities">
                <!-- Loading indicator for city autocomplete -->
                <div class="loader"></div></div>
        </div>
    </div>
    <div class="col-sm-6" ng-show="model.country.postcode_required">
        <div class="form-group" show-errors>
            <label><span class="asterix">*</span> <span translate>Zip Code</span>
                <span class="pop-over-icon"  popover-placement="auto right" popover-trigger="mouseenter" uib-popover-template="'zipCodePopoverTemplate'">
                      <i class="fa fa-question"></i>
                </span>
            </label>

        <script type="text/ng-template" id="zipCodePopoverTemplate">
            <div ng-if="model.country.postal_codes">
               Acceptable Country Zip Code Formats (X for alphanumeric, 9 for numeric):<br>
               <div ng-repeat="format in model.country.postal_codes">{{ format.code_format }}</div>
           </div>
        </script>

            <input name="post_code" class="form-control input-lg" type="text"
                   placeholder="{{ 'Enter your city zip code' | translate }}"
                   ng-model="model.post_code"
                   ng-disabled="vm.inputDisabled"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                   ng-required="model.country.postcode_required">

            <ng-messages for="form.post_code.$error" role="alert" ng-show="form.$submitted">
                <span ng-message when="required" class="help-block error">This is required</span>
                <!-- When we have a flat structure (address field exists on the form) -->
                <span ng-message when="server" class="help-block error">{{ form.post_code.serverError }}</span>
            </ng-messages>

            <span ng-repeat="error in form.$serverErrors.address.post_code"
                  class="help-block error">{{error}}</span>

        </div>
    </div>
</div>
