{% verbatim %}
    <div class="col-xs-2">
        <p class="input-group">
            <input class="form-control"
                   uib-datepicker-popup="yyyy-MM-dd"
                   ng-required="true" ng-model="ctrl.filter.startDate"
                   data-is-open="ctrl.datepicker.isOpen.startDate"
                   data-max-date="ctrl.datepicker.maxDate.startDate"
                   data-show-weeks="false"
                   title="Start date"
                   placeholder="Start date"
             />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="ctrl.datepicker.open('startDate')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </p>
    </div>
    <div class="col-xs-2">
        <p class="input-group">
            <input class="form-control"
                   uib-datepicker-popup="yyyy-MM-dd"
                   ng-required="true" ng-model="ctrl.filter.endDate"
                   data-is-open="ctrl.datepicker.isOpen.endDate"
                   data-max-date="ctrl.datepicker.maxDate.startDate"
                   data-min-date="ctrl.filter.startDate"
                   data-show-weeks="false"
                   title="End date"
                   placeholder="End date"
             />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="ctrl.datepicker.open('endDate')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </p>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="ctrl.loadData()">Filter</button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.resetFilter()">Reset</button>
    </div>
{% endverbatim %}