{% extends "admin/base_site.html" %}
{% load i18n admin_urls staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'ngapp/admin/helpers/pagination.js' %}"></script>
    <script src="{% static 'ngapp/admin/helpers/utils.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/reports.css' %}" />
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        {% block breadcrumb_title %}{% endblock %}
    </div>
{% endblock %}