{% extends "reports/base_report.html" %}
{% load i18n admin_urls staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'ngapp/admin/modules/collection.ready.js' %}"></script>
{% endblock %}

{% block breadcrumb_title %}Collection Ready Items report{% endblock %}

{% block content %}
    <div id="content-main" ng-app="CollectionReadyReport" ng-controller="CollectionReadyCtrl as ctrl" ng-cloak>
        <div class="row">
            <div class="col-lg-2 col-xs-3">
                <p class="input-group">
                    <select class="form-control"
                            ng-options="hotel.id as hotel.name for hotel in ctrl.hotels"
                            ng-model="ctrl.filter.hotel">
                        <option value="">------ Hotel ------</option>
                    </select>
                </p>
            </div>
            {% include 'reports/_date_filter.html' %}
        </div>
        {% verbatim %}
        <div class="report-content">
        <table>
            <thead>
            <tr>
                <th>Hotel</th>
                <th>Item ID</th>
                <th>Item</th>
                <th>Picked up by</th>
                <th>status</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in ctrl.items">
                <td>{{ i.hotel }}</td>
                <td>{{ i.found_item_id }}</td>
                <td>{{ i.found_item_name }}, {{ i.found_item_category }}</td>
                <td>{{ i.is_collection ? i.collector_name : 'Aramex couriers' }}</td>
                <td ng-if="i.is_collection && !i.is_complete">Waiting for collection</td>
                <td ng-if="!i.is_collection && !i.is_complete">{{ i.is_paid ? 'Ready to be shipped' : 'Waiting for payment' }}</td>
                <td ng-if="i.is_complete">Shipped</td>
                <td>{{ i.created }}</td>
            </tr>
            </tbody>
        </table>
        <pager pager="ctrl.pager"></pager>
        </div>
        {% endverbatim %}
    </div>
{% endblock %}
