{% extends "reports/base_report.html" %}
{% load i18n admin_urls staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'ngapp/admin/modules/found.item.js' %}"></script>
{% endblock %}

{% block breadcrumb_title %}Found Items Report{% endblock %}

{% block content %}
    <div id="content-main" ng-app="foundItemsReport" ng-controller="FoundItemsCtrl as ctrl" ng-cloak>
        <div class="row">
            <div class="col-lg-2 col-xs-3">
                <p class="input-group">
                    <select class="form-control" ng-options="hotel.id as hotel.name for hotel in ctrl.hotels"
                            ng-model="ctrl.filter.hotel">
                        <option value="">----- Select Hotel -----</option>
                    </select>
                </p>
            </div>
            {% include 'reports/_date_filter.html' %}
        </div>
        {% verbatim %}
        <div class="report-content">
        <table>
            <thead>
            <tr>
                <th>Hotel</th>
                <th>Item ID</th>
                <th>Category</th>
                <th>Item Type</th>
                <th>Description</th>
                <th>Date Logged</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in ctrl.items">
                <td>{{ t.hotel.name }}</td>
                <td>{{ t.id }}</td>
                <td>{{ t.category }}</td>
                <td>{{ t.item_type }}</td>
                <td>{{ t.description }}</td>
                <td>{{ t.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
            </tbody>
        </table>
        <pager pager="ctrl.pager"></pager>
        </div>
        {% endverbatim %}
    </div>
{% endblock %}
