{% extends "reports/base_report.html" %}
{% load i18n admin_urls staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'ngapp/admin/modules/history.report.js' %}"></script>
{% endblock %}

{% block breadcrumb_title %}History Items Report{% endblock %}

{% block content %}
    <div id="content-main" ng-app="historyItemsReport" ng-controller="HistoryItemsCtrl as ctrl" ng-cloak>
        <div class="row">
            <div class="col-lg-2 col-xs-3">
                <p class="input-group">
                    <select class="form-control"
                            ng-options="hotel.id as hotel.name for hotel in ctrl.hotels"
                            ng-model="ctrl.filter.hotel">
                        <option value="">------ Hotel ------</option>
                    </select>
                </p>
            </div>
            <div class="col-lg-2 col-xs-3">
                <p class="input-group">
                    <select class="form-control"
                            ng-options="status.id as status.label for status in ctrl.statuses"
                            ng-model="ctrl.filter.status">
                        <option value="">------ Status ------</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            {% include 'reports/_date_filter.html' %}
        </div>
        {% verbatim %}
        <div class="report-content">
        <table>
            <thead>
            <tr>
                <th>Hotel</th>
                <th>Item ID</th>
                <th>Item</th>
                <th>Picked up name</th>
                <th>Status</th>
                <th>Shipping Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in ctrl.items">
                <td>{{ i.hotel }}</td>
                <td>{{ i.id }}</td>
                <td>{{ i.found_item }}, {{ i.category }}</td>
                <td>{{ i.is_collection ? i.collector_name : 'Aramex couriers' }}</td>
                <td>{{ i.status }}</td>
                <td>{{ i.collected_date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
            </tbody>
        </table>
        <pager pager="ctrl.pager"></pager>
        </div>
        {% endverbatim %}
    </div>
{% endblock %}
