{% extends "reports/base_report.html" %}
{% load i18n admin_urls staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'ngapp/admin/modules/hotels_report.js' %}"></script>
{% endblock %}

{% block breadcrumb_title %}All Hotels Report{% endblock %}

{% block content %}
    <div id="content-main" ng-app="AdminHotelsReport" ng-cloak ng-controller="AdminHotelsReportCtrl as ctrl">

        <div class="row">
            <div class="col-xs-2">
                <select class="form-control"
                        ng-options="c.id as c.name for c in ctrl.cats.results"
                        ng-model="ctrl.filter.cat">
                    <option value="">--- Category ---</option>
                </select>
            </div>

            <div class="col-xs-2">
                <select class="form-control"
                        ng-disabled="!ctrl.filter.cat"
                        ng-options="sc.id as sc.name for sc in ctrl.subcats.results"
                        ng-model="ctrl.filter.subcat">
                    <option value="">--- SubCategory ---</option>
                </select>
            </div>
            <div class="col-xs-2" style="float:right">
                <a class="btn btn-primary"
                   ng-click="ctrl.exportCSV()"><span translate>Export CSV</span>
                </a>
            </div>
            {% include 'reports/_date_filter.html' %}
        </div>

        <div ng-if="!ctrl.rows.length" style="text-align: center; margin: 20px">
            <img src="{% static 'img/loader.svg' %}">
        </div>

        {% verbatim %}
        <div class="report-content">
        <table ng-if="ctrl.rows.length">
            <thead>
            <tr>
                <th colspan="2">{{ ctrl.totals.hotels }} hotels</th>
                <th colspan="5">{{ ctrl.totals.rooms }} rooms</th>
                <th>{{ ctrl.totals.found }}</th>
                <th>{{ ctrl.totals.found_known }}</th>
                <th>{{ ctrl.totals.found_not_known }}</th>
                <th>{{ ctrl.totals.lost }}</th>
                <th>{{ ctrl.totals.shipped }}</th>
                <th>{{ ctrl.totals.collected }}</th>
                <th>{{ ctrl.totals.returned }}</th>
                <th>{{ ctrl.totals.returned_rate }}</th>
                <th>{{ ctrl.totals.shipped_rate }}</th>
                <th>{{ ctrl.totals.found_per_room }}</th>
                <th>{{ ctrl.totals.lost_per_room }}</th>
                <th>{{ ctrl.totals.returned_per_room }}</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Hotel Name</th>
                <th>Rooms</th>
                <th>City</th>
                <th>Country</th>
                <th>Chain</th>
                <th>Brand</th>
                <th>Found</th>
                <th>Found<br>(Known)</th>
                <th>Found<br>(Not Known)</th>
                <th>Reported</th>
                <th>Shipped</th>
                <th>Collected</th>
                <th>Returned</th>
                <th>Return Rate</th>
                <th>Ship Rate</th>
                <th>Found/room</th>
                <th>Lost/room</th>
                <th>Returned/room</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="h in ctrl.rows">
                <td style="width: 5em">{{ h.id }}</td>
                <td>{{ h.name }}</td>
                <td>{{ h.number_of_rooms }}</td>
                <td>{{ h.city }}</td>
                <td>{{ h.country }}</td>
                <td>{{ h.chain }}</td>
                <td>{{ h.brand }}</td>
                <td class="bignum">
                    {{ h.found_items_count }}
                </td>
                <td>{{ h.found_items_known_count }}</td>
                <td>{{ h.found_items_not_known_count }}</td>
                <td>{{ h.lost_items_count }}</td>
                <td>{{ h.shipped_count }}</td>
                <td>{{ h.collected_count }}</td>
                <td>{{ h.returned_count }}</td>
                <td>{{ h.returned_rate }}</td>
                <td>{{ h.shipped_rate }}</td>
                <td>{{ h.found_per_room }}</td>
                <td>{{ h.lost_per_room }}</td>
                <td>{{ h.returned_per_room }}</td>
            </tr>
            </tbody>
        </table>
        </div>
        {% endverbatim %}
    </div>
{% endblock %}
