{% extends "reports/base_report.html" %}
{% load i18n admin_urls staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'ngapp/admin/modules/matched.item.js' %}"></script>
{% endblock %}

{% block breadcrumb_title %}Matched Items Report{% endblock %}

{% block content %}
    <div id="content-main" ng-app="matchedItemsReport" ng-controller="MatchedItemsCtrl as ctrl" ng-cloak>
        <div class="row">
            <div class="col-lg-2 col-xs-3">
                <p class="input-group">
                    <select class="form-control"
                            ng-options="hotel.id as hotel.name for hotel in ctrl.hotels"
                            ng-model="ctrl.filter.hotel">
                        <option value="">------ Hotel ------</option>
                    </select>
                </p>
            </div>
            {% include 'reports/_date_filter.html' %}
        </div>
        {% verbatim %}
        <div class="report-content">
        <table>
            <thead>
            <tr>
                <th>Hotel</th>
                <th>Item ID</th>
                <th>Found Item</th>
                <th>Lost Item</th>
                <th>Status</th>
                <th>Last Activity</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in ctrl.items">
                <td>{{ t.hotel}}</td>
                <td>{{ t.id }}</td>
                <td>{{ t.found_item }}</td>
                <td>{{ t.lost_item }}</td>
                <td>{{ t.status_display }}</td>
                <td>{{ t.modified | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
            </tbody>
        </table>
        <pager pager="ctrl.pager"></pager>
        </div>
        {% endverbatim %}
    </div>
{% endblock %}
