{% extends "reports/base_report.html" %}
{% load i18n admin_urls staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'ngapp/admin/modules/payment.item.report.js' %}"></script>
{% endblock %}

{% block breadcrumb_title %}Payments Report{% endblock %}

{% block content %}
    <div id="content-main" ng-app="paymentItemsReport" ng-controller="PaymentItemsCtrl as ctrl" ng-cloak>
        <div class="row">
            <a class="btn btn-primary" style="float:right"
               ng-click="ctrl.exportCSV()"><span translate>Export CSV</span>
            </a>
            <div class="col-lg-2 col-xs-3">
                <p class="input-group">
                    <select class="form-control"
                            ng-options="hotel.id as hotel.name for hotel in ctrl.hotels"
                            ng-model="ctrl.filter.hotel">
                        <option value="">------ Hotel ------</option>
                    </select>
                </p>
            </div>
            {% include 'reports/_date_filter.html' %}
        </div>
        {% verbatim %}
        <div class="report-content">
        <table>
            <thead>
            <tr>
                <th>Hotel</th>
                <th>ID</th>
                <th>User</th>
                <th>Email</th>
                <th>transaction number</th>
                <th>Origin Currency</th>
                <th>Service Charge</th>
                <th>Insurance Fee</th>
                <th>Amount</th>
                <th>Total</th>
                <th>Date</th>
                <th>Tracking number</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in ctrl.items">
                <td>{{ i.hotel }}</td>
                <td>{{ i.id }}</td>
                <td>{{ i.user }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.reference_number }}</td>
                <td>{{ i.currency }}</td>
                <td>{{ i.service_charge != 0 ? (i.service_charge|number:2) : ''}}</td>
                <td>{{ i.insurance_fee != 0 ? (i.insurance_fee|number:2) : ''}}</td>
                <td>{{ i.charged_amount|number:2 }}</td>
                <td>{{ (i.service_charge + i.charged_amount + i.insurance_fee)|number:2 }}</td>
                <td>{{ i.payment_date }}</td>
                <td>{{ i.tracking_number }}</td>
            </tr>
            </tbody>
        </table>
        <pager pager="ctrl.pager"></pager>
        </div>
        {% endverbatim %}
    </div>
{% endblock %}
