{% extends "rest_framework/base.html" %}

{% load rest_framework api_tags %}

{% block style %}
    {{ block.super }}
    <style>
    /** fix filter modal form input styles */
    .modal-body label {width: 180px}
    .modal-body select, .modal-body input {width: 280px}
    .modal-body .helptext {display: none}
    </style>
{% endblock %}

{% block navbar %}
      <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
        <div class="container">
          <span>
            {% block branding %}

            {% endblock %}
          </span>
          <ul class="nav navbar-nav pull-right">
            {% block userlinks %}
              {% if user.is_authenticated %}
                {% optional_logout request user %}
              {% else %}
                {% optional_login request %}
              {% endif %}
            {% endblock %}
          </ul>
        </div>
      </div>
{% endblock %}


{% block breadcrumbs %}
<ul class="breadcrumb">
    {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
    <li>
        <a href="{{ breadcrumb_url }}{% authparams %}"
           class="{% if forloop.last %}active{% endif %}">
            {{ breadcrumb_name }}</a>
        {% if not forloop.last %}<span class="divider">&rsaquo;</span>{% endif %}
    </li>
    {% endfor %}
    {% if user.is_authenticated %}
    <li style="float:right; font-weight: bold">user: {{user.id}}</li>
    {% endif %}
</ul>
{% endblock %}
