{% extends "rest_framework/api.html" %}
{% load static rest_framework api_tags %}

{% block body %}
<body>

    <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
        <div class="container">
              <span>
                {% block branding %}

                {% endblock %}
              </span>
            <ul class="nav navbar-nav pull-right">
                {% block userlinks %}
                    {% if user.is_authenticated %}
                        {% optional_logout request user %}
                    {% else %}
                        {% optional_login request %}
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>

  <div class="wrapper">
    <div class="container">
        <ul class="breadcrumb">
            <li>API Index</li>
            {% if user.is_authenticated %}
                <li style="float:right; font-weight: bold">user: {{ user.id }}</li>
            {% endif %}
        </ul>
      <!-- Content -->
      <div id="content">
          <div class="content-main">

              <div class="response-info well" style="margin-top:10px">
                  <table style="width:100%">
                      <tr>
                          <th>Name</th>
                          <th>URL</th>
                      </tr>
                      {% for u in router.urls %}
                          {% if u.name != router.root_view_name %}
                              <tr>
                                  <td>{{ u.name }}</td>
                                  <td><a href="{% api_url u %}{% authparams %}">{% api_url u %}</a></td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                  </table>
              </div>
          </div>
      </div><!-- /.content -->
    </div><!-- /.container -->
  </div><!-- ./wrapper -->

    <script src="{% static "rest_framework/js/jquery-1.8.1-min.js" %}"></script>
    <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>

</body>
{% endblock %}
