{% extends "admin/base.html" %}
{% load static admin_tools_menu_tags %}

{% block title %}Return Hound Admin{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% if user.is_active and user.is_staff and not is_popup %}
        {% admin_tools_render_menu_css %}
    {% endif %}
{% endblock %}

{% block branding %}
    <a href="/admin/">
        <img src="/static/img/logo-header.png" alt="return hound" width="100" class="return_hound_logo"/>
    </a>
{% endblock %}

{% block nav-global %}
    {{ block.super }}
    {% if user.is_active and user.is_staff and not is_popup %}
        {% admin_tools_render_menu %}
    {% endif %}
{% endblock %}
