@brand-primary: #027fba;


@body-bg:                 white;


@gray-medium:               #434343;
@gray-dark:                 #2e2e2e;
@gray:                      #666;
@gray-light:                #cbcbcb;
@gray-lighter:              #eeeeee;

@icon-font-path:          "../bower_components/bootstrap/fonts/";

@font-family-sans-serif:     "Roboto Regular", Arial, sans-serif;

@navbar-dark-color:                 rgba(255,255,255,0.7);
@navbar-dark-hover-color:           white;
@navbar-dark-active-color:          white;

@nav-link-padding:                          .7em 1em;

@navbar-height:                    94px;
@navbar-margin-bottom:             0;
@navbar-border-radius:             0;
@navbar-default-color:             #fff;
@navbar-default-bg:                transparent;
@navbar-default-border:            @brand-primary;

// Navbar links
@navbar-default-link-color:                rgba(255,255,255,0.7);
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            transparent;

@btn-primary-border: @brand-primary;

@btn-default-color:              #333;
@btn-default-bg:                 @gray-light;
@btn-default-border:             @gray-light;

@input-color:                    @gray-dark;
@input-border-focus:             @brand-primary;
@input-bg-disabled:              white;

@legend-border-color:            transparent;
@legend-color:                   @gray;

@input-group-addon-bg:           transparent;

@dropdown-bg:                    white;
@dropdown-border:                #fff;

@dropdown-link-hover-color:      @brand-primary;
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         transparent;

@dropdown-link-disabled-color:   @gray;

//** Border color for textual input addons
@input-group-addon-border-color: @input-border;



@badge-color:                 @brand-primary;
@badge-link-hover-color:      @brand-primary;
@badge-bg:                    white;

@font-size-h1:            floor((@font-size-base * 2.2)); // ~30px
@font-size-h2:            floor((@font-size-base * 1.7)); // ~24px
@font-size-h3:            ceil((@font-size-base * 1.25)); // ~18px
//@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
//@font-size-h5:            @font-size-base;
//@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@table-bg-accent:               @gray-lighter;

@breadcrumb-bg:                 transparent;
@breadcrumb-color:              @gray;
@breadcrumb-active-color:       @gray;
@breadcrumb-separator:          ">";

// Navbar toggle
@navbar-default-toggle-hover-bg:           rgba(255,255,255,.5);
@navbar-default-toggle-icon-bar-bg:        #fff;
@navbar-default-toggle-border-color:       #fff;

@zindex-modal-background:  1800 !important;
@zindex-modal:             1900 !important;

@popover-bg:                          darken(@gray-lighter, 5%);
@popover-max-width:                   360px;
@popover-border-color:                darken(@gray-lighter, 10%);

@hr-border:                   @gray-light;


// Media queries breakpoints
// --------------------------------------------------

// Customize breaking points to have an option between 480px and 768px.
// Current variables doesnt support a breaking point below 768px.

// Extra small screen / phone
//@screen-xs: 320px;

// Small screen / tablet
//@screen-sm: 480px;

// Medium screen / desktop
///@screen-md: 768px;

// Large screen / wide desktop
//@screen-lg: 994px;
