.fancybox-inner img { max-width: 100%; max-height: 100%; }
.fancybox-title-float-wrap {
  left:0;
  right:0;
  margin-bottom: -44px;
  .child {
    background: @brand-primary;
    border-radius: @border-radius-base;
    margin-right:0;
    display: block;
    font-size: 14px;
    padding: 6px 20px;
  }
}
