.for-arabic {
  direction: rtl;

  //Navbar
  .navbar {
    .navbar-header {
      @media (min-width: @screen-sm-min) {
        direction: rtl;
        float: right;
      }
      .navbar-brand {
        //float: left;
      }
    }
    .flag-dropdown {
      li { text-align: right;}
      &.dropdown-menu {
        left: 14px;
        right: auto;
      }
    }
    .nav-btn {
      .caret {
        float: left;
        margin-top: 8px;
        margin-right: 8px;
      }
    }
    ul.nav {
      padding-right: 0;
      float: left !important;
      li {
        @media (min-width: @screen-sm-min) {
          float: right;
        }
      }
    }
  }
  
  //How it works banner
  .how-it-works-banner {
    .col-sm-4 {
      float: right;
      @media (max-width: @screen-xs-max) {
        float: none;
      }
    }
  }
  
  .how-it-works-page {
    .col-sm-5, .col-sm-6, .col-sm-7 {
      float: right;
    }
  }

  .press-releases-page {
    .col-sm-5 {
      float: right;
    }
    .col-sm-7 {
      a {
        &.btn {
          float: left !important;
        }
      }
    }
  }

  //Report Lost Item Wizard
  .report-lost-item {
    .item {
      padding-right: 50px;
      padding-left: 0;
      &:before {
        right: 0;
      }
    }
    .report-logo {
      float: left;
      display: inline-block;
      position: relative;
      top: -120px;
      right: -10px;
    }
    .report-logo-step-5-arabic {
      float: left;
      display: inline-block;
      position: relative;
      top: -50px !important;
      right: -10px;
    }
    .step5 {
      top: -50px !important;
    }
    @media (min-width: @screen-md-min) {
      .report-steps {
        .tab-links {
          -webkit-border-radius: 40px 0 0 40px !important;
          -moz-border-radius: 40px 0 0 40px !important;
          border-radius: 40px 0 0 40px !important;
          padding: 30px 55px 30px 55px !important;
          margin-left: -40px !important;
        }
        .report-logo{
          transform: rotateY(180deg);
        }
      }
      //Card Blocks
      .card-block {
        margin: 0;
        width: 100%;
        display: block;
        .row {
          .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-xs-5, .col-xs-7, .col-md-4, .col-md-8{
            float: right;
          }
        }

        form {
          fieldset {
            margin: 0;
            width: 100%;
            display: block;
            .row {
              .col-sm-4, .col-sm-8 {
                float: right;
              }
            }
          }
        }
      }
      .hotel-user {
        .filter-wrap, .list-item-bar-header, .list-item-bar {
          .row {
            .col-xs-5, .col-xs-6, .col-xs-7, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-lg-2, .col-lg-3  {
              float: right;
            }
          }
        }
      }
    }
    @media (max-width: @screen-sm-max) {
      .report-steps {
        .tab-links {
          -webkit-border-radius: 40px 0 0 40px !important;
          -moz-border-radius: 40px 0 0 40px !important;
          border-radius: 40px 0 0 40px !important;
          margin-left: -24px !important;
          padding: 15px 15px 15px 10px;
          min-width: 82px;
        }
        .report-logo{
          display: none;
        }
      }
    }
    .card-block {
      form {
        fieldset {
          margin: 0;
          width: 100%;
          display: block;
          .row {
            .col-sm-4, .col-sm-8 {
              float: right;
            }
          }
        }
      }
      .custom-checkbox-styling + .label-text {
        line-height: 20px;
      }
      .sub-item {
        .item-type {
          margin-right: 0;
          margin-left: 122px;
        }
        .remove-item {
          right: auto;
          left: 15px;
        }
      }
      .row {
        .col-xs-5 {
          float: right !important;
        }
      }
    }
  }

  //Hotel Registration
  .hotel-registration {
    .pagination { padding: 0;}
  }

  //Forms
  label {
    span.asterix {
      float: left;
      padding-right: 4px;
    }
  }
  .custom-checkbox-styling {
    //float: left;
    padding-left: 10px;
    @media (max-width: @screen-xs-max) {
      float: none !important;
      padding-left: 10px;
    }
  }
  .intl-tel-input {
    .selected-flag {
      padding: 0 8px 0 0;
    }
    .arrow {
      right: 33px;
    }
    input {
      padding-left: 8px;
      padding-right: 68px;
    }
  }
  .radio {
    .custom-checkbox-styling {
      float: right;
    }
    .label-text {
      float: right;
      line-height: 30px;
      padding-right: 10px;
      padding-left: 0;
    }
  }
  .input-group {
    direction: ltr;
    .form-control {
      text-align: right;
    }
  }

  //Card Blocks
  .card-block {
    margin: 0;
    width: 100%;
    display: block;
    .row {
      .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-xs-5{
        float: right;
      }
    }
    @media (max-width: @screen-xs-max) {
      .row {
        .col-sm-6, .col-sm-3, .col-sm-4, .col-sm-8 {
           float: none !important;
        }
      }
    }
  }
  .list-item-bar {
    .row {
      .col-sm-2, .col-sm-4, .col-sm-7, .col-sm-3, .col-md-1, .col-md-8, .col-md-3 {
        float: right;
      }
    }
    .mobile-label {
      float: right;}
    &.compact {
      @media (min-width: @screen-sm-min) {
        padding: 15px 15px 15px 50px;
      }
      @media (max-width: @screen-sm-max){
        padding-right: 15px;
        padding-left: 35px;
      }
      .arrow-right {
        right: auto;
        left: 12px;
        @media (max-width: @screen-xs-max) {
          left: 4px;
        }
      }
    }
    .arrow-right {
      left: 12px;
      right: auto;
      transform: rotate(-180deg);
      transition: all 0.2s;
    }
    &:hover {
      .arrow-right {
        left: 2px;
        transition: all 0.2s;

        i { color: @brand-primary;}
      }
    }
    &.mark-border:before {
      right: 0;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
  .list-item-bar-header {
    &.compact {
      padding: 15px 15px 15px 50px;
      .row {
        .col-sm-2, .col-sm-4 {
          float: right !important;
        }
      }
    }
  }
  
  .collection-ready, .history {
    .col-sm-6 {
      float: right;}
  }

  //Hotel User
  .hotel-user {
    .dashboard-wrap {
      padding-left: 0;
      padding-right: 260px;
      &.menu-open {
        padding-right: 260px;
        padding-left: 0;
        .dashboard-nav {
          @media (max-width: @screen-md-max) {
            right: 0 !important;
            left: auto;
          }
        }
      }
      @media (max-width: @screen-sm-max){
        padding-right: 0;
      }
      .nav-pills {
        padding-right: 0;
      }
      .filter-wrap, .list-item-bar-header, .list-item-bar {
        .row {
          .col-xs-5, .col-xs-6, .col-xs-7, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-lg-2, .col-lg-3  {
            float: right;
          }
        }
      }
      .dashboard-nav {
        right: 0;
        z-index: 1 !important;
        @media (min-width: 1500px) {
          right: 50%;
          margin-right: -750px;
        }
        @media(max-width: @screen-sm-max){
          right: -260px !important;
          left: auto;
          transition: right 0.3s ease !important;
          .user-welcome {
            direction: ltr;
            padding-right: 64px;
            padding-left: 15px;
            .dash-nav-toggle {
              right: 50px;
              left: auto;
            }
            .line1, .username {
              float: left;
            }
          }
        }
        .user-welcome {
          .hotelname {
            direction: ltr;
          }
          .edit {
            float: left;
          }
        }

      }
      .dashboard-content {
        h2 {
          padding-right: 0 !important;
        }
        .header-buttons-right {
          float: left;
          @media (max-width: @screen-xs-max) {
            float: none !important;
          }
          .btn {
            .fa {
              float: left;
              line-height: 20px;
              padding-left: 0;
              padding-right: 10px;
            }
          }
        }
      }
      .matched-items-row {
        .fa-link {
          left: 0;
          right: auto;
        }
      } 
    }
  }

  //Client User
  .client-user {
    h3.arabic-h3 {
      float: right !important;}
    .account-settings {
      .edit-btn{
        float: left;
      }
    }
    .dashboard-wrap {
      .dashboard-nav {
        .dash-link {
          float: right !important;
          &+ .dash-link {
            margin-left: 0;
            margin-right: 15px;
          }
        }
        @media (max-width: @screen-xs-max) {
          .dash-link {
            width: 49% !important;
          }
        }
        @media (max-width: @screen-sm-max) {
          .dash-link {
            width: 0;
            float: right !important;
            &+ .dash-link {
              margin-left: 0;
              margin-right: 4px;
            }
          }
        }
        .dashboard-nav-user-arabic {
          float: right !important;
          @media (max-width: @screen-xs-max) {
            float: none !important;
          }
        }
        .user-welcome {
          float: left;
        }
      }
      .dashboard-content {
        .report-status-nav {
          & > li {
            @media (max-width: @screen-xs-max) {
              margin: 0 0 0 -10px;
            }
            .rounded-arrow-for-arabic {
              display: block;
              background-size: 37px 60px;
              position: absolute;
              width: 37px;
              left: -29px;
              height: 60px;
              top: 0;
              z-index: 1;
              margin-right: 10px;
              background-repeat: no-repeat;
              transform: rotate(-180deg);
              background-image: url(../img/progress-bar-03.png);
            }
          }
          & > li.done {
            .rounded-arrow-for-arabic {
              background-image: url(../img/progress-bar-02.png);
              transform: rotate(-180deg);
            }
          }

          li.active {
            .rounded-arrow-for-arabic {
              background-image: url(../img/progress-bar-01.png);
              transform: rotate(-180deg);
            }
          }

          li{
            .item{
              padding-right: 40px;
              @media (max-width: @screen-xs-max) {
                padding-right: 0;
                padding-left: 8px;
              }
            }
          }
          @media (max-width: @screen-xs-max) {
            .rounded-arrow-for-arabic {
              display: none !important;
              background: none;
            }
          }
        }
        .report-status-nav {
          padding-right: 0;
        }
        .my-report-btns {
          float: left !important;
        }
      }
    }
    .row {
      .col-sm-6, .col-md-4 {
        float: right !important;
        @media (max-width: @screen-xs-max) {
          float: none !important;
        }
      }
      
    }
    @media (max-width: @screen-xs-max) {
      .list-item-bar {
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6 { float: none !important;}
      }
    }
  }

  //Settings Page
  .settings-page {
    .thumbnail-block { padding-right: 0;}
    .account-settings {
      form {
        legend {
          .edit-btn {
            float: left;
          }
        }
      }
    }
    .manage-users {
      .user-option-right {
        float: left !important;
      }
      @media (max-width: @screen-xs-max) {
        .list-item-bar {
          .row {
            .col-sm-2, .col-sm-3, .col-sm-4 {
              float: none !important;
            }
          }
        }
      }
    }
    @media (min-width: @screen-sm-min) {
      .col-sm-6 { float: right;}
    }
    @media (max-width: @screen-xs-max) {
      .custom-form-wizard {
        .report-lost-item {
          .card {
            .card-block {
              form {
                fieldset {
                  .row {
                    .col-sm-4 {
                      float: none !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //Contact Page
  .contact-page {
    .row {
      .col-sm-6 {
        float: right;}
    }
    .contact-item {
      padding-right: 40px;
      .fa { right: 0;}
    }
  }


  //Lost Items Page
  @media (max-width: @screen-xs-max) {
    .lost-items-page, .inventory-page, .matched-items-page, .history-page {
      .filter-wrap {
        .row {
          .col-sm-3 { float: none !important;}
          .col-sm-6 { width: 100%;}
        }
      }
      .list-item-bar {
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6 { float: none !important;}
      }
    }
    .history-page {
      .col-sm-5 {
        float: none !important;
      }
    }
  }


  //Footer
  #footer {
    .col-sm-3 { 
      float: right;
      @media (max-width: @screen-xs-max) {
        float: none;
      } 
    }
  }

  .dashboard-content {
    h2.has-buttons-right {
      &+.header-buttons-right {
        direction: ltr;
      }
    }
  }

  //Responsive Views
  @media (max-width: @screen-sm-max) {
    .navbar {
      .navbar-toggle {
        float: left;
        margin-right: 0;
        margin-left: 15px;
      }
      .navbar-brand {
        direction: rtl;
        float: right;
        margin-right: 15px;
      }

    }


    .dashboard-wrap {
      padding-left: 0;
      .dashboard-nav {
        transition: all 0.2s;
      }
      &.menu-open {
        .dashboard-nav {
          width: 260px !important;
          transition: all 0.2s;
        }
      }
    }
    .footer-nav {
      padding-right: 0;
    }
    .footer-social {
      a {
        float: none;
        &:last-child{
          margin-right: 0;
        }
      }
      .icon + .icon {
        margin-left: 0 !important;
      }
    }
  }
  @media (min-width: @screen-md-min) {
    .footer-social {
      a { 
        float: right; 
        margin-left: 10px !important
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    .navbar-collapse {
        padding: 0;
        .navbar-nav {
          width: 100%;
          display: block;
          float: none !important;
          margin: 0;
        }
      }
  }

  // Terms and conditions
  .terms-conditions-page {
    .nav-pills {
      padding-right: 0 !important;
      .uib-tab {
        float: right !important;
      }
    }
    .custom-numbering {
      ol {
        li {
          padding-right: 30px;
          padding-left: 0;
          &:before {
            right: 0;
            left: auto;
          }
        }
      }
    }
  }
  .matched-item-detail-page {
    .m-col-label, .text-label{
      float: right !important;
    }
  }
}

blockquote {
  direction: ltr !important;
}