

.card {
  position: relative;
  display: block;
  margin-bottom: @grid-gutter-width/2;
  background-color: #fff;
  border: 1px solid @gray-light;
  &.ghost { border: none; background: transparent; }
  .card-img-top {
    border-radius: @border-radius-base @border-radius-base 0 0;
  }
  .card-block {
    padding: @grid-gutter-width/2;
    .card-block { padding:0; }
    &.card-fat {
      padding: @grid-gutter-width;
      .message-box {
        margin: -(@grid-gutter-width)-1 -(@grid-gutter-width)-1 @grid-gutter-width -(@grid-gutter-width)-1;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .card-title {
    margin: 0 0 15px 0;
    color: @brand-primary;
    .font-roboto-medium;
  }
  .card-block-title {
    color: #fff;
    background: @brand-primary;
    padding: @grid-gutter-width/2;
    margin: -3px -1px 0 -1px;
    &.compact { padding: 10px @grid-gutter-width/2; }
  }
  @media (max-width: @screen-xs-max) {
    .card-block {
      &.card-fat { padding: @grid-gutter-width/2;
        .message-box { margin: -(@grid-gutter-width/2)-1 -(@grid-gutter-width/2)-1 @grid-gutter-width/2 -(@grid-gutter-width/2)-1; }
      }
    }
  }
}

@media (max-width: 479px) {
  .btn-block-mobile {
    width: 100%; display: block;
  }
}

.btn, a {
  .transition-all;
}

.btn {
  &.active, &:active { box-shadow: none;}
  + .btn { margin-left: 15px; }
  &.btn-lg {
    font-size: @font-size-base;
    padding: 13px 22px;
    text-transform: uppercase;
    .font-roboto-medium;
  }
  &.btn-xl {
    font-size: 18px;
    border-radius: 5px;
    padding: 20px 30px;
    text-transform: uppercase;
    min-width: 280px;
    .font-roboto-medium;
  }
  &.disabled, &[disabled] { opacity: 0.4; }
  @media (min-width: @screen-sm) {
  }
}

.btn-dark {
  color: white;
  background-color: lighten(@gray-dark, 10%);
  border-color: lighten(@gray-dark, 10%);
  &:hover, &:active, &:focus {
    color: white;
    background-color:black;
    border-color: black;
  }
}

.btn-blue-light {
  text-transform: inherit;
  color: @brand-primary;
  background-color: @color-bluelight;
  border-color: @color-bluelight;
  &:hover, &:active {
    background-color: darken(@color-bluelight, 10%);
    border-color: darken(@color-bluelight, 10%);
  }
}

.btn-white {
  color: @brand-primary;
  background-color: white;
  &:hover, &:active {
    background-color: @brand-primary;
    color: white;
    border-color: white;
  }
}

.btn-gray-medium {
  background-color: @gray-medium;
  border-color: @gray-medium;
  color: #fff;
  &:hover, &:active {
    background-color: darken(@gray-medium, 10%);
    border-color: darken(@gray-medium, 10%);
  }
  a {
    color: #fff !important;
    text-decoration: none;
  }
}

.btn-logo-icon-right {
  padding: 20px 75px 20px 28px !important;
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 34px;
    height: 38px;
    position: absolute;
    right: 22px;
    top: 50%;
    margin-top: -19px;
    background-image: url('../img/ic-returnhound.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.ellip-field {
  display: inline-block;
  width: 100%;
  .text-overflow;
}

.col-btn-bottom-right {
  float: right;
  margin-top: -35px;
}

.btn-primary-outline {
  color: @brand-primary;
  border-color: @brand-primary;
  background: transparent;
  &:hover, &:active {
    background: @brand-primary;
    color: white;
  }
}

.middle-buttons {
  text-align: center;
  margin: @grid-gutter-width/2 0;

  .btn {
    min-width: 160px;
    + .btn { margin-left: 15px; }
  }
  .btn-xl {
    min-width: 280px;
    + .btn-inbetween-text {
      font-size: 18px;
      margin-left: 15px;
      margin-right: 15px;
      display: inline-block;
      text-transform: uppercase;
    }
  }
  @media(min-width: @screen-sm) {
    &.reversed-desktop-behaviour {
      direction: rtl;
      .btn { direction: ltr; }
      .btn + .btn { margin-right: 15px; margin-left:0; }
    }
  }
  @media(max-width: @screen-xs-max) {
    .btn {
      margin: 10px 0 0 0 !important;
      display: block;
      width: 100%;
    }
  }
}

.flash-border {
  -webkit-animation: flashField 0.6s linear;
  animation: flashField 0.6s linear;
}

form {
  .form-box {
    padding: @grid-gutter-width;
    background: white;
    margin-bottom: @grid-gutter-width;
  }
  .form-control {
    box-shadow: none !important;
    padding-right: 8px;
    padding-left: 8px;
    &:-webkit-autofill {
      box-shadow: inset 100px 100px 100px white !important;
    }
    &:focus ~ .input-group-addon {
      border-color: @input-border-focus;
    }
    &.input-lg {font-size: @font-size-base;
      ~ .input-group-addon { font-size: 20px; }
    }
    &[disabled] { color: @gray;}
  }
  .asterix { color: @brand-primary; font-size: 16px; line-height: 20px; }
  fieldset + fieldset { margin-top: 10px;}
  legend {
    .font-roboto-bold;
    margin-bottom: 10px;
    + .help-text { margin: -5px 0 25px 0; }
  }
  .form-group {
    label {
      margin-bottom: 5px;
      .font-roboto-medium;
    }
  }
  .input-group {
    input {  border-right: none; }
    .input-group-addon {
      .transition-all;
      background: white;
      &:hover, &:active { i {color: @brand-primary;.transition-all;} }
    }
  }
  .has-error {
    .form-control { border-color: @state-danger-text !important; }
    .form-control:focus ~ .input-group-addon { border-color: darken(@state-danger-text, 10%) }
    .asterix { color: @state-danger-text; }
    .custom-checkbox-styling .custom-checkbox { border-color: darken(@state-danger-text, 10%) }
  }
  .help-block { font-size: 12px; }
  @media (max-width: @screen-xs-max) {
    .form-control.input-lg {
      padding: 6px 12px;
      height: 34px;
      ~ .input-group-addon { font-size: 16px; }
    }
    .form-group {
      margin-bottom: 10px;
      label { margin-bottom: 6px; }
    }
    legend { font-size: 18px;}
  }
}


.multiselect-parent {
  display: block;
  .form-control.multiselect {
    text-align: left;
    padding-right: 20px;
    .caret {
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
  .dropdown-menu{
    overflow: auto !important;
    min-width: 100%;
    //min-width: 0;
    > li > a {
      padding-left: 8px;
      padding-right: 8px;
      cursor: pointer;
      .glyphicon {
        font-size: 12px;
        margin-right: 5px;
        color: @brand-primary;
      }
    }
  }
}

.input-group-addon {
  cursor: pointer;
  &:hover { color: @brand-primary; }
}

.input-group .form-control, .form-control:focus { z-index: 0; }

.form-buttons-right {
  float: right;
  margin-top: @grid-gutter-width/2;
  .btn { min-width: 120px;}
  .btn-lg {min-width: 160px;}
  .clearfix;
}


@media (max-width: @screen-xs-max){
  .center-btn-mobile {
    float: none;
    .btn {
      display: block;
      width: 100%;
      margin: 0 auto;
      + .btn { margin-top: @grid-gutter-width/2;}
    }
  }
  .half-btn-mobile {
    float: none;
    .clearfix;
    .btn {
      display: block;
      float: left;
      width: 48%;
      margin:0;
      +.btn { margin-left: 4%; }
    }
  }
}

.table {
  &.order-summary-table {
    margin-bottom: 0;
    tbody tr {
      td:last-child { text-align: right; }
    }
    .total td, .amount { text-align: right; }
  }
}

.recaptcha-block {
  width: 304px;
  margin-left: auto;
  margin-right: auto;
}

.radio {
  label + label  { margin-left: 10px; }
}

.inline-radio-label {
  vertical-align: middle;
  display: table-cell;
  padding-right: 20px;
  .font-roboto-medium;
  @media (max-width: @screen-xs-max) {
    display: block;
    margin-bottom: 10px;
  }
}

.checkbox label {padding-left: 0;  }

.radio {
  &.inline-radio {
    display: table-cell;
    padding-right: 20px;
    padding-top: 2px;
    label {
      margin-bottom: 0;
      padding-left: 0;
      display: block;
    }
  }
}

.disabled-field {
  opacity: 0.4;
  display: block;
  position: relative;
  &.inline { display: inline-block; }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top:0; right:0; left:0; bottom:0; z-index: 100;
  }
}

.custom-checkbox-styling {
  position: relative;
  width: 30px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  .custom-checkbox {
    border: 1px solid lighten(@gray, 10%);
    display: inline-block;
    border-radius: 5px;
    background: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    i {
      visibility: hidden;
      color: @brand-primary;
      line-height: 28px;
      font-size: 16px;
    }
  }
  [type="radio"] +  .custom-checkbox {
    border-radius: 100%;
  }
  [type="checkbox"], [type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    opacity: 0;
  }
  .checkbox { margin:0; }
  [type="checkbox"]:checked,
  [type="radio"]:checked,
  .checkbox.checked {
    + .custom-checkbox {
      border-color: @brand-primary;
      i { visibility: visible; }
    }
  }
  + .label-text {
    line-height: 15px;
    font-weight: 400;
    padding-left: 10px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
  }
}

.label.label-default { color: @text-color; }

.alert {
  padding-left: 44px;
  position: fixed;
  z-index: 100;
  top:@navbar-height+(@grid-gutter-width/2);
  right:@grid-gutter-width/2;
  min-width: 400px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
  &.ng-enter-active {
    animation: alert-slide-in 0.6s;
    -webkit-animation: alert-slide-in 0.6s;
  }
  &.ng-leave-active {
    animation: alert-slide-out 0.6s;
    -webkit-animation: alert-slide-out 0.6s;
  }
  .fa {
    position: absolute;
    font-size: 20px;
    top: 18px;
    left: 18px;
  }
  @media (max-width: @screen-xs-max){
    min-width: 0;
    left: @grid-gutter-width/2;
    right: @grid-gutter-width/2;
    top:@navbar-height-mobile+(@grid-gutter-width/2);
  }
}

.pop-over-icon {
  display: inline-block;
  margin-left: 10px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  background: @brand-primary;
  opacity: 0.8;
  cursor: pointer;
  line-height: 22px;
  vertical-align: middle;
  i {
    vertical-align: middle;
    font-size: 16px;
    color: white;
  }
  &:hover { opacity: 1; }
}

.popover {
  width: 100%;
  margin-top: -5px;
  .popover-content {
    color: @brand-primary;
  }
  @media (max-width: @screen-xs-max) {
    max-width: 240px;
  }
}
.message-box .alert {
  position: relative;
  top: auto;
  right: auto;
  max-width: none;
}

.message-box.static-box .alert { top: auto;}

.alert-inline {
  background: none;
  display: inline-block;
  margin-right: 20px;
}

.modal-body.padded {
  padding-top: 30px;
  padding-bottom: 30px;
}
.modal-footer {
  .btn { min-width: 140px; }
  @media (max-width: 479px){
    .btn {
      display: block;
      float: left;
      width: 48%;
      margin: 0;
      + .btn { margin-left: 4%; }
    }
  }
}

.colorpicker { z-index: inherit; }

.modal-dialog {
  margin-top: 10%;
}

.bg-primary {
  background: @brand-primary;
  border-color: @brand-primary;
  h1 { color: white; }
  p, .byline { color: white; }
  a:not(.btn) {
    color: white;
    text-decoration: underline;
    opacity: 0.7;
    &:hover, &:active { opacity: 1; }
  }
  .card-title { color: white; }
}

.bg-lightblue {
  background: @color-bluelight;
  border-color: transparent;
}

.bg-graylight {
  background: @gray-lighter;
  border-color: @gray-light;
}

.bg-gray {
  background: @gray-light;
  border-color: @gray-light;
}


.bg-graydark,
.card-block-title.bg-graydark {
  background: @gray-medium;
  border-color: @gray-medium;
  color: white;
}

@media (max-width: @screen-xs-max) {
  .row-compact-space-mobile {
    margin-left: -@grid-gutter-width/4;
    margin-right: -@grid-gutter-width/4;
    > [class*="col-"] {
      padding-left: @grid-gutter-width/4;
      padding-right: @grid-gutter-width/4;
    }
  }
}

//overwrite date picker plugin styles
.uib-datepicker-popup.dropdown-menu {
  padding: 10px;
  border-color: @input-border;
  td,th { padding: 1px; }
  .uib-button-bar { padding: 10px 0;}
}

.carousel-inner > .item {
  min-height: 350px;
  padding:0 10%;
}
.carousel-control {
  background: none !important;
  width: 5%;
}

.carousel-indicators li { margin: 10px 15px !important;}

.table-wrap {
  display: table;
  width: 100%;
  height: 100%;
  .center-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.table-responsive { border: none; }

.badge {
  border: 1px solid white;
  min-width: 24px;
  min-height: 24px;
  line-height: 22px;
  padding: 0 4px;
  border-radius: 100%;
}

.table-options {
  border: 1px solid red;
  margin-bottom: 20px;
}

.list-item-bar-header {
  padding: 20px 80px 10px 30px;
  text-transform: uppercase;
  color: @brand-primary;
  .font-roboto-medium;
  &.compact { padding: 15px 50px 15px 15px; }
  &.no-arrow {
    padding-right: 30px;
    &.compact {padding-right:15px;}
  }
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.list-item-bar {
  background-color: @gray-lighter;
  border: 1px solid @gray-lighter;
  border-radius: 8px;
  padding: 30px 80px 30px 30px;
  margin: 0 0 10px 0;
  display: block;
  position: relative;
  color: @gray-dark;
  .mobile-label { display: none;}
  .list-item {
    display: block;
    &.with-checkbox {
      padding: 5px 0 0;
    }
  }
  &.no-result {
    background: transparent;
    border: transparent;
  }
  &.mark-border {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left:0;
      top:0; bottom:0;
      width: 5px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &.blue:before {background: @brand-primary;}
    &.gray:before {background: @gray;}
  }
  &.no-arrow {
    padding-right: 30px;
    &.compact {padding-right:15px;}
  }
  &.compact {
    padding: 15px 50px 15px 15px;
    .arrow-right { right: 12px; }
    &:hover .arrow-right { right: 2px; }
    .list-item-inner-dropdown {
      padding: 15px;
      margin: 15px -15px -15px -15px;
    }
  }
  .row {
    display: block;
    [class*="col-"] {
      display: block;
      .clearfix;
      .fa { font-size: 24px; }
    }
  }
  .list-item-inner-dropdown {
    background-color: darken(@gray-lighter, 5%);
    border-top: 1px solid @gray-light;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

  }
  .arrow-right {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -23px;
    transition: all 0.2s;
    i {
      color: @gray;
      font-size: 33px;
      transition: all 0.2s;
    }
  }
  &:hover {
    text-decoration: none;
    background-color: @color-bluelight;
    border-color: fade(@brand-primary, 40%);
    i { color: @brand-primary; }
    .arrow-right { right: 30px; }
    .badge { border-color:@brand-primary; }
  }
  @media (min-width: @screen-sm) {
    &.compact .badge { margin-top: -3px; margin-bottom: -2px; }
  }
  @media (max-width: @screen-xs-max) {
    .list-item {
      float: left;
      width: 60%;
    }
    .mobile-label {
      display: block;
      color: @brand-primary;
      .font-roboto-medium;
      width: 40%;
      float: left;
    }
    &.compact {
      padding-right: 35px;
      .arrow-right {right: 4px; }
    }
    .arrow-right {
      margin-top: -16px;
      i { font-size: 24px; }
    }
  }
}
.loader {
  font-size: 10px;
  margin: 0 0 0 -50px;
  text-indent: -9999em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(../img/loader.png) no-repeat center;
  position: absolute;
  left: 50%;
  top: 4%;
  -webkit-animation: loader-rotation 1.4s infinite linear;
  animation: loader-rotation 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  @media (min-width: @screen-sm){
    top: 6%;
  }
}

.input-lg ~ .field-loader {
    position: absolute;
    right: (@grid-gutter-width/2)+1;
    width: 50px;
    height: (@input-height-large)-2px;
    bottom: (@form-group-margin-bottom)+1;
    background: #fff;
    border: 1px solid transparent;
    border-top-right-radius: @border-radius-large;
    border-bottom-right-radius: @border-radius-large;
  .loader {
    width: 40px;
    height: 37px;
    background-size: 70%;
    left: 0;
    margin: 0;
  }
  @media (max-width: @screen-xs-max) {
    background: transparent;
    bottom: -5px;
  }
}
.report-lost-item {
  .card .card-block form shipping-address .overlay-loader {
    top: 80px;
  }
  .centered-form {
    .col-sm-6 {
      margin: auto;
      float: none;
    }
    .input-lg ~ .field-loader {
      bottom: 1px;
      @media (max-width: @screen-xs-max) { bottom: -5px;}
    }
  }
}
.overlay-loader {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  &:after {
    content: 'Checking Address';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #333 ;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 55px;
  }
  .loader {
    top: 50%;
    margin-top: -50px;
  }
  @media (max-width: @screen-xs-max) {
    top: 52px;
    position: fixed;
    &:after {
      top: 55%;
      font-size: 13px;
      left: 0;
      right: 0;
      transform: none;
      text-align: center;
    }
  }
}

.disabled-feature {
  position: relative;
  cursor: auto;
  display: inline-block;
  &.block { display: block; }
  &:after {
    position: absolute;
    content: '';
    top:0; right:0; bottom:0; left: 0;
    background: transparent;
    clear: both;
  }
  &:hover&:before {
    content: 'Feature coming soon';
    display: block;
    position: absolute;
    bottom: 105%;
    left: 0;
    white-space: nowrap;
    font-size: 12px;
    color: @text-color;
    background: lighten(yellow, 30%);
    border: 1px solid @gray;
    padding: 3px 5px;
  }
  .flag { opacity: 0.5}
}

.coming-soon {
  .card-title { margin: 0; }
}

.flag {
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  >span {
    background: url("../img/flag-sprite.png");
    display: inline-block;
    width: 30px;
    height: 18px;
    margin-right: 6px;
    &.en { background-position: 0 0; }
    &.fr { background-position: 25% 0; }
    &.ara { background-position: 50% 0; }
    &.es { background-position: 75% 0; }
    &.de { background-position: 100% 0; }
  }
}

.thumbnail-block {
  .list-unstyled;
  margin: 10px -7px;
  li {
    width: 70px;
    height: 70px;
    display: inline-block;
    border: 1px solid @gray-light;
    background-color: white;
    position: relative;
    margin: 7px;
    vertical-align: bottom;
    .counter {
      color: @brand-primary;
      text-align: center;
      font-size: 16px;
      .font-roboto-bold;
      padding-top: 23px;
    }
    .thumb-img {
      display: block !important;
      position: relative;
      overflow: hidden;
      height: 68px;
      width: 68px;
      img {
        .translate3Dcenter;
        height: 68px;
      }
      &.empty {
        background: @gray-lighter;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        &:before {
          display: inline-block;
          content:'No image';
          color: @gray-light;
          font-size: 22px;
        }
      }
    }
    .progress {
      position: absolute;
      bottom: 0;
      margin: 0;
      left: 0;
      right: 0;
      height: 5px;
      border-radius: 0;
      .box-shadow(none);
    }
    .close-thumb {
      cursor: pointer;
      position: absolute;
      top: -12px;
      right: -12px;
      width: 24px;
      height: 24px;
      background: #fff;
      color: @brand-primary;
      border: 1px solid @brand-primary;
      border-radius: 100%;
      text-align: center;
      line-height: 22px;
    }
    .file-error {
      font-size: 12px;
      text-align: center;
      padding: 5px;
      color: @alert-danger-text;
      position: absolute;
      top: 0;
      line-height: 1.2;
      background: white;
    }
    &.has-error {
      border-color: 1px solid @alert-danger-text;
    }
  }
  &.block-wide {
    li {
      width: 200px;
      height: 100px;
      .thumb-img {
        width: 198px;
        height: 98px;
        padding: 3px;
      }
    }
  }
  &.fit-img {
    li {
      .thumb-img {
        display: table-cell !important;
        vertical-align: middle;
        img {
          .cancel-translate3Dcenter;
          max-width: 100%;
          width: auto;
          height: auto;
          max-height: 100%;
        }
      }
    }
  }
  &.no-v-margin li { margin-top: 0; margin-bottom: 0;}
}

.fancybox-skin {
  @media (max-width: @screen-xs-max) {
    padding:7px !important;
  }
}


//============= TYPOGRAPHY ===============//

*{outline: none !important;}

.anchor {
  visibility: hidden;
  display: block;
  position: relative;
  top: -@navbar-height;
}
@media (max-width: @screen-sm-max) {
  .hotel-user .dashboard-content {
    .anchor {
      top: -(@navbar-height-mobile)-(@mobile-dash-bar-height)-(@grid-gutter-width/2);
    }
  }
}

h1, h2, h3 {
  line-height: 1.3;
}

h1 {
  text-transform: uppercase;
  margin: 0 0 @grid-gutter-width/1.5 0;
  .font-roboto-bold;
}

h2 {.font-roboto-bold;}

h3, h4, h5 { .font-roboto-medium; line-height: inherit }

@media (max-width: @screen-xs-max) {
  h1 { font-size: @font-size-h1/1.4; }
}

.close-btn {
  cursor: pointer;
  position: absolute;
  display: block;
  top:0;
  right:0;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  opacity: 0.8;
  color: white;
  .transition-all;
  float: right;
  &:hover { opacity: 1; }
}

p { margin-bottom: 15px; }

.text-larger { font-size: larger; }

.text-white { color: white; }
.text-base { color: @text-color !important; }

strong { .font-roboto-bold; }

hr.v-spaced {
  margin-top: 40px;
  margin-bottom: 40px;
}

.inline-block { display: inline-block; }

.no-v-margin { margin-top: 0; margin-bottom: 0;}
.no-top-margin { margin-top: 0 !important;}
.no-bottom-margin { margin-bottom: 0 !important;}

.mobile-v-margin {
  @media (max-width: @screen-xs-max) {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

@media (min-width: @screen-md) {
  .text-md-right {
    text-align: right;
  }
}

@media (min-width: @screen-sm) {
  .text-sm-center {
    text-align: center;
  }
  .pull-sm-right {
    float: right !important;
  }
}

.text-gray { color: @gray !important; }

.caps { text-transform: uppercase;}


.touchevents {
  .fancybox-nav span,
  .hotel-user .dashboard-wrap .dashboard-nav .user-welcome .edit { visibility: visible !important;}

}

.found-items-table {
  border-collapse:separate;
  border-spacing:0 10px;

  thead tr th {
    text-transform: uppercase;
    color: @brand-primary;
    font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: none;
  }
  tbody tr {
    cursor: pointer;
    td {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-right: none;
      border-left: none;
      vertical-align: middle;
      background: @gray-lighter;
      .text-primary();
      &:first-child {
        border-radius: 8px 0 0 8px;
        border-left: 1px solid #fff;
      }
      &:last-child {
        border-radius: 0 8px 8px 0;
        border-right: 1px solid #fff;
        padding-right: 50px;
        position: relative;
        .arrow-right {
          position: absolute;
          right: 30px;
          top: 50%;
          margin-top: -23px;
          transition: all 0.2s;
          i {
            color: @gray;
            font-size: 33px;
            transition: all 0.2s;
          }
        }
      }
    }
    &:hover {
      td {
        border-top: 1px solid lighten(@brand-primary, 20%) !important;
        border-bottom: 1px solid lighten(@brand-primary, 20%) !important;;
        .badge { border-color:@brand-primary; }
        &:first-child {
          border-left: 1px solid lighten(@brand-primary, 20%) !important;
        }
        &:last-child {
          border-right: 1px solid lighten(@brand-primary, 20%) !important;

        i { color: @brand-primary; }
        .arrow-right { right: 20px; }
        }
      }
    }
  }
}