/*--------------- IMPORTS ---------------*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import "../bower_components/bootstrap/less/bootstrap.less";
@import "_custom-bs-variables";

// neccesary to fix IE10 and IE11 faulty media query
// http://getbootstrap.com/getting-started/#support-ie10-width
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


@import "../bower_components/font-awesome/less/font-awesome";
@fa-font-path: "../bower_components/font-awesome/fonts";

@import "../fontello/css/fontello.css";

@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "_fancybox_overwrites";

@import "../bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css";

@import "../bower_components/intl-tel-input/build/css/intlTelInput.css";
@import "_intTelInput_overwrites";

/*------------ Variables ---------------*/
@footer-height: 280px;
@footer-height-mobile: 450px;
@topbar-height: 45px;
@navbar-height-mobile: 74px;
@site-max-width: 1500px;
@site-width: 1280px;

@company-dash-nav-width: 260px;
@mobile-dash-bar-height: 50px;

@color-bluelight: #e5f2f8;
@color-bluedark: #016A9C;
@color-bluedarker: #045880;

@rli-color-main: @brand-primary;
@rli-color-active: @gray-dark;

@colour-facebook: #3b5998;
@colour-twitter: #00aced;
@colour-gplus: #dd4b39;
@colour-linkedin: #007bb6;

.desktop-only {
  display: none !important;
  @media(min-width: 768px) {
    display: block !important;
  }
}
.mobile-only {
  display: none !important;
  @media(max-width: 767px) {
    display: block !important;
  }
}

.mobile-inline-only {
  display: none !important;
  @media(max-width: 767px) {
    display: inline-block !important;
  }
  @media (max-width: 993px) {
    &.md { display: inline-block !important; }
  }
}

.clear {clear:both;}

.transition-all {transition: all 0.2s;}

.translate3Dcenter {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3D(-50%, -50%, 0);
}

.show-inline {
  display: inline-block !important;
}

.cancel-translate3Dcenter {
    position:static;
    top:auto;
    left:auto;
    transform:none;
}

@import "icons-logos";

