// ===== Alert slide in/out animation for dashboard ==== //
@keyframes alert-slide-in {
  0% {right: -100%; opacity: 0}
  100% { right: 0; opacity: 1}
}
@-webkit-keyframes alert-slide-in {
  0% {right: -100%; opacity: 0}
  100% { right: 0; opacity: 1}
}

@keyframes alert-slide-out {
  0% {right: 0; opacity: 1}
  100% { right: -400px; opacity: 0}
}
@-webkit-keyframes alert-slide-out {
  0% {right: 0; opacity: 1}
  100% { right: -400px; opacity: 0}
}

// ===== Flashing of a field border when it is triggered ==== //
@keyframes flashField {
  0% { border-color: @input-border; }
  25% { border-color: @brand-primary;  }
  75% { border-color: @brand-primary;  }
  100% { border-color: @input-border; }
}

@-webkit-keyframes flashField {
  0% { border-color: @input-border; }
  25% { border-color: @brand-primary;  }
  75% { border-color: @brand-primary;  }
  100% { border-color: @input-border; }
}

// ===== Rotation animation for the page loader icon ==== //
@-webkit-keyframes loader-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
